article.story h1,
article.story h2,
article.story h3 {
	font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
}

article.story h1 {
	font-size: 60px;
	font-weight: 700;
	color: #767674;
}

@media (max-width: 767px) {
	article.story h1 {
		font-size: 32px;
	}
}

article.story h2 {
	font-size: 26px;
}

article.story #grad-chart {
	margin: 0 50px;
}

article.story hr {
	border-top: 1px solid #a3a55d;
}

#chartjs-tooltip {
	color: #fc0;
}
