//
// Site header/navigation styles
//

.header-pulldown {
  overflow-y: hidden;
  position: relative;
}

.site-header {
  position: relative;
}

.site-nav {
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  top: 0;
  z-index: 1;
}

// Pegasus title logo
.header-logo {
  @include sprite();
  background-position: 0 0;
  height: 15px;
  position: relative;
  width: 97px;
}

// General - Mobile nav, Issue, Archives list items
.nav-pulldown-toggle {
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    position: relative;
  }

  &[aria-expanded='true']::after {
    border-bottom: 1rem solid #fff;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    content: '';
    display: block;
    height: 0;
    left: calc(50% - 2rem);
    position: absolute;
    top: -1.5rem; // TODO magic number
    width: 0;
    z-index: 6;
  }
}

.navbar-link {
  color: #222;
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;

  @include hover-focus-active {
    color: #222;
    text-decoration: none;

    .navbar-link-icon {
      @include transition;
      color: $brand-primary;
    }

    .navbar-link-text {
      @include transition;
      text-decoration: underline;
      text-decoration-color: #222;
      text-decoration-thickness: 2px;
    }
  }

  &[aria-expanded='true'] {
    .navbar-link-icon {
      color: $brand-primary;
    }

    .navbar-link-text {
      text-decoration: underline;
      text-decoration-color: $brand-primary;
      text-decoration-thickness: 3px;
    }
  }

  .navbar-link-icon {
    @include font-smoothing();
    display: inline-block;
    font-family: 'icomoon';
    font-weight: normal;
    line-height: 1;
    margin-right: .125rem;
    text-rendering: auto;
  }

  .navbar-link-text {
    text-underline-offset: 9px; // TODO magic number
  }
}

.nav-issue {
  .navbar-link-icon::before {
    content: '\e600';
  }
}

.nav-archives {
  .navbar-link-icon::before {
    content: '\e601';
  }
}

.navbar-toggler {
  margin: 0;
}

.navbar-toggler-icon {
  height: 1.5rem;
  width: 1.5rem;
}
