$primary: #cc9;
$secondary: #fff;
$light: 'OpenSansCondensedLight', sans-serif;
$bold: 'OpenSansCondensedBold', sans-serif;

#background {
  background-position: center center;
  background-size: cover;
}

.modal.fade {
  .modal-dialog {
    transform: none;
    transition: transform .3s ease-out;
  }

  &.in {
    .modal-dialog {
      transform: translate(0, 40%);
    }
  }
}

.detail {
  .modal-content {
    background: #000;

    .detail-inner {
      border: 1px solid $primary;
      padding: 12px;

      .close {
        color: $secondary;
      }
    }

    h2 {
      border-bottom: 1px solid $secondary;
      color: $secondary;
      font-family: $light;
      font-size: 32px;
      margin-bottom: 0;
      padding-bottom: 4px;
      text-transform: uppercase;
    }

    .planet-subtitle {
      color: $primary;
      font-family: $bold;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
    }

    p {
      color: $secondary;
      font-family: $light;
      font-size: 22px;
    }

    .term {
      color: $primary;
      font-family: $bold;
    }
  }
}

h1 {
  display: inline-block;
  color: $primary !important;
  font-family: $bold;
  font-size: 3em;
  letter-spacing: 4px;
  text-transform: uppercase;

  .h1-white {
    display: block;
    color: $secondary;
    font-size: .65em;
    text-align: right;
  }
}

#intro-text {
  display: none;
  color: $primary;
  font-family: $light;
  font-size: 1.3em;
  text-align: left;
}

.planets,
.static {
  display: inline;
  position: absolute;

  img {
    display: inline-block;
    position: absolute;
  }

  .planet {

    img {
      position: relative;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .sun {
    left: 0;
    top: 0;
  }

  .flare {
    left: 0;
    top: 0;
  }

  .astroid-belt {
    left: 27%;
    top: 0;
    z-index: 0;
  }

  .kuiper-belt {
    left: 90%;
    top: -8%;
  }

  .mercury {
    height: 8%;
    left: 15.5%;
    top: 30%;
    width: 5%;
  }

  .venus {
    height: 8.5%;
    left: 20.6%;
    top: 50%;
    width: 5%;
  }

  .earth {
    height: 12%;
    left: 28.5%;
    top: 40%;
    width: 7%;
  }

  .moon {
    height: 5%;
    left: 27%;
    top: 24%;
    width: 2.5%;
  }

  .osirus-rex {
    height: 8%;
    left: 35%;
    top: 30%;
    width: 2%;
  }

  .mars {
    height: 13.5%;
    left: 35.75%;
    top: 15%;
    width: 8%;
    z-index: 2;
  }

  .jupiter {
    height: 30%;
    left: 47%;
    top: 25%;
    width: 18%;
  }

  .saturn {
    height: 20%;
    left: 61%;
    top: 55%;
    width: 20%;
  }

  .uranus {
    height: 24%;
    left: 78%;
    top: 10%;
    width: 7%;
  }

  .neptune {
    height: 14%;
    left: 85%;
    top: 40%;
    width: 8%;
  }

  .pluto {
    height: 4.5%;
    left: 91.75%;
    top: 20%;
    width: 3%;
  }

  .upsilon {
    border: 1px solid $primary;
    padding: 4px 8px;
    height: 15%;
    left: 65%;
    top: 82%;
    width: 25%;

    img {
      height: 75%;
      width: 25%;      
    }
  }

  div {
    position: absolute;
  }

  .h2 {
    color: $secondary;
    display: block;
    font-family: 'OpenSansCondensedLight';
    margin-top: 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }
}
