$primary: #cc9;
$secondary: #fff;
$background: #000;
$light: 'OpenSansCondensedLight', sans-serif;
$bold: 'OpenSansCondensedBold', sans-serif;

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.background {
  background-position: center center;
  background-size: cover;
  height: 56.25vw;
  width: 100vw;
}

.h1 {
  border-bottom: 1px solid $secondary;
  color: $primary;
  display: inline-block;
  font-family: $bold;
  font-size: 1.5em;
  text-transform: uppercase;

  @media(max-width: 768px) {
    display: block;
    text-align: center;
    font-size: 3em;
  }
}

.title-instructions {
  display: block;
  opacity: 1;
  left: 10%;
  position: absolute;
  top: 10%;
  transition: opacity .5s ease;
  width: 300px;
  z-index: 10;

  a {
    color: $primary;
    font-family: $bold;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  p {
    color: $secondary;
    font-family: $light;
  }

  &.invisible {
    opacity: 0;
  }
}

#intro-screen {
  transform: translate(0, 25%);

  .detail-inner {
    padding: 12px 110px;
  }

  h1 {
    border-bottom: 1px solid $secondary;
    color: $primary;
    display: block;
    font-family: $bold;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }

  .intro-text {
    color: $secondary;
    font-family: $light;
    font-size: 1.2em;
    margin: 12px 0 24px;
    text-align: left;
  }

  .btn-explore {
    border: 1px solid $primary;
    border-radius: 0;
    color: $secondary;
    display: inline-block;
    margin-left: 123px;
    margin-right: 123px;
    width: 100px;
  }
}

.detail {
  .modal-content {
    background: $background;

    .detail-inner {
      border: 1px solid $primary;
      padding: 12px;
    }

    .close {
      color: $secondary;
    }

    h2 {
      border-bottom: 1px solid $secondary;
      color: $secondary;
      font-family: $light;
      font-size: 32px;
      margin-bottom: 0;
      padding-bottom: 4px;
      text-transform: uppercase;
    }

    .planet-subtitle {
      color: $primary;
      font-family: $bold;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
    }

    p {
      color: $secondary;
      font-family: $light;
      font-size: 22px;
    }

    .term {
      color: $primary;
      font-family: $bold;
    }
  }
}

.planets,
.static {
  display: inline;
  position: absolute;
  z-index: 1;

  img {
    display: inline-block;
    position: absolute;
    z-index: 1;
  }

  div {
    position: absolute;
  }
}

.researcher {
  display: inline-block;
  text-align: center;
  width: 100px;

  p.caption {
    color: $primary;
    display: inline-block;
    font-family: $bold;
    text-align: center;

    .title {
      color: $secondary;
      display: block;
      font-family: $light;
      font-size: 16px;
      font-style: italic;
      margin-top: 2px;
    }
  }
}

.selector {
  display: none;
}

.mobile {
  background-color: #051733;
  //background-size: cover;
  //background-repeat: no-repeat;

  .selector {
    display: none;
     @media(max-width: 767px) {
       display: inline;
       float: right;
       transition: transform .3s ease;
     }
  }

  p {
    color: $secondary;
    font-family: $bold;
    font-size: 18px;

    &.lead {
      font-family: $bold;
    }
  }

  h2 {
    color: $secondary;
    display: inline;
    font-family: $bold;
    font-size: 24px;
    margin: 0 24px;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  .planet-subtitle {
    clear: both;
    color: $primary;
    font-family: $light;
    font-size: 3em;
    text-transform: uppercase;
  }

  .term {
    color: $primary;
    font-family: $bold;
  }

  .planet-thumb {
    display: inline;
    height: 24px;
    margin-bottom: 8px;
    width: 24px;
  }

  .instructions {
    padding: 0 20%;

    p {
      color: $primary;
      text-align: center;
    }
  }

  .detail-inner {

    border-bottom: 1px solid $secondary;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media(max-width: 767px) {
    .expand-toggle {
      padding-bottom: 8px;
      display: block;

      &.active {
        .selector {
          transform: rotate(90deg);
        }
      }
    }

    .expand {
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s ease;

      &.active {
        max-height: 2000px;
        margin-bottom: 18px;
      }
    }
  }
}
