body { background: #E2E5DC; }

#header { background-color: #4FB5E7; }
#footer { background-color: #91908F; }

.container-wide { width: 100%; }
#body_content { height: 0; }

#cover { 
	overflow: auto;
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}
#cover h1 {
	display: block; 
	text-indent: -9999px; 
	width: 0;
	height: 0;
	line-height: 0;
}
#cover #logo { text-align: right; padding: 0 5% 10px 0; margin-bottom: 10px; }
#cover #logo img { width: 375px; height: auto; }

@media (max-width: 767px) {
	.container-wide {
		margin-left: -20px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	#cover { min-height: 550px; }
	#cover #logo { padding-right: 0; }
	#cover #logo img { width: 320px; }
}