/* Rosen */

p {color:#262626;}
p.prominent {font-size:20px;}
p.caption {font-family:"Helvetica Neue",Helvetica,sans-serif;color:#b59d48;}
p.excerpt {font-size:23px;font-style:italic;}
.section p.excerpt {color:#e3c353;}
.section.gold p.excerpt {color:#fdeebb;}
/*
 * Intro
 */

.intro {
	min-height:802px;
}
.intro #big,
.intro #enough,
.intro #tag {font-family:Georgia;text-shadow:5px 10px 15px rgba(0,0,0,.53);}
.intro #big {
	color:#e3c353;
	font-size:160px;
	font-family:Georgia;
	margin-top:110px;
	line-height:1em;
}
.intro #enough {
	color:#FFF;
	font-size:45px;
}
.intro #tag {
	color:#FFF;
	font-size:18px;
	margin-top:55px;
}

/*
 * Sections
 */
.section {padding-top:1.5em;}
.section h3 {font-size:20px;letter-spacing:1.5px;line-height:1em;}
.section.photo {padding-top:0;}
.section.gold {background-color:#e3c353;}
.section.gold .caption {color:#262626;font-family:Georgia;}
.section.gold h3 {color:#fbfaf6;}
.section.first {
	padding-top:0;
	z-index:1;
	margin-top:-270px;
	background-color:rgba(255,255,255,.85);
}
#rosen-dogs {margin-top:45px;}