@media (max-width: 979px) {
	/**************************
	 * DEPRECATED - DO NOT USE
	 **************************/

	.container.wide > .row { width: 768px; }


	/**************************
	 * General
	 **************************/

	.logo-large-white {
		background-position: 0 -16px;
		width: 147px;
		height: 22px;
	}


	/**************************
	 * Header
	 **************************/

	/* Issue, Archives links */
	li#nav-issue a,
	li#nav-archives a { font-size: 13px; line-height: 13px;	}


	/**************************
	 * Footer
	 **************************/

	#footer-navigation a { font-size: 15px; }

	#footer-navigation .footer-logo,
	#footer-navigation .footer-ipad-app { padding-bottom: 30px; }
	#footer-navigation .footer-logo { margin-top: 8px; }

	#footer-navigation li:before { font-size: 16px; }

	#footer-navigation .copyright { font-size: 13px; padding-top: 30px; }
}


@media (max-width: 979px) and (min-width: 768px) {
	/**************************
	 * Header
	 **************************/

	/* About Pegasus Magazine link */
	li#nav-about a { font-size: 11px; } 
}


@media (max-width: 767px) {	
	/**************************
	 * DEPRECATED - DO NOT USE
	 **************************/

	.container.wide > .row { width: 100%; }	


	/**************************
	 * Utility
	 **************************/

	.container-wide { margin-left: -20px; padding-left: 20px; padding-right: 20px; }
	

	/**************************
	 * Shrinkable bootstrap tables for tablets/phones.
	 * Responsive table guide via css-tricks.com/responsive-data-tables/
	 **************************/
	table.table.table-striped, 
	.table.table-striped thead, 
	.table.table-striped tbody, 
	.table.table-striped th, 
	.table.table-striped td, 
	.table.table-striped tr {
		display: block;
	}
	.table.table-striped tbody {
		width: 100%;
	}
	.table.table-striped thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table.table-striped tr {
		margin: 10px 0 0 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.table.table-striped tbody tr td:empty {
		display: none;
	}
	.table.table-striped td, 
	.table.table-striped td.name, 
	.table.table-striped td.email, 
	.table.table-striped td.job_title, 
	.table.table-striped td.phones {
		width: auto;
	}
	.table.table-striped td.name {
		font-size: 14px;
	}
	.table.table-striped td.job_title {
		border-top: 0;
	}
	.table.table-striped tbody tr td ul {
		margin-bottom: 0;	
	}
	.table.table-striped td.phones ul li {
		line-height: 16px;
	}
	.table.table-bordered {
		border: 0;
	}
	.table.table-bordered tbody tr td {
		border-left: 0;
	}

}


@media (max-width: 480px) {
	
}


@media (max-width: 320px) {

}