@media (max-width: 979px) {
	/**************************
	 * General
	 **************************/

	.logo-large-white {
		background-position: 0 -16px;
		width: 147px;
		height: 23px;
	}


	/**************************
	 * Header
	 **************************/

	/* Issue, Archives links */
	li#nav-issue a,
	li#nav-archives a { font-size: 13px; line-height: 13px;	}


	/**************************
	 * Stories - General
	 **************************/
	article.story .story-header-image { height: 490px; max-width: 980px; margin-bottom: 60px; }

	article.story blockquote.quote { padding-left: 42px; }
	article.story blockquote.quote:before {	font-size: 95px; line-height: 92px;	}

	article.story .callout-inner > div:not([class]),
	article.story .callout-inner .wp-video-shortcode,
	article.story .callout-inner .mejs-overlay,
	article.story .callout-inner .mejs-poster,
	article.story iframe {
		height: 280px !important;
	}


	/**************************
	 * Story - Default Template
	 **************************/
	article.story-default .description,
	article.story-default .social-wrap {
		width: 100%;
	}
	article.story-default .description { padding-right: 0; margin-bottom: 20px; }
	article.story-default .social { float: left; }


	/**************************
	 * Story - Slideshow
	 **************************/
	main.ss-photo-essay{ height: 500px; }
	article.ss-photo-essay { padding-top: 5%;}
	.ss-photo-essay .ss-slides-wrapper { height: 65%; }
	.ss-photo-essay .ss-arrow-wrapper { top: 20%; }
	.ss-photo-essay .ss-captions-wrapper { height: 30%; }


	/**************************
	 * Footer
	 **************************/

	#footer-navigation a { font-size: 15px; }

	#footer-navigation .footer-logo,
	#footer-navigation .footer-ipad-app { padding-bottom: 30px; }
	#footer-navigation .footer-logo { margin-top: 8px; }

	#footer-navigation li:before { font-size: 16px; }

	#footer-navigation .copyright { font-size: 13px; padding-top: 30px; }


	/**************************
	 * DEPRECATED - DO NOT USE
	 **************************/

	.container.wide > .row { width: 768px; }

	/* Footer */
    #footer #footer_hr { width: 768px; }

    #footer_stories>div, #footer_navigation>div { margin-left: 15px; }
    #footer_stories { padding-top: 10px; }
}


@media (max-width: 979px) and (min-width: 768px) {
	/**************************
	 * Header
	 **************************/

	/* About Pegasus Magazine link */
	li#nav-about a { font-size: 11px; }


	/**************************
	 * DEPRECATED - DO NOT USE
	 **************************/

	.footer_stories.bottom li { height: 170px; }
    #footer_navigation ul li {margin-left:14px;}
    #footer_navigation ul li a {font-size:13px;}
}


@media (max-width: 767px) {
	/**************************
	 * Utility
	 **************************/

	.container-wide { margin-left: -20px; padding-left: 20px; padding-right: 20px; }


	/**************************
	 * Header Pulldown Menu
	 **************************/

	/* General */
	.pulldown-container ul { margin-left: -20px; padding-right: 40px; padding-bottom: 0; }
	.pulldown-container ul li:last-child { margin-right: -20px; }

	/* Pulldown controls */
	.pulldown-container .controls { display: none; }


	/**************************
	 * Header
	 **************************/

	/* General - nav, nav ul */
	#header-navigation ul { text-align: center; }

	/* General - nav list items */
	#header-navigation li { display: inline-block; }

	/* Peg logo, Mobile nav, Issue, Archives list items */
	li#nav-about,
	li#nav-issue,
	li#nav-archives,
	#header-navigation .header-logo.mobile-nav-visible {
		display: none;
	}
	#header-navigation ul.mobile-nav-visible li#nav-issue,
	#header-navigation ul.mobile-nav-visible li#nav-archives {
		display: inline-block;
		float: none;
	}
	#header-navigation ul li#nav-issue { margin-left: -30px; }


	/**************************
	 * Stories - General
	 **************************/
	article.story .story-header-image { margin-left: -20px; margin-bottom: 25px; height: auto; background-size: 118%; }
	article.story .story-header-image img { position: static; visibility: hidden; padding-bottom: 8%; }
	article.story .description-wrap { margin-bottom: 35px; }

	article.story h2 { font-size: 34px; line-height: 34px; margin-bottom: 10px; }
	article.story p { margin-bottom: 20px; }

	article.story .description { font-size: 18px; line-height: 24px; margin-bottom: 25px; }
	article.story .lead { font-size: 17px; line-height: 27px; margin-bottom: 30px; }
	article.story .lead::first-letter,
	article.story .lead:first-letter { font-size: 30px; font-weight: bold; }
	article.story blockquote,
	article.story blockquote p {
		font-size: 28px;
		line-height: 34px;
	}
	article.story blockquote small { font-size: 16px; line-height: 20px; }
	article.story blockquote.quote { padding-left: 36px; }
	article.story blockquote.quote:before {
		font-size: 76px;
		line-height: 74px;
		left: -7px;
	}

	article.story .sidebar.pull-right,
	article.story .sidebar.pull-left {
		float: left;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}


	/**************************
	 * Story - Default Template
	 **************************/
	article.story-default .title-wrap { margin-bottom: 15px; }


	/**************************
	 * Story - Slideshow
	 **************************/
	.ss-embed .ss-slides-wrapper { height: 280px; }
	.ss-embed .ss-arrow-wrapper { top: 140px; }

	.ss-photo-essay .ss-slides-wrapper { height: 50%; }
	.ss-photo-essay .ss-arrow-wrapper { top: 20%; }
	.ss-photo-essay .ss-captions-wrapper { height: 50%; }


	/**************************
	 * Footer
	 **************************/

	#footer-navigation { padding-top: 40px; padding-bottom: 25px; }
	#footer-navigation .footer-logo,
	#footer-navigation .footer-logo.pull-left,
	#footer-navigation .footer-logo a,
	#footer-navigation .footer-ipad-app,
	#footer-navigation .footer-ipad-app.pull-right {
		float: left;
		clear: both;
	}
	#footer-navigation .footer-logo,
	#footer-navigation .footer-logo.pull-left {
		padding-bottom: 20px;
		width: 100%;
	}

	#footer-navigation ul { text-align: left; }
	#footer-navigation li { width: 100%; line-height: 32px; }
	#footer-navigation li:before { content: ""; padding: 0; }

	#footer-navigation .copyright { text-align: left; }


	/**************************
	 * Shrinkable bootstrap tables for tablets/phones.
	 * Responsive table guide via css-tricks.com/responsive-data-tables/
	 **************************/
	table.table.table-striped,
	.table.table-striped thead,
	.table.table-striped tbody,
	.table.table-striped th,
	.table.table-striped td,
	.table.table-striped tr {
		display: block;
	}
	.table.table-striped tbody {
		width: 100%;
	}
	.table.table-striped thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table.table-striped tr {
		margin: 10px 0 0 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.table.table-striped tbody tr td:empty {
		display: none;
	}
	.table.table-striped td,
	.table.table-striped td.name,
	.table.table-striped td.email,
	.table.table-striped td.job_title,
	.table.table-striped td.phones {
		width: auto;
	}
	.table.table-striped td.name {
		font-size: 14px;
	}
	.table.table-striped td.job_title {
		border-top: 0;
	}
	.table.table-striped tbody tr td ul {
		margin-bottom: 0;
	}
	.table.table-striped td.phones ul li {
		line-height: 16px;
	}
	.table.table-bordered {
		border: 0;
	}
	.table.table-bordered tbody tr td {
		border-left: 0;
	}


	/**************************
	 * DEPRECATED - DO NOT USE
	 **************************/

	.container.wide > .row { width: 100%; }

	/* Footer story thumbnails */
    .footer_stories { padding: 30px 0 0 0; }
    .footer_stories .thumbnails { margin-left: -20px; }
    .footer_stories .span3,
    .footer_stories .span2,
    .header_stories .span3 { width: 130px; height: 200px; overflow: hidden; margin-bottom: 5px; }
    .footer_stories .title { margin-left: 0 !important; font-size: 13px !important; line-height: 15px !important; }
    .footer_stories a span.subtitle_text { padding-top: 5px; }
    .footer_stories a span.subtitle_text,
    .footer_stories a span.title_colon { display: none; }

    /* Footer */
    #footer #footer_hr { margin-left: 20px; width: 100%; }
	#footer { margin-left: -20px; padding-right: 40px; }
	#footer > .container > .row { margin-left: 20px; }

	#issue-carousel .item .issue-title { font-size: 18px; }
	#issue-carousel .carousel-control { font-size: 12px; }
	#issue-carousel .carousel-control,
	#issue-carousel .carousel-control.left .arrow,
	#issue-carousel .carousel-control.right .arrow { line-height: 30px; }

	#footer_navigation ul { padding-top: 10px; }
	#footer_navigation ul li { display: inline; width: 100%; margin-left: 0; }

}


@media (max-width: 480px) {
	/**************************
	 * Stories - General
	 **************************/
	article.story .callout-inner > div:not([class]),
	article.story .callout-inner .wp-video-shortcode,
	article.story .callout-inner .mejs-overlay,
	article.story .callout-inner .mejs-poster,
	article.story iframe {
		height: 220px !important;
	}

}


@media (max-width: 320px) {
	/**************************
	 * Story - Slideshow
	 **************************/
	.ss-embed .ss-slides-wrapper { height: 140px; }
	.ss-embed .ss-arrow-wrapper { top: 50px; }

	main.ss-photo-essay{ height: 400px; }
	.ss-photo-essay .ss-slides-wrapper { height: 40%; }
	.ss-photo-essay .ss-arrow-wrapper { top: 15%; }
	.ss-photo-essay .ss-captions-wrapper { height: 60%; }
}
