@media (max-width: 979px) {
	/* Header */
	#header { }
	#header>.row { width: 750px; margin: auto; }
	#header .title { width: 162px; margin-right: 40px; }
	#header .description { display: none; }
	
	/* Content */
	.container.wide > .row {
		width: 754px;
	}
	
	/* Footer */
	#footer #footer_hr { width: 754px; }
	
	#footer_stories>div, #footer_navigation>div { margin-left: 15px; }
	#footer_stories { padding-top: 10px; }
}

@media (max-width: 979px) and (min-width: 768px) {
	#footer_navigation ul li {margin-left:14px;}
	#footer_navigation ul li a {font-size:13px;}
}

@media (max-width: 767px) {	
	/* Header */
	#header { margin-left: -20px; padding-right: 40px; }
	#header > .row, #header > .row > .span12 { width: 315px; float: left; margin: none; }
	#header .title { background-size: 125px 19px; width: 125px; position: relative; left: 65px; }
	#header .issue { font-size: 10px; letter-spacing: 1.1px; width: 85px; position: absolute; top: 0; right: 25px; }
	#header .toggle_story_nav { top: 0; left: 10px; }
	
	/* Header/Footer story thumbnails */
	.header_stories { margin-left: -20px; padding-right: 40px; }
	.header_stories>.row { margin-left: 20px !important; }
	.thumbnails { margin-left: -20px; }
	.footer_stories .span3, 
	.footer_stories .span2, 
	.header_stories .span3, 
	.header_stories .span2 { width: 125px; height: 200px; overflow: hidden; margin-bottom: 5px; }
	.header_stories .title, .footer_stories .title { margin-left: 0 !important; font-size: 13px !important; line-height: 15px !important; }
	.footer_stories a span.subtitle_text, .header_stories a span.subtitle_text { padding-top: 5px; }
	.header_stories .row a .subtitle_text, 
	.header_stories .row a .title_colon,
	.footer_stories a span.subtitle_text, 
	.footer_stories a span.title_colon { display: none; }
	
	/* Content */
	#body_content { }
	.container.wide > .row { width: 100%; }
	
	/* Footer */
	#footer #footer_hr { margin-left: 20px; width: 100%; }
	#footer { margin-left: -20px; padding-right: 40px; }
	#footer > .container > .row { margin-left: 20px; }
	
	#issue-carousel .item .issue-title { font-size: 18px; }
	#issue-carousel .carousel-control { font-size: 12px; }
	#issue-carousel .carousel-control, 
	#issue-carousel .carousel-control.left .arrow,
	#issue-carousel .carousel-control.right .arrow { line-height: 30px; }
	
	#footer_navigation ul { padding-top: 10px; }
	#footer_navigation ul li { display: inline; width: 100%; margin-left: 0; }
	
	
	/* Shrinkable bootstrap tables for tablets/phones.
	Responsive table guide via css-tricks.com/responsive-data-tables/ */
	table.table.table-striped, 
	.table.table-striped thead, 
	.table.table-striped tbody, 
	.table.table-striped th, 
	.table.table-striped td, 
	.table.table-striped tr {
		display: block;
	}
	.table.table-striped tbody {
		width: 100%;
	}
	.table.table-striped thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table.table-striped tr {
		margin: 10px 0 0 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.table.table-striped tbody tr td:empty {
		display: none;
	}
	.table.table-striped td, 
	.table.table-striped td.name, 
	.table.table-striped td.email, 
	.table.table-striped td.job_title, 
	.table.table-striped td.phones {
		width: auto;
	}
	.table.table-striped td.name {
		font-size: 14px;
	}
	.table.table-striped td.job_title {
		border-top: 0;
	}
	.table.table-striped tbody tr td ul {
		margin-bottom: 0;	
	}
	.table.table-striped td.phones ul li {
		line-height: 16px;
	}
	.table.table-bordered {
		border: 0;
	}
	.table.table-bordered tbody tr td {
		border-left: 0;
	}

}

@media (max-width: 480px) {
	
}

@media (max-width: 320px) {
	/* Story Nav */
	
	
	/* Footer */
}