/** 
 * Nano article styles
 * @author Jo Greybill
 *  
**/

/* Site Header/Footer Styles */
div#header, #header .issue .dropdown-menu {
	background-color: #182a45;
}
div#header .span12 {
	height: 50px;	
}
div#header .container {
	width: 940px;	
}
div#header .container .row {
	margin-left: -20px;	
}
div#header .row .description {
	width: 280px;	
}

.header_stories h3 {
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
}
#footer h2 { font-size: 24px; }
#footer h2, h3.issue-title, span.issue-title { font-weight: bold; line-height: auto; }


#footer {
	background-color: #0d254e;	
}
#footer_navigation, #footer_stories {
	border-top: 1px solid #101B2D;
}

/* Article Styles */
	body {
		background: #000211;
		color: #fff;
	}
	
	p {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 0;
		padding: 0;
	}
	
	div.container {
		width:100%;	
	}
	
	.row {
		margin-left: -20px;	
	}
	
	.span7 {
		width: 590px;	
	}
	
	h1 {
		font-size: 125px;
		/*text-transform: uppercase;*/
		font-weight: 100;
		line-height: 150px;
	}
	
	h2, h3, h4 {
		font-weight: 200;
		color: #3a86cc;
	}
		h2 {
			font-size: 36px;
			margin-bottom: 40px;
			line-height: 40px;
		}
		h3 {
			font-size: 24px;
			margin: 25px 0 -7px 0;
			line-height: 24px;
		}
		h4 {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 3px;
			line-height: 14px;
			margin-top: 1.5em;
		}
	
	div.rowwrap {
		width: 967px;
		margin: auto;
		overflow: auto;
	}
	
	div.caption p {
		font-size: 14px;
		line-height: 18px;
		color: #cee3f6;	
	}
	
	div#hand_bg_wrap {
		width: 100%;
		overflow: auto;	
	}
	
	div.intro {
		background: #0d254e top center repeat-x;
		width: 100%;
		margin-left: 0;
		/*max-width: 1284px;*/
	}
		.intro .span7 {
			padding-top: 110px;
		}
		.intro #caption_microchip {
			padding-top: 740px;	
			width: 140px;
		}
	div#section1_bottom {
		background: #0d254e bottom center repeat-x;
		margin: auto;
		/*max-width: 1284px;*/
		padding-bottom: 50px;
	}
		#section1_bottom #caption_thinkingbig {
			width: 298px;	
			margin-left: 50px;
		}
	div#section2 {
		background: #d6dfee;
		/*max-width: 1284px;*/	/* Remove this to make this section span 100% width of page */
		margin: auto;
		padding-bottom: 30px;
	}
		#section2 h3 {
			text-transform: uppercase;
			font-size: 22px;
			line-height: 22px;	
			padding-top: 12px;
		}
		#section2 h4 {
			text-transform: none;
			color: #000;
			font-size: 16px;
		}
		#section2 p, #section2 ul {
			color: #000;	
		}
		#section2 a {
			text-decoration: underline;	
		}
		#section2 ul, #section2 .caption p {
			font-size: 14px;	
		}
			#section2 ul.list_left, #section2 ul.list_right {
				width: 42%;
			}
			#section2 ul li {
				margin-bottom: 10px;
				list-style-type: disc;
			}
		#section2 .caption {
			padding-top: 25px;
		}
			#section2 .caption img {
				border: 2px solid #fff;
			}
	div#section3 {
		background: #0d254e top center repeat-x;
		/*max-width: 1284px;*/	/* Remove this to make this section span 100% width of page */
		margin: auto;
		padding: 50px 0;
	}
		#section3 .offset1 {
			margin-left: 50px;	
		}
		#section3 blockquote {
			width: 260px;
			border-left: 1px solid #d6dfee;
			margin-top: -20px;
		}
			#section3 blockquote p {
				font-weight: 100;
				color: #cee3f6;
				font-style: italic;
				font-size: 22px;
				line-height: 26px;
				letter-spacing: 1px;
				padding: 0;
			}
		#section3 span.quote_left {
			display: block;
			width: 60px;
			height: 46px;
			margin: 100px 0 0 12px;
		}
		#section3 span.quote_right {
			display: block;
			width: 60px;
			height: 46px;
			margin: 15px 0 0 12px;
		}
	div#section4 {
		background: #031123;	
		/*max-width: 1284px;*/	/* Remove this to make this section span 100% width of page */
		margin: auto;
		padding: 0 0 120px 0;
	}
		#section4 h3 {
			font-weight: bold;
			padding-top: 15px;
		}
		#section4 .span9 {
			padding-top: 78px;	
		}
		
     
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
	div.rowwrap, .rowwrap .span10.offset1 {
		width: 88%;
		margin: auto !important;	
	}

	.span7, .span6, .span4 {
		width: 100%;	
		margin-left: 0 !important;
	}
	#hand_bg_wrap .span7 {
		width: 66%;
		margin-left: 0 !important;
	}
	
	.caption {
		display: none;	
	}
	
	.intro {
		background-image: none !important;	
	}
	#hand_bg_wrap {
		background-size: 767px 471px !important;	
	}
	h1 {
		font-size: 100px;
		line-height: 100px;	
	}
	h2 {
		font-size: 25px;
		line-height: 25px;	
	}
	
	#section2 ul.list_left, #section2 ul.list_right {
		width: 40% !important;
	}
	
	/* Header fixes */
	#header .row, #header .row .span12, #header .row .span12 .row {
		width: 100%;	
	}
	#header .toggle_story_nav {
		margin-left: 10px;
		left: 0;	
	}
	#header .row .span12 .row {
		width: 100%;
		margin: auto;	
	}
	#story_nav .row {
		width: 100%;	
	}
	#story_nav .row .span12 {
		width: 100%;
		float: none !important;	
	}
		#story_nav .row .span12 h3 {
			width: 90%;
		}
		#story_nav .row .span12 .row {
			margin: auto;
		}
		#story_nav .row .span12 {
			margin-left: 0;	
		}
			#story_nav .row .span12 h3 {
				margin-left: 20px;
			}
	.title {
		left: 45px !important;	
	}
		
	/* Footer fixes */
	#footer_stories {
		width: 100%;	
	}
	#footer_stories .span12, #footer_navigation .span12 {
		width: 93%;	
	}
	#footer_stories {
		margin-left: 0;	
	}
	#footer_stories .span12 h2, #footer_navigation {
		width: 100%;	
	}
	#footer_navigation .span12 {
		margin-left: 20px;
	}
	
}
     

/* Portrait tablet to landscape and desktop */
@media only screen and
(min-width: 768px) 
and (max-width: 979px) {
	
	div.rowwrap, .rowwrap .span10.offset1 {
		width: 750px;
		margin: auto;	
	}
	
	.span7 {
		width: 500px;	
	}
	.span4.offset1 {
		width: 230px;
		margin-left: 70px !important;	
	}
	#caption_thinkingbig {
		width: 200px !important;
		margin-left: 20px !important;	
	}
	
	.span6 {
		width: 345px;	
	}
	
	#section3 .span4 {
		width: 195px !important;
		margin-left: 20px !important;	
	}
	#section3 blockquote {
		width: 190px !important;	
	}
		
	/* Header fixes */
	#header .row, #header .row .span12, #header .row .span12 .row {
		width: 100%;	
	}
	#header .toggle_story_nav {
		margin-left: 10px;
		left: 0;	
	}
	#header .row .span12 .row {
		width: 750px;
		margin: auto;	
	}
	#story_nav .row {
		width: 750px;	
	}
	#story_nav .row .span12 {
		width: 750px;
		float: none !important;	
	}
		#story_nav .row .span12 h3 {
			width: 750px;
		}
		#story_nav .row .span12 .row {
			margin: auto;
		}
		#story_nav .row .span12 {
			margin-left: 0;	
		}
			#story_nav .row .span12 h3 {
				margin-left: 20px;
			}
	.title {
		left: 45px !important;	
	}
		
	/* Footer fixes */
	#footer_stories, #footer_stories .span12, #footer_stories .span12 h2, #footer_navigation {
		width: 750px;	
	}	
		#footer_stories, #footer_navigation {
			margin: auto;	
		}
	#footer_navigation .span12 {
		margin-left: 20px;
	}
}		

/* Landscape phones and down */
@media only screen and (max-width: 480px) {
	
	.span7 {
		width: 100% !important;	
	}
	
	#hand_bg_wrap {
		background-size: 488px 300px !important;	
	}
	.intro .span7 {
		padding-top: 40px;	
	}
	h1 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 100 !important;
		font-size: 80px;
	}
	h2 {
		width: 70%;	
	}

}





/** RESPONSIVE STYLES **/
#footer .carousel-control { top: 25px !important; }		


@media (max-width: 979px) {
	/* Header */
	#header { }
	#header>.row { width: 750px; margin: auto; }
	#header .title { width: 162px; margin-right: 40px; }
	#header .description { display: none; }
	
	#footer > .container.wide > .row, .header_stories > .row { width: 767px !important; }
	.header_stories .span12, #footer .span12 { width: 724px; }
	.header_stories .span3, #footer .span3 { width: 166px; }
	.header_stories .span2, #footer .span2 { width: 104px; }
	
	#footer_stories>div, #footer_navigation>div { margin-left: 15px; }
	#footer_stories { padding-top: 10px; }
}

/* Portrait tablet to landscape and desktop */
@media only screen and
(min-width: 768px) 
and (max-width: 979px) {
	
	/* Header */
	#story_nav .span12 .row {
		width: 750px !important;
		margin-left: -20px;	
	}
	
	#header .row {
		width: 750px !important;	
	}
	.description {
		display: none;	
	}
	#story_nav .span3, #footer .span3 {
		width: 166px;	
	}

	/* Footer */
	#footer_navigation .span12 {
		width: 750px;
		margin-left: 0;
	}
	#footer_navigation .span12 .row {
		width: 750px;	
		margin-left: 0;
	}
	
	#footer_stories, #footer_navigation {
		width: 750px !important;	
	}
	
	#footer_stories .span12 {
		width: 720px;	
	}
	
	
	.header_stories .bottom li,
	.footer_stories.bottom li { height: 170px; }
	
	#footer_navigation ul li {margin-left:14px;}
	#footer_navigation ul li a {font-size:13px;}
	
		
}		

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
	/* Header */
	#story_nav .span12 .row {
		width: 100% !important;
		margin-left: -20px;
	}
	
	#story_nav .span3, #footer_stories .span3 {
		width: 128px;	
		margin-bottom: 20px;
		display: inline-block;
		float: none;
		margin-bottom: 20px;
		vertical-align: top;
	}
	
	#header .row {
		width: 100%;	
	}
	#header .span12 {
		width: 315px !important;	
		margin-left: 0;
	}
		body.subpage #header .span12 {
			margin-left: 20px !important;	
		}
	
	#header .title {
		width: 125px;
		background-size: 125px 19px;
		left: 45px;
	}
	#header .issue {
		width: 85px;
		font-size: 10px;
		letter-spacing: 1.1px;
		padding-top: 20px;
		margin-left: 45px;
	}
	.description {
		display: none;	
	}
	#header .toggle_story_nav {
		margin-left: 10px;
		left: 0;	
	}


	/* Header/Footer story thumbnails */
	.header_stories { margin-left: -20px; padding-right: 20px; }
	.header_stories>.row { margin-left: 20px !important; }
	.header_stories .thumbnails, .footer_stories .thumbnails { margin-left: -20px; }
	.header_stories .thumbnails { margin-bottom: 0; }
	.footer_stories { padding: 30px 0 0 0; }
	.footer_stories .span3, 
	.footer_stories .span2, 
	.header_stories .span3, 
	.header_stories .span2 { width: 130px !important; height: 200px !important; overflow: hidden; margin-bottom: 5px; }
	.header_stories .title, .footer_stories .title { margin-left: 0 !important; font-size: 13px !important; line-height: 15px !important; }
	.footer_stories a span.subtitle_text, .header_stories a span.subtitle_text { padding-top: 5px; }
	.header_stories .row a .subtitle_text, 
	.header_stories .row a .title_colon,
	.footer_stories a span.subtitle_text, 
	.footer_stories a span.title_colon { display: none; }

	.header_stories .span12, 
	#footer .span12 { width: 92% !important; }
	
	#footer > .container.wide > .row, 
	.header_stories > .row { width: 100% !important; }

	/* Footer */
	#footer_stories, #footer_navigation {
		width: 100% !important;	
	}
	#footer_stories .span12, #footer_navigation .span12 {
		width: 93%;
	}
	#footer_navigation .span12 .row {
		width: 93%;	
	}
	#footer_navigation h2.widgettitle {
		margin-bottom: 5px !important;	
	}
	.widget, .textwidget {
		margin-bottom: 25px !important;	
	}
	
	#footer > .container { margin-left: -20px; padding-right: 20px; }
	#footer > .container > .row { margin-left: 20px; }
	
	#issue-carousel .item .issue-title { font-size: 18px; }
	#issue-carousel .carousel-control { font-size: 12px; }
	#issue-carousel .carousel-control, 
	#issue-carousel .carousel-control.left .arrow,
	#issue-carousel .carousel-control.right .arrow { line-height: 30px; }
	
	#footer_navigation ul { padding-top: 10px; }
	#footer_navigation ul li { display: inline; width: 100%; margin-left: 0; }
	
	#footer_navigation .span9 { width: 92% !important; }
}



#footer #footer_hr { display: none; }

