body {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(left,  #c3d0e0 0%, #e3ebf4 15%, #f4f4f4 25%, #ffffff 50%, #f4f4f4 75%, #e3ebf4 85%, #c3d0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3d0e0), color-stop(15%,#e3ebf4), color-stop(25%,#f4f4f4), color-stop(50%,#ffffff), color-stop(75%,#f4f4f4), color-stop(85%,#e3ebf4), color-stop(100%,#c3d0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* IE10+ */
	background: linear-gradient(to right,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* W3C */
}

#header, #footer { background-color: rgba(0,0,0,0.85); }

.intro { }
.intro #oranges_wrap { text-align: center; padding-top: 80px; }
.intro h1, .intro h2 { text-indent: -9999px; height: 1px; display: block; }

#section1 { padding-bottom: 120px; }
#section1 p { font-size: 16px; font-family: "Helvetica Neue",Helvetica,sans-serif; line-height: 26px; color: #181818; }
#section1 .alt { font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",Helvetica,sans-serif; font-weight: bold; font-stretch: condensed; font-size: 22px; }
#section1 .red { color: #d2232a; }
#section1 .blue { color: #4d85b6; }

#rep_author { padding-top: 35px; overflow: auto; margin-bottom: 50px;}
#dem_author { padding-top: 59px; overflow: auto; }
#button_romney, #button_obama { float: left; margin-right: 15px; width: 25%; }
.author_name, .author_desc { float: left; font-style: italic; font-size: 18px; display: block; width: 70%; }
.author_name { font-weight: bold; padding-top: 15px; }

#ie-gradient-bg { display: hidden; }

/* Responsive Styles */

@media (min-width: 768px) and (max-width: 979px) { 
	#dem_author { padding-top: 85px; }
	.author_name { padding-top: 5px; }
}

@media (max-width: 767px) {
	.intro #oranges_wrap { width: 60%; margin: auto; padding-top: 30px; }
	#rep_author { border-bottom: 1px solid #666; padding-top: 15px; padding-bottom: 50px; }
	#dem_author { padding-top: 15px; }
}


/* IE Fixes */
.ie7 #header, .ie7 #footer { background-color: #000; filter: alpha(opacity=85); }
.ie8 #header, .ie8 #footer { background-color: #000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; }

.ie7 #dem_author, .ie8 #dem_author { padding-top: 111px; }