body {
	background: #c3d0e0; /* Old browsers */
	background: -moz-linear-gradient(left,  #c3d0e0 0%, #e3ebf4 15%, #f4f4f4 25%, #ffffff 50%, #f4f4f4 75%, #e3ebf4 85%, #c3d0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3d0e0), color-stop(15%,#e3ebf4), color-stop(25%,#f4f4f4), color-stop(50%,#ffffff), color-stop(75%,#f4f4f4), color-stop(85%,#e3ebf4), color-stop(100%,#c3d0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* IE10+ */
	background: linear-gradient(to right,  #c3d0e0 0%,#e3ebf4 15%,#f4f4f4 25%,#ffffff 50%,#f4f4f4 75%,#e3ebf4 85%,#c3d0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d0e0', endColorstr='#c3d0e0',GradientType=1 ); /* IE6-9 */
}

.intro { }
.intro h1 { display: block; width: 935px; height: 219px; text-indent: -9999px; }
.intro h2 { text-indent: -9999px; height: 1px; display: block; }