
.global-distribution {
  background: #496e7e;
  color: #fff !important;
  font-family: "Archer A","Archer B",serif !important;
}

.global-distribution h1 {
  color: #fff !important;
  font-size: 36px;
  font-weight: 700;
}

.circle-decor {
  width: 160px;
  height: 160px;
  position: relative;
  top: -30px;
  border-radius: 160px;
  background: #66878f;
}

.circle-text {
  color: #a1decc;
  position: relative;
  top: -150px;
  left: 36px;
  bottom: -150px;
}

.pointer {
  min-height: 8px;
}

.pointer .arrow-up {
  width: 0; 
  height: 0;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-out;
}

.pointer.incoming {
  background: #6bcbdb;
}

.pointer.incoming .arrow-up {
  left: 25%;
  border-bottom: 8px solid #6bcbdb;
}

.pointer.outgoing {
  background: #1e4b68;
}

.pointer.outgoing .arrow-up {
  left: 80%;
  border-bottom: 8px solid #1e4b68;
}

.global-distribution h2 {
  color: #fff !important;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.global-distribution h3 {
  color: #fff !important;
  font-size: 18px !important;
  text-align: center;
}

.global-distribution .btn-group {
  margin-bottom: 12px;
}

#bucket-controls-container.incoming {
  background: #3f5058;
}

#bucket-controls-container.outgoing {
  background: #fef5ec;
}

#map-container {
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-out;
}
#map-container.incoming {
  background: #496e7e;
}

#map-container.incoming #incoming-control {
  color: #6bcbdb;
}

#map-container.incoming #outgoing-control {
  color: #f4ece4;
}

#map-container.outgoing #incoming-control {
  color: #798995;
}

#map-container.outgoing #outgoing-control {
  color: #153f5a;
}

#map-container.outgoing {
  background: #fef5ec;
}

#incoming-control,
#outgoing-control {
  color: #f4ece4;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
}

#incoming-control.active,
#outgoing-control.active {
  color: #6bcbdb;
}

#incoming-control {
  margin-left: 12px;
}

#outgoing-control {
  float: right;
  margin-right: 12px;
}

#incoming-control:hover,
#incoming-control:visited,
#incoming-control:active,
#incoming-control:focus,
#outgoing-control:hover,
#outgoing-control:visited,
#outgoing-control:active,
#outgoing-control:focus {
  text-decoration: none;
}

#data-set-control-container {
  background: #333;
}

.data-set-controls {
  text-align: center;
  margin: 8px 0 !important;
}

.data-set-controls li {
  display: inline;
  margin-right: 32px;
}

.data-set-controls li:last-child {
  margin-right: 0;
}

.data-set-controls li a {
  color: #4a6e7d;
  font-size: 24px;
  padding: 8px 16px !important;
}

.data-set-controls li a:hover,
.data-set-controls li a:active,
.data-set-controls li a:visited,
.data-set-controls li a:focus {
  text-decoration: none;
}

.data-set-controls li a.active {
  background: #44433f;
  border-radius: 24px;
  color: #f6b45e;
}

#info-window {
  background: #efefef;
  box-shadow: 1px 2px 2px #acacac;
  font-weight: 700;
  margin: 0 0 4px 12px;
  min-width: 100px;
  opacity: 0;
  padding: 6px 12px;
  text-align: center;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-out;
}

#info-window.active {
  opacity: 1;
}

#title-window {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  padding: 12px 12px;
}

#map {
  /*background-image: radial-gradient(rgba(230,230,230,1), rgba(230,230,230,0.01));*/
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}
.name { 
  color: #000;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.count {
  color: #c90;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.btn-group.toggle-left {
  margin: 4px 8px;
}

.btn-group.toggle-right {
  margin: 4px 8px;
}