@import '../../../../static/components/bootstrap-sass-3.3.4/assets/stylesheets/bootstrap/variables';
@import '../../../../static/components/bootstrap-sass-3.3.4/assets/stylesheets/bootstrap/mixins';
@import '../../../../versions/v4/static/scss/variables';
@import '../../../../versions/v4/static/scss/mixins';

$hot-pink: #da0364;
$light-yellow: #fdf4de;
$dark: #333;


// scss-lint:disable QualifyingElement
article.story-default {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .lead::first-letter {
    color: $hot-pink;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .lead::first-letter {
    @include gotham(6);
  }

  p,
  table,
  ul,
  li {
    font-family: "AleoRegular", serif;
  }

  p {
    font-size: 1.5rem;

    @media (min-width: $screen-sm-min) {
      font-size: 1.75rem;
    }
  }

  h1 {
    font-size: 4rem;

    @media (min-width: $screen-sm-min) {
      font-size: 6rem;
    }
  }

  .section-heading {
    align-items: center;
    display: flex;
    font-family: $font-family-serif;
    font-size: 2.25rem;
    font-style: italic;
    justify-content: center;
    margin-top: 4rem;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  
    &:after {
      border-top: 2px solid;
      content: '';
      flex: 1 0 2rem;
      margin: 0 2rem 0 1.25rem;
    }
  }

  h3 {
    align-items: center;
    display: flex;
    font-size: 2.75rem;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 8rem 0 2.5rem 0;

    @media (min-width: $screen-sm-min) {
      font-size: 3.25rem;
    }

    img {
      margin: 0 1rem;
    }
  }

  // Helper Classes
  .mb-2 {
    margin-bottom: 2rem;
  }

  .mt-2 {
    margin-top: 2rem;
  }

  .mt-5 {
    margin-top: 5rem;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .d-flex-align-justify-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .d-flex-column-md {
    @media (max-width: $screen-sm-min) {
      flex-direction: column;
    }
  }

  .divider-img {
    display: none;
    margin: 4rem 0;

    @media (min-width: $screen-md-min) {
      display: block;
    }
  }

  .number {
    @include gotham(8);
    color: $hot-pink;
    display: block;
    font-size: 4rem;
  }

  .table {
    thead th {
      @include gotham(6);
      background: $light-yellow;
      border-bottom: 0;
      color: $hot-pink;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    th {
      font-family: 'AleoBold', serif;
      font-weight: normal;
    }
  }

  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }

  .thank-you {
    @include gotham(6);
    color: $hot-pink;
    font-size: 3rem;
  }
  
  .spotlights {
    list-style: none;

    li {
      line-height: 1.3;
      margin-bottom: 2.5rem;
    }
  }

  .spotlight-amount {
    @include gotham(6);
    color: $hot-pink;
    font-style: italic;
    margin-right: .75rem;
  }

  .spotlight-from {
    display: block;
    margin-left: 1.2rem;
    margin-top: .5rem;
  }

  .callout-outer {
    background: $light-yellow;

    .callout-inner {
      padding: 4.5rem 0;
      text-align: left;
    }
  }

  blockquote {
    margin-bottom: 2rem;
    padding: 0;

    .blockquote {
      color: $dark;
      font-size: 1.75rem;
      line-height: 1.6;
      margin-bottom: 0;

      @media (min-width: $screen-sm-min) {
        font-size: 2.5rem;
      }
    }

    .cite {
      font-size: 1.5rem;

      @media (min-width: $screen-sm-min) {
        font-size: 1.75rem;
      }
    }
  }
}
