/* Rosen */

p {color:#262626;line-height: 22px;margin-bottom:0;}
p.prominent {font-size:20px;}
p.caption {font-family:"Helvetica Neue",Helvetica,sans-serif;color:#b59d48;}
p.excerpt {font-size:23px;font-style:italic;line-height:28px;}
.section p.excerpt {color:#e3c353;}
.container.gold p.excerpt {color:#fdeebb;}
/*
 * Intro
 */

.intro {
	min-height:802px;
	background-position:top center;
	background-repeat:no-repeat;
}
.intro #big,
.intro #enough,
.intro #tag {font-family:Georgia;text-shadow:5px 10px 15px rgba(0,0,0,.53);}
.intro #big {
	color:#e3c353;
	font-size:160px;
	font-family:Georgia;
	margin-top:110px;
	line-height:1.2em;
}
.intro #enough {
	color:#FFF;
	font-size:45px;
	line-height:1.1em;
	position:relative;
	top:-40px;
}
.intro #tag {
	color:#FFF;
	font-size:18px;
	margin-top:40px;
}

/*
 * Sections
 */
.section {padding-top:1.5em;}
.section h3 {font-size:20px;letter-spacing:1.5px;line-height:1em;}
.section.photo {padding-top:0;}
.container.gold {background-color:#e3c353;}
.container.gold .caption {color:#262626;font-family:Georgia;}
.container.gold h3 {color:#fbfaf6;}
.section.first {
	padding-top:0;
	z-index:1;
	margin-top:-270px;
	background-color:rgba(255,255,255,.85);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF);
	zoom: 1;
}
#rosen-dogs {margin-top:45px;}
/* Carousel styles */
#rosenslides { 
	height: 446px;
	width: 967px;
}
.carousel img {
	float: right;
	margin-right: 7px;
}
.carousel-caption {
	background: none;	
	top: 0;
	bottom: none;
	padding: 0;
}
.carousel-caption p.caption {
	padding-top: 25px;
}
.carousel-control {
	top: 60%;
}



/* Landscape phones and down */
@media only screen and (max-width: 480px) {
}
     
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
	.container, .container .row, .container, .container.wide > .row {
		width: 100%;
	}
	.container .row .span12 {
		width: 93%;	
	}
	.container .row .span12 .row {
		width: 92%;	
	}
	
	.row {
		margin-left: 0;	
	}
	.span7 {
		width: 100%;	
	}
	.span5 {
		width: 100%;
	}
	
	p.excerpt {
		display: none;	
	}
	
	#big, #enough {
		width: 100%;
		margin-left: 0;
	}
	#big {
		margin-top: 40px !important;
		font-size: 140px !important;	
	}
	#enough {
		font-size: 39px !important;	
	}
	#tag {
		margin-left: -20px;	
		width: 100%;
		margin-top: -10px !important;
	}
	
	.intro {
		background-size: 900px 564px;	
	}
	
	.intro .row {
		margin-left: 0;
		margin-right: 0;
	}
	
	.section.first {
		margin-top: -380px;	
	}
	
	.first .span7, .first #rosen-dogs {
		width: 92%;	
	}
	#rosen-dogs {
		margin-top: 20px;
		margin-bottom: 20px;	
	}	
	#rosen-dogs img {
		float: left;
		width: 45%;
	}
	#rosen-dogs .row {
		width: 45%;
		float: left;
		margin-left: 20px;	
	}
	#rosen-dogs .row .span5 {
		margin-left: 0;
		width: 100%;	
	}
	#rosen-dogs p.caption {
		margin-top: 0;	
	}
	
	.container .row.section .span12 {
		margin-left: 0;	
	}
	
	#rosenslides {
		height: auto;
		width: 100%;
	}
	.carousel .item>img {
		height: auto;	
		margin-right: 0;
	}
	.carousel p.caption {
		padding: 10px 35px 5px 0;
	}
	.carousel-caption {
		width: 100%;	
		position: static !important;
	}
	a.carousel-control {
		top: 150px;	
	}
	
	/* Footer */
	#footer_navigation .span12 {
		width: 100%;
		margin-left: 0;
	}
	#footer_navigation .span12 .row {
		width: 93%;	
	}
	#footer_navigation h2.widgettitle {
		margin-bottom: 5px !important;	
	}
	.widget, .textwidget {
		margin-bottom: 25px !important;	
	}
	
}
     

/* Portrait tablet to landscape and desktop */
@media only screen and
(min-width: 768px) 
and (max-width: 979px) {
		
	.container, .container .row, .container, .container.wide > .row {
		width: 750px;
	}
	.container .row .span12 {
		width: 730px;	
	}
	.container .row .span12 .row {
		width: 729px;	
	}
	
	.row {
		margin-left: 0;	
	}
	.span7 {
		width: 449px;	
	}
	.span5 {
		width: 240px;
	}
	
	#big, #enough {
		width: 	600px;
		margin-left: 0;
	}
	#tag {
		margin-left: -20px;	
	}
	
	.intro .row {
		margin-left: 0;
		margin-right: 0;
	}
	
	.first .span7, .first #rosen-dogs {
		width: 710px;	
	}
	#rosen-dogs {
		margin-top: 20px;
		margin-bottom: 20px;	
	}	
	#rosen-dogs img {
		float: left;
	}
	#rosen-dogs .row {
		width: 340px;
		float: left;
		margin-left: 20px;	
	}
	#rosen-dogs .row .span5 {
		margin-left: 0;
		width: 340px;	
	}
	
	.container .row.section .span12 {
		margin-left: 0;	
	}
	
	#rosenslides {
		height: 350px;
		width: 750px;
	}
	.carousel .item>img {
		height: 350px;	
	}
	.carousel p.caption {
		padding-right: 20px;	
	}
		
}