/* Rosen */

p {color:#262626;line-height: 22px;margin-bottom:0;}
p.prominent {font-size:20px;}
p.caption {font-family:"Helvetica Neue",Helvetica,sans-serif;color:#b59d48;}
p.excerpt {font-size:23px;font-style:italic;line-height:28px;}
.section p.excerpt {color:#e3c353;}
.container.gold p.excerpt {color:#fdeebb;}
/*
 * Intro
 */

.intro {
	min-height:802px;
	background-position:top center;
	background-repeat:no-repeat;
}
.intro #big,
.intro #enough,
.intro #tag {font-family:Georgia;text-shadow:5px 10px 15px rgba(0,0,0,.53);}
.intro #big {
	color:#e3c353;
	font-size:160px;
	font-family:Georgia;
	margin-top:110px;
	line-height:1.2em;
}
.intro #enough {
	color:#FFF;
	font-size:45px;
	line-height:1.1em;
	position:relative;
	top:-40px;
}
.intro #tag {
	color:#FFF;
	font-size:18px;
	margin-top:40px;
}

/*
 * Sections
 */
.section {padding-top:1.5em;}
.section h3 {font-size:20px;letter-spacing:1.5px;line-height:1em;}
.section.photo {padding-top:0;}
.container.gold {background-color:#e3c353;}
.container.gold .caption {color:#262626;font-family:Georgia;}
.container.gold h3 {color:#fbfaf6;}
.section.first {
	padding-top:0;
	z-index:1;
	margin-top:-270px;
	background-color:rgba(255,255,255,.85);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF);
	zoom: 1;
}
#rosen-dogs {margin-top:45px;}
/* Carousel styles */
#rosenslides { 
	height: 446px;
	width: 967px;
}
.carousel img {
	float: right;
	margin-right: 7px;
}
.carousel-caption {
	background: none;	
	top: 0;
	bottom: none;
	padding: 0;
}
.carousel-caption p.caption {
	padding-top: 25px;
}
.carousel-control {
	top: 60%;
}