@import '../../../../static/components/bootstrap-sass-3.3.4/assets/stylesheets/bootstrap/variables';
@import '../../../../static/components/bootstrap-sass-3.3.4/assets/stylesheets/bootstrap/mixins';
@import '../../../../versions/v4/static/scss/variables';
@import '../../../../versions/v4/static/scss/mixins';


// scss-lint:disable QualifyingElement
article.story {
  .story-header-image {
    background-color: #000;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      height: auto;
      margin-bottom: 50px;
      min-height: 490px;
    }

    @media (min-width: $screen-md-min) {
      min-height: 600px;
    }

    img {
      clip: unset;
      height: auto;
      margin: 0 auto;
      position: static;
      visibility: visible;
      width: auto;
    }
  }

  .poem {
    margin-top: 2.5em;

    &,
    p {
      font-size: 4vw;
      line-height: 1.2;

      @media (min-width: 480px) {
        font-size: 3vw;
      }

      @media (min-width: $screen-sm-min) {
        font-size: 21px;
        line-height: 1.35;
      }
    }

    p {
      margin-bottom: 2.5em;
    }

    span {
      display: block;
      margin-bottom: .6em;
    }

    br {
      display: none;
    }
  }

  .author-notes {
    @include gotham();
    color: $gray;
    font-size: 12px;
    line-height: 1.6;
    margin-top: 30px;

    @media (min-width: $screen-md-min) {
      margin-top: 50px;
    }
  }
}
// scss-lint:enable QualifyingElement
