#header, #footer {background-color:#292929;}
h2 {color:#fc0303;text-transform:uppercase;font-family:"Arial Black",Arial;}
.intro {margin-top:80px;}
.intro p {margin-top:0;font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:14px;}
.firstletter {font-size:40px !important;padding-right: 7px;line-height:.85em}
p.caption {border-left: 8px #fc0303 solid;padding-left:10px;font-size:16px;margin-bottom:50px;}