/* CSS Animation classes */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



/* General */
p:empty { display: none; }
article.story h2 {
	font-family: 'MontserratBold', sans-serif;
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 10px;
	text-transform: uppercase;
}


/* Story head */
article.story #story-head { height: 700px; position: relative; padding-bottom: 80px; }
article.story #story-head .story-header-image {
	height: 100%;
	text-align: center;
	background-position: top center;
	position: relative;
}
article.story #story-head .story-title {
	width: 100%;
	opacity: 1;
	position: absolute;
	top: -0.2em;
	left: 0;
	right: 0;
	text-align: center;
}
article.story #story-head h1 {
	font-size: inherit;
	line-height: 1em;
	text-transform: uppercase;
	color: rgba(215,215,215,0.5);
	font-family: 'Arial Black', sans-serif;
	font-weight: normal;
	letter-spacing: -.04em;
	position: relative;
	top: 0;
	padding-bottom: 20px;
	/*position: absolute;*/
	/*top: -0.2em;*/
	/*top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	opacity: 1;*/
}
article.story #story-head .subtitle {
	display: block;
	padding: 0 20px;
	font-family: 'OpenSansCondensedLight', sans-serif;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
article.story #story-head .subtitle strong { font-family: 'OpenSansCondensedBold', sans-serif; font-weight: normal; }


/* Story nav */
#game-nav { padding-bottom: 35px; background-color: #fff; }
#game-nav.affixed {
	position: fixed;
	top: 0;
	z-index: 999;
}
#game-nav + #game-nav-placeholder { display: none; }
#game-nav.affixed + #game-nav-placeholder { display: block; }

#game-nav .nav-divider { border-top: 2px solid #99cc99; }
#game-nav ul { list-style-type: none; margin-bottom: 0; padding-top: 5px; padding-bottom: 5px; }
#game-nav .logo {
	position: relative;
	height: 63px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 85% auto;
}
#game-nav .logo:hover { background-size: 100% auto; }
#game-nav .logo.active:after {
	content: "";
	position: absolute;
	bottom: -35px;
	display: block;
	width: 0;
	height: 0;
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-top: 30px solid #99cc99;
	z-index: 999;
}
#game-nav .logo a {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

#game-nav h2 { color: #99cc99; font-weight: normal; text-align: center; }


/* Sections (games) */
article.story .game .hr { height: 0; margin-top: 30px; margin-bottom: 30px; border-bottom: 2px dotted #000; }

article.story .game-photo { position: relative; }
article.story .game-photo .caption {
	position: absolute;
	display: block;
	margin: 0 auto;
	padding: 20px;
	background: #ccc; /* change later */
}
article.story .game-photo .caption.left { left: 0; }
article.story .game-photo .caption.right { right: 0; }
article.story .game-photo .caption.bottom { bottom: 0; }
article.story .game-photo .caption.top { top: 0; }




@media (max-width: 979px) and (min-width: 768px) {
}

@media (max-width: 767px) {
	article.story #story-head h1 { line-height: 1em; }
}