// Tooltips
.tooltip-inner {
  border: 1px solid #666;
}


// Buttons
.btn {
  font-family: $font-family-sans-serif;
}

.btn-give,
.btn-gold {
  border-bottom: 4px solid #eab700;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 22px;
  line-height: 1.1;
  padding: 25px 20px;
}

.btn-gold {
  background-color: #fc0;
  color: #000;

  &:hover,
  &:active,
  &:focus {
    background-color: darken(#fc0, 8%);
    border-bottom: 4px solid darken(#eab700, 8%);
  }
}

.btn-left,
.btn-right {
  white-space: normal;
  width: 48.5%;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.btn-left {
  clear: left;
  float: left;

  @media (max-width: $screen-sm-max) {
    clear: none;
    float: none;
    margin-bottom: 10px;
  }
}

.btn-right {
  clear: right;
  float: right;

  @media (max-width: $screen-sm-max) {
    clear: none;
    float: none;
  }
}


// Pegasus logos
.logo-large-white {
  @include sprite();
  background-position: 0 -40px;
  height: 31px;
  width: 193px;

  @media (max-width: $screen-sm-max) {
    background-position: 0 -16px;
    height: 23px;
    width: 147px;
  }
}


// iPad App button
.ipad-app-btn {
  @include sprite();
  background-position: 0 -72px;
  height: 39px;
  width: 135px;
}


// iPad Modal
#ipad {
  display: none;
  text-align: center;
}


// Social buttons
%btn-social {
  background-image: url('../img/social-share.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 31px;
  margin-right: 4px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 70px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/social-share-r.png');
    background-size: 212px 62px;
  }
}

.social .share-twitter {
  @extend %btn-social;
  background-position: -71px 0;

  &:hover {
    background-position: -71px -31px;
  }
}

.social .share-facebook {
  @extend %btn-social;
  background-position: 0 0;

  &:hover {
    background-position: 0 -31px;
  }
}

.social .share-googleplus {
  @extend %btn-social;
  background-position: -142px 0;
  margin-right: 0;

  &:hover {
    background-position: -142px -31px;
  }
}


// Post Type Search results
.search-form {
  margin-bottom: 20px;
  position: relative;

  &:before {
    @include font-smoothing();
    // Search field icon
    color: #d1d1d1;
    content: '\e605';
    display: block;
    font-family: 'icomoon';
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 3;
  }

  label {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  .search-field {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    text-indent: 15px;
    width: 100%;
    z-index: 2;
  }

  .search-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: block;
    font-size: 20px;
    height: 100%;
    position: absolute;
    right: -2px;
    top: 0;
    width: 100px;
    z-index: 4;
  }
}

.post-type-search-results {
  min-height: 0;
}

#search-results {
  .result-list {
    list-style-type: none;
    margin-left: 0;

    li {
      margin-bottom: 20px;
    }

    a {
      word-wrap: break-word;
    }
  }
}


// Slideshows (fullscreen and embeds)
.ss-photo-essay {
  height: 100%;
  width: 100%;
}

article.ss-photo-essay {
  background-color: #212121;
}

.ss-content {
  // calculate height w/jquery
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
}

.ss-slides-wrapper {
  position: relative;
  top: 0;
  white-space: nowrap;

  @media (max-width: $screen-sm-max) {
    height: 65%;
  }

  .ss-photo-essay & {
    height: 80%;

    @media (max-width: $screen-xs-max) {
      height: 50%;
    }

    @media (max-width: 320px) {
      height: 40%;
    }
  }

  .ss-embed & {
    height: 360px;

    @media (max-width: $screen-xs-max) {
      height: 280px;
    }

    @media (max-width: 320px) {
      height: 140px;
    }
  }
}

.ss-slide-wrapper {
  display: inline-block;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 5;
}

.ss-closing-overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  .ss-slide {
    color: #fff;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    margin-top: 100px;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      margin-top: 25px;
    }

    @media (max-width: 480px) {
      margin-top: 50px;
    }

    @media (max-width: 320px) {
      margin-top: 25px;
    }
  }

  > .ss-slide {
    width: 500px;

    @media (max-width: $screen-xs-max) {
      width: 80%;
    }

    .ss-title {
      font-size: 30px;
      line-height: 30px;
      margin-top: 20px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
      }
    }
  }
}

.ss-control {
  color: #fff;
  font-size: 16px;

  @media (max-width: $screen-xs-max) {
    font-size: 11px;
  }

  &:hover {
    color: #fff;
  }

  i {
    background-color: #000;
    background-image: none !important;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 20px;

    @media (max-width: $screen-xs-max) {
      background-color: #000;
      font-size: 30px;
      margin-bottom: 10px;
      padding: 10px;
    }

    &:hover {
      background-color: #900;
    }
  }

  &.ss-play i {
    line-height: 15px;

    @media (max-width: $screen-xs-max) {
      font-size: 35px;
      line-height: 13px;
      margin-bottom: 0;
      padding: 12px;
    }
  }

  &.ss-restart i {
    line-height: 50px;

    @media (max-width: $screen-xs-max) {
      line-height: 30px;
    }
  }
}

.ss-slide {
  // center vertically
  bottom: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
  height: 100%;
  left: 0;
  margin: auto;
  -khtml-opacity: .2;
  -moz-opacity: .2;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;

  &.ss-current {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }

  > img {
    height: 100%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    width: 100%;
  }

  .title-wrap {
    white-space: normal;
  }
}

.ss-nav-wrapper {
  height: 100%;
  width: 100%;
}

.ss-arrow-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 10;
}

.ss-arrow-wrapper-left,
.ss-arrow-prev {
  left: 0;
}

.ss-arrow-wrapper-right,
.ss-arrow-next {
  right: 0;
}

.ss-arrow {
  background-color: transparent;
  color: #bebebe;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  > div {
    height: 60px;
    min-width: 40px;
    position: absolute;
    top: 40%;

    @media (max-width: $screen-sm-max) {
      top: 20%;
    }

    .ss-arrow-wrapper-left & {
      left: 0;
      margin-left: 10px;
    }

    .ss-arrow-wrapper-right & {
      margin-right: 10px;
      right: 0;
    }

    .ss-embed & {
      top: 180px;

      @media (max-width: $screen-xs-max) {
        top: 140px;
      }

      @media (max-width: 320px) {
        top: 50px;
      }
    }

    .ss-photo-essay & {
      @media (max-width: 320px) {
        height: 60%;
      }
    }
  }

  .ss-arrow-wrapper & {
    background-image: url('../img/transparent.gif');
    background-repeat: repeat;
  }

  &.ss-last {
    > div,
    > div:hover {
      color: #bebebe;
      filter: alpha(opacity=20);
      opacity: .2;
    }
  }
}

.ss-captions-wrapper {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 20px;
  position: relative;
  width: 56%;

  @media (max-width: $screen-sm-max) {
    height: 30%;
  }

  .ss-embed & {
    height: 300px;
  }

  .ss-photo-essay & {
    bottom: 0;
    height: 20%;
    padding-top: 0;
    position: absolute;

    @media (max-width: $screen-xs-max) {
      height: 50%;
    }
  }
}

.ss-caption {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .wysiwyg-text-align-center {
    text-align: center;
  }

  > p {
    color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  &.ss-current {
    z-index: 11;

    > p {
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
}


// Sidebars
.sidebar {
  margin-bottom: 20px;

  &.pull-left {
    padding-left: 0;
    padding-right: $grid-gutter-width;
  }

  &.pull-right {
    padding-left: $grid-gutter-width;
    padding-right: 0;
  }

  &.pull-left,
  &.pull-right {
    @media (max-width: $screen-xs-max) {
      float: left;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

.sidebar-inner {
  padding: 10px 30px;

  blockquote {
    &.quote {
      padding-left: 0;

      &:before {
        display: block;
        float: left;
        font-size: 28px;
        left: -5px;
        line-height: 38px;
        position: relative;
        top: 0;

        @media (max-width: $screen-sm-max) {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }

    &,
    p {
      font-size: 28px;
      line-height: 38px;

      @media (max-width: $screen-sm-max) {
        font-size: 26px;
        line-height: 36px;
      }
    }

    small {
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
    }
  }
}


// Callouts
.callout {
  margin-bottom: 30px;
  margin-top: 30px;

  &.callout-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -31px;
    margin-top: -40px;
    min-height: 500px;

    @media (min-width: 1200px) {
      min-height: 550px;
    }

    h1,
    h1 > span {
      @media (max-width: $screen-sm-max) {
        font-size: 85%;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 36px !important;  // Necessary to override inline css
      }
    }

    > .container,
    > .container .row,
    .callout-inner {
      min-height: inherit;
    }

    .lead,
    .lead > span {
      @media (max-width: $screen-xs-max) {
        font-size: 18px !important;  // Necessary to override inline css
      }
    }

    .well {
      width: 80%;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}

.callout-outer {
  margin-bottom: 30px;
  margin-top: 30px;

  @media (max-width: $screen-xs-max) {
    height: auto !important;  // Necessary to override inline styles added via affix js
  }
}

.callout-affix {
  position: relative;
  z-index: 999;

  &.affix {
    margin-bottom: 0;
    margin-top: 0;
    left: 0;
    position: fixed !important;  // Necessary to override position:static on affixed callouts
    right: 0;
    top: 0;
    z-index: 999;

    @media (max-width: $screen-xs-max) {
      // Disable affixed callouts @ -xs breakpoint
      margin-bottom: 30px;
      margin-top: 30px;
      position: static !important;
      z-index: 1;
    }

    &.affix-cancel {
      margin-bottom: 30px;
      margin-top: 30px;
      position: static !important;
      z-index: 1;
    }
  }

  &.affix-top {
    top: 0 !important;
  }
}

.callout-inner {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  > div {
    // Force centering of wrapper divs by default
    margin-left: auto;
    margin-right: auto;
  }

  > p:empty {
    // kill_empty_p_tags won't work for these shortcodes :(
    display: none;
  }

  // will not work in IE8
  > *:last-child {
    margin-bottom: 0;
  }
}


// Iframes
body:not(.ie8) .callout-inner > div:not([class]),
body:not(.ie8) .wp-video-shortcode,
body:not(.ie8) .mejs-shim,
body:not(.ie8) .mejs-overlay,
body:not(.ie8) .mejs-poster,
.me-plugin,
iframe {
  width: 100% !important;
}

body:not(.ie8) .callout-inner > div:not([class]),
body:not(.ie8) .wp-video-shortcode,
body:not(.ie8) .mejs-overlay,
body:not(.ie8) .mejs-poster,
iframe {
  @media (max-width: $screen-sm-max) {
    height: 280px !important;
  }

  @media (max-width: 480px) {
    height: 220px !important;
  }
}

iframe {
  height: 360px;

  &[name="google_conversion_frame"] {
    height: 0 !important;
    width: 0 !important;
  }
}


// Images, figures
.story img,
.subpage img {
  margin-bottom: 15px;
  margin-top: 15px;

  &.pull-left {
    margin-right: 15px;
  }

  &.pull-right {
    margin-left: 15px;
  }
}

.story figure,
.subpage figure {
  margin-bottom: 15px;
  margin-left: 0; // force reset
  margin-right: 0; // force reset
  margin-top: 15px;

  &.pull-left {
    margin-right: 15px;
  }

  &.pull-right {
    margin-left: 15px;
  }

  &.pull-center {
    // override reset
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-top: 0;
  }
}

.mobile-img-fluid,
.mobile-img-fluid img {
  @media (max-width: $screen-xs-max) {
    max-width: 100% !important;
    width: 100% !important;
  }
}


// Jumbotrons
.jumbotron p {
  font-size: 16px;
}
