// Disable responsiveness in IE8:
// Create grid for IE8 because it doesn't understand media queries
.ie8 {
  @include make-grid(md);
}

.container {
  // Override Bootstrap's default padding of $grid-gutter-width / 2
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  // Disable responsiveness in IE8:
  // Force fixed width for containers
  @include body-prefix('.ie8') {
    max-width: none !important;
    width: $container-md;
  }
}


// Remove necessity for -lg utility classes for showing/hiding
// elements by screen size.  Also overrides broken generated
// media queries (due to $screen-lg-min being overridden)
.visible-md-block {
  @media (min-width: $screen-md-min) {
    display: block !important;
  }
}

.visible-md-inline {
  @media (min-width: $screen-md-min) {
    display: inline !important;
  }
}

.visible-md-inline-block {
  @media (min-width: $screen-md-min) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-md-min) {
  @include responsive-invisibility('.hidden-md');
}


// Creates columns that are 20% wide
.col-lg-20percent {
  @include make-lg-column(2.4);
}

.col-md-20percent {
  @include make-md-column(2.4);
}

.col-sm-20percent {
  @include make-sm-column(2.4);
}

.col-xs-20percent {
  @include make-xs-column(2.4);
}


.container-wide {
  width: 100%;
}

.container-tall {
  height: 100%;
}
