// Disable responsiveness in IE8:
// Create grid for IE8 because it doesn't understand media queries
.ie8 {
  @include make-grid(md);
}

.container {
  // Override Bootstrap's default padding of $grid-gutter-width / 2
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  // Disable responsiveness in IE8:
  // Force fixed width for containers
  @include body-prefix('.ie8') {
    max-width: none !important;
    width: $container-md;
  }
}

.container-wide {
  width: 100%;
}

.container-tall {
  height: 100%;
}
