// Custom variables


// Bootstrap overrides
$grid-gutter-width:          20px !default;

$icon-font-path:             '../../../../static/components/bootstrap-sass-3.3.4/assets/fonts/bootstrap';
$fa-font-path:               '../../../../static/components/font-awesome/fonts';
