/**************************
 * Stories - General
 **************************/
article.story {
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article.story,
article.story p,
article.story ol,
article.story ul {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.38em;
  margin-top: 0;
}
article.story p { margin-bottom: 16px; }
article.story p:empty { display: none; }

article.story .story-header-image {
  position: relative;
  height: 600px;
  margin: 0 auto 35px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article.story .story-header-image img {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
}

article.story .title-wrap { padding-top: 30px; }
article.story .story-header-image + .container .title-wrap { padding-top: 0; }
article.story h1,
article.story h2,
article.story h3,
article.story h4,
article.story h5,
article.story h6 {
  line-height: 1em;
  color: #222;
}
article.story h2 { font-size: 36px; margin-bottom: 15px; }
article.story h3 { font-size: 26px; margin-bottom: 6px; }
article.story h4 { font-size: 20px; margin-bottom: 6px; }
article.story h5 { font-size: 18px; }
article.story h6 { font-size: 16px; }
.ie8 article.story h1,
.ie8 article.story h2,
.ie8 article.story h3,
.ie8 article.story h4,
.ie8 article.story h5,
.ie8 article.story h6 {
  font-weight: normal !important;
}

article.story .description { font-size: 22px; line-height: 32px; font-style: italic; white-space: normal;}
article.story .description em,
article.story .description i {
  font-style: normal;
}
article.story .lead { font-size: 20px; line-height: 28px; margin-bottom: 30px; }
article.story .lead::first-letter { display: block; float: left; margin: 8px 8px 0 0; font-size: 60px; line-height: 36px; }
article.story .lead:first-letter { display: block; float: left; margin: 8px 8px 0 0; font-size: 60px; line-height: 36px; }

article.story .caption {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: left;
}

article.story blockquote { padding-left: 0; border-left: 0; margin-bottom: 25px; clear: both; }
article.story blockquote,
article.story blockquote p {
  font-size: 33px;
  line-height: 43px;
  font-style: italic;
    text-align: left;
}
article.story blockquote small {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #444;
  margin-top: 18px;
  font-style: normal;
}
article.story blockquote.quote { padding-left: 60px; position: relative; }
article.story blockquote.quote:before {
  content: "“";
  font-size: 128px;
  line-height: 102px;
  font-style: none;
  position: absolute;
  top: 0;
  left: -10px;
}
article.story blockquote.quote p:after {
  content: "”";
}

article.story .sidebar-inner blockquote.quote:before {
    font-size: 28px;
    line-height: 38px;
    left: -12px;
}

article.story .sidebar-inner blockquote,
article.story .sidebar-inner blockquote p {
  font-size: 28px;
  line-height: 38px;
}
article.story .sidebar-inner blockquote small {
  font-size: 16px;
  line-height: 22px;
  margin-top: 14px;
}
article.story .sidebar-inner blockquote.quote { padding-left: 0; }

article.story .callout { margin-top: 30px; margin-bottom: 40px; }
article.story .callout-inner { padding: 30px 0; text-align: center; }
article.story .callout-inner > p:empty,
article.story .sidebar-inner > p:empty {
  /* kill_empty_p_tags won't work for these shortcodes :( */
  display: none;
}
body article.story .callout-inner > div {
  /* Force centering of wrapper divs by default */
  margin-left: auto;
  margin-right: auto;
}
body article.story .callout-inner > *,
body article.story .sidebar-inner > * {
  /* Try to eliminate excess spacing between callout/sidebar and inner element */
  margin-top: 0;
  margin-bottom: 0;
}
article.story .callout-inner blockquote p,
article.story .sidebar-inner blockquote p {
  margin-bottom: 0;
}
body:not(.ie8) article.story .callout-inner > div:not([class]),
body:not(.ie8) article.story .wp-video-shortcode,
body:not(.ie8) article.story .mejs-shim,
body:not(.ie8) article.story .mejs-overlay,
body:not(.ie8) article.story .mejs-poster,
article.story .me-plugin,
article.story iframe {
  /* Make videos behave */
  width: 100% !important;
}
article.story iframe { height: 360px; }

article.story .sidebar { margin-bottom: 20px; }
article.story .sidebar.pull-right { float: right; }
article.story .sidebar.pull-left { float: left; margin-left: 0; margin-right: 20px; }
article.story .sidebar-inner { padding: 30px; }

article.story img { margin-top: 15px; margin-bottom: 15px; }
article.story img.pull-left { margin-right: 15px; }
article.story img.pull-right { margin-left: 15px; }

article.story figure {
  margin-top: 15px;
  margin-right: 0; /* force reset */
  margin-bottom: 15px;
  margin-left: 0; /* force reset */
}
article.story figure.pull-left { margin-right: 15px; }
article.story figure.pull-right { margin-left: 15px; }
article.story figure.pull-center { margin-left: auto; margin-right: auto; } /* override reset */
article.story figure img { margin-top: 0; margin-bottom: 0; }


/**************************
 * Story - Default Template
 **************************/
article.story-default .title-wrap { margin-bottom: 20px; }
article.story-default .description-wrap { margin-bottom: 50px; }
article.story-default .description,
article.story-default .social-wrap { display: inline-block; }
article.story-default .description { width: 62%; padding-right: 4%; }
article.story-default .social-wrap { width: 33%; }
article.story-default .social { float: right; }


/**************************
 * Story - Photo Essay Template
 **************************/
article.story.ss-photo-essay h1 { color: #fff; padding-bottom: 30px; }
article.story.ss-photo-essay .ss-essay-intro-wrapper img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
     opacity: 0.2;
}
article.story.ss-photo-essay .ss-essay-intro { position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; height: 75%; }

article.story.ss-photo-essay .description { color: #fff; }

article.story.ss-photo-essay .ss-slide-wrapper { width: 85%; }

article.story.ss-photo-essay .ss-essay-intro h1,
article.story.ss-photo-essay .ss-essay-intro span.description {
  padding-left: 20px;
  padding-right: 20px;
}

article.story.ss-photo-essay .ss-essay-intro h1 {
  text-align: center;
}

article.story.ss-photo-essay .ss-essay-intro .description-wrap {
    text-align: center;
}

article.story.ss-photo-essay .ss-essay-intro span.description {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

article.story.ss-photo-essay .ss-essay-intro .social {
  z-index: 999;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
}

article.story.ss-photo-essay .ss-slide.ss-current .social {
  display: block;
}
article.story.ss-photo-essay .ss-slide .social {
  display: none;
}

article.story.ss-photo-essay .ss-essay-intro .social .share-twitter,
article.story.ss-photo-essay .ss-essay-intro .social .share-facebook,
article.story.ss-photo-essay .ss-essay-intro .social .share-googleplus {
    float: none;
    margin-right: 0;
    display: inline-block;
    white-space: nowrap;
}
