// Stories - General
article.story {
  p {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 36px;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 26px;

    @media (max-width: $screen-xs-max) {
      font-size: 25px;
    }
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > span {
      // allow line-height to reset properly
      display: block;
      letter-spacing: initial;
    }
  }

  .story-header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto 10px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      height: 490px;
      // max-width: 980px;
    }

    @media (max-width: $screen-xs-max) {
      background-size: 100% auto;
      height: auto;
      margin-bottom: 5px;
    }

    img {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;

      @media (max-width: $screen-xs-max) {
        height: auto;
        margin: 0;
        position: static;
        visibility: hidden;
        width: 100%;
      }
    }

    + .container .title-wrap {
      margin-top: 0;
    }
  }

  .description {
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    white-space: normal;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 28px;
    }

    em,
    i {
      font-style: normal;
    }
  }

  .lead {
    margin-bottom: 30px;
  }

  .caption {
    margin-bottom: 20px;
  }
}


// Story - Default Template
article.story-default {
  .title-wrap {
    margin-bottom: 15px;
    margin-top: 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .description-wrap {
    margin-bottom: 45px;
    white-space: nowrap;

    @media (max-width: $screen-sm-max) {
      display: block;
      white-space: normal;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }
  }

  // Allows social btns to be bottom-right aligned
  .description-col {
    display: inline-block;
    float: none;
    vertical-align: bottom;

    @media (max-width: $screen-sm-max) {
      display: block;
      float: left;
    }
  }

  .description {
    display: block;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  .social {
    float: right;
    margin-bottom: 8px;

    @media (max-width: $screen-sm-max) {
      float: left;
      margin-bottom: 0;
    }
  }
}


// Story - Photo Essay Template
main.ss-photo-essay {
  @media (max-width: $screen-sm-max) {
    height: 500px;
  }

  @media (max-width: 320px) {
    height: 400px;
  }
}

article.ss-photo-essay {
  @media (max-width: $screen-sm-max) {
    padding-top: 5%;
  }

  h1 {
    color: #fff;
    padding-bottom: 30px;
  }

  .ss-essay-intro-wrapper img {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
    filter: alpha(opacity=20);
    -khtml-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
  }

  .ss-essay-intro {
    bottom: 0;
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: $screen-sm-max) {
      height: 100%;
    }

    h1,
    .description {
      padding-left: 20px;
      padding-right: 20px;

      @media (max-width: $screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
        white-space: pre-wrap;
      }
    }

    h1,
    .description-wrap {
      color: #fff;
      text-align: center;
    }

    h1 {
      @media (max-width: $screen-xs-max) {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 15px;
      }
    }

    .description {
      display: block;
      margin-bottom: 20px;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .social {
      left: 0;
      position: relative;
      right: 0;
      text-align: center;
      z-index: 999;

      @media (max-width: $screen-xs-max) {
        padding-top: 10px;
      }

      @media (max-width: 320px) {
        left: -20px;
      }

      .share-twitter,
      .share-facebook,
      .share-googleplus {
        display: inline-block;
        float: none;
        margin-right: 0;
        white-space: nowrap;
      }
    }
  }

  .ss-slide-wrapper {
    width: 85%;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .ss-slide {
    .social {
      display: none;
    }

    &.ss-current .social {
      display: block;
    }
  }
}
