// Stories - General
article.story {
  @include font-smoothing();
  color: #000;

  &,
  p,
  ol,
  ul {
    font-family: Georgia, serif;
    font-size: 16px;
    // line-height: 1.38em;
    // margin-top: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
    }
  }

  p {
    // margin-bottom: 16px;

    // @media (max-width: $screen-xs-max) {
    //   margin-bottom: 20px;
    // }

    &:empty {
      display: none;
    }

    // Attempt to "reset" stacked margins from images within <p> tags.
    // Will not work in IE8.
    > img:only-child {
      margin-bottom: 5px;
      margin-top: 0;
    }
  }

  ol,
  ul {
    line-height: 1.2;
    list-style-position: inside;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;

    @include body-prefix('.ie8') {
      font-weight: normal !important;
    }

    > span {
      // allow line-height to reset properly
      display: block;
      letter-spacing: initial;
    }
  }

  h1,
  h2 {
    @media (max-width: $screen-xs-max) {
      overflow: visible;
    }
  }

  h2 {
    font-size: 36px;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 26px;

    @media (max-width: $screen-xs-max) {
      font-size: 25px;
    }
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  blockquote {
    border-left: 0;
    clear: both;
    padding-left: 0;

    &,
    p {
      font-size: 33px;
      font-style: italic;
      line-height: 43px;
      text-align: left;

      @media (max-width: $screen-sm-max) {
        font-size: 28px;
        line-height: 34px;
      }
    }

    p {
      margin-top: 0;
    }

    small {
      color: #444;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 18px;
      font-style: normal;
      line-height: 24px;
      margin-top: 18px;

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    cite {
      margin-left: 10px;
    }

    &.quote {
      padding-left: 48px;
      position: relative;

      @media (max-width: $screen-sm-max) {
        padding-left: 42px;
      }

      @media (max-width: $screen-xs-max) {
        padding-left: 36px;
      }

      &:before {
        content: '“';
        font-size: 100px;
        font-style: none;
        left: -10px;
        line-height: 102px;
        position: absolute;
        top: 0;

        @media (max-width: $screen-sm-max) {
          font-size: 95px;
          line-height: 92px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 76px;
          left: -7px;
          line-height: 74px;
        }
      }

      // note: does not work in IE8
      > p:last-of-type:after {
        content: '”';
      }
    }
  }

  iframe {
    height: 360px;
  }

  img {
    margin-bottom: 15px;
    margin-top: 15px;

    &.pull-left {
      margin-right: 15px;
    }

    &.pull-right {
      margin-left: 15px;
    }
  }

  figure {
    margin-bottom: 15px;
    margin-left: 0; // force reset
    margin-right: 0; // force reset
    margin-top: 15px;

    &.pull-left {
      margin-right: 15px;
    }

    &.pull-right {
      margin-left: 15px;
    }

    &.pull-center {
      // override reset
      margin-left: auto;
      margin-right: auto;
    }

    img {
      margin-top: 0;
    }
  }

  .story-header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto 10px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      height: 490px;
      // max-width: 980px;
    }

    @media (max-width: $screen-xs-max) {
      background-size: 100% auto;
      height: auto;
      margin-bottom: 5px;
    }

    img {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;

      @media (max-width: $screen-xs-max) {
        height: auto;
        margin: 0;
        position: static;
        visibility: hidden;
        width: 100%;
      }
    }

    + .container .title-wrap {
      margin-top: 0;
    }
  }

  .description {
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    white-space: normal;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 28px;
    }

    em,
    i {
      font-style: normal;
    }
  }

  .lead {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      font-size: 17px;
      line-height: 27px;
    }

    // These must be declared separately to work properly.
    &::first-letter {
      display: block;
      float: left;
      font-size: 60px;
      line-height: 36px;
      margin: 8px 8px 0 0;
    }

    &:first-letter {
      display: block;
      float: left;
      font-size: 60px;
      line-height: 36px;
      margin: 8px 8px 0 0;
    }
  }

  .caption {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
  }

  .sidebar {
    margin-bottom: 20px;

    &.pull-left {
      padding-left: 0;
      padding-right: $grid-gutter-width;
    }

    &.pull-right {
      padding-left: $grid-gutter-width;
      padding-right: 0;
    }

    &.pull-left,
    &.pull-right {
      @media (max-width: $screen-xs-max) {
        float: left;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
    }
  }

  .sidebar-inner {
    padding: 10px 30px;

    blockquote {
      &.quote {
        padding-left: 0;

        &:before {
          display: block;
          float: left;
          font-size: 28px;
          left: -5px;
          line-height: 38px;
          position: relative;
          top: 0;

          @media (max-width: $screen-sm-max) {
            font-size: 26px;
            line-height: 36px;
          }
        }
      }

      &,
      p {
        font-size: 28px;
        line-height: 38px;

        @media (max-width: $screen-sm-max) {
          font-size: 26px;
          line-height: 36px;
        }
      }

      small {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
      }
    }
  }

  .callout {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .callout-inner {
    padding: 30px 0;
    text-align: center;

    > div {
      // Force centering of wrapper divs by default
      margin-left: auto;
      margin-right: auto;
    }

    // will not work in IE8
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .callout-inner,
  & {
    > p:empty {
      // kill_empty_p_tags won't work for these shortcodes :(
      display: none;
    }
  }

  .mobile-img-fluid,
  .mobile-img-fluid img {
    @media (max-width: $screen-xs-max) {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}


// Make videos behave
body:not(.ie8) article.story .callout-inner > div:not([class]),
body:not(.ie8) article.story .wp-video-shortcode,
body:not(.ie8) article.story .mejs-shim,
body:not(.ie8) article.story .mejs-overlay,
body:not(.ie8) article.story .mejs-poster,
article.story .me-plugin,
article.story iframe {
  width: 100% !important;
}

body:not(.ie8) article.story .callout-inner > div:not([class]),
body:not(.ie8) article.story .wp-video-shortcode,
body:not(.ie8) article.story .mejs-overlay,
body:not(.ie8) article.story .mejs-poster,
article.story iframe {
  @media (max-width: $screen-sm-max) {
    height: 280px !important;
  }

  @media (max-width: 480px) {
    height: 220px !important;
  }
}


// Story - Default Template
article.story-default {
  .title-wrap {
    margin-bottom: 15px;
    margin-top: 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .description-wrap {
    display: inline-block;
    margin-bottom: 45px;
    white-space: nowrap;

    @media (max-width: $screen-sm-max) {
      display: block;
      white-space: auto;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }
  }

  // Allows social btns to be bottom-right aligned
  .description-col {
    display: inline-block;
    float: none;

    @media (max-width: $screen-sm-max) {
      display: block;
      float: left;
    }
  }

  .description {
    display: block;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  .social {
    float: right;

    @media (max-width: $screen-sm-max) {
      float: left;
    }
  }
}


// Story - Photo Essay Template
main.ss-photo-essay {
  @media (max-width: $screen-sm-max) {
    height: 500px;
  }

  @media (max-width: 320px) {
    height: 400px;
  }
}

article.ss-photo-essay {
  @media (max-width: $screen-sm-max) {
    padding-top: 5%;
  }

  h1 {
    color: #fff;
    padding-bottom: 30px;
  }

  .ss-essay-intro-wrapper img {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
    filter: alpha(opacity=20);
    -khtml-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
  }

  .ss-essay-intro {
    bottom: 0;
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: $screen-sm-max) {
      height: 100%;
    }

    h1,
    .description {
      padding-left: 20px;
      padding-right: 20px;

      @media (max-width: $screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
        white-space: pre-wrap;
      }
    }

    h1,
    .description-wrap {
      text-align: center;
    }

    h1 {
      @media (max-width: $screen-xs-max) {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 15px;
      }
    }

    .description {
      display: block;
      margin-bottom: 20px;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .social {
      left: 0;
      position: relative;
      right: 0;
      text-align: center;
      z-index: 999;

      @media (max-width: 320px) {
        left: -20px;
      }

      .share-twitter,
      .share-facebook,
      .share-googleplus {
        display: inline-block;
        float: none;
        margin-right: 0;
        white-space: nowrap;
      }
    }
  }

  .description {
    color: #fff;
  }

  .social {
    @media (max-width: $screen-xs-max) {
      padding-top: 10px;
    }
  }

  .ss-slide-wrapper {
    width: 85%;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .ss-slide {
    .social {
      display: block;
    }

    &.ss-current .social {
      display: none;
    }
  }
}
