/**************************
 * Archives
 **************************/

/* Grouped issue lists */
#archives .post-type-search-term { margin-top: 50px; }
#archives .issue { margin-bottom: 30px; }

/* General - fonts */
#archives a { color: #222; }
#archives h2,
#archives h3,
#archives h4,
#archives .post-type-search-results ul:before,
#archives .results-story-issue {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#archives h2 {
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}
#archives h3,
#archives .post-type-search-results ul:before,
#archives .results-story-issue {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;
  color: #818181;
  text-transform: uppercase;
}
#archives .issue h3 { margin-top: 10px; }
#archives h4 {
  font-family: 'AleoBold', serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  float: left;
  padding-right: 10px;
}
#archives a:hover h4,
#archives a:active h4 {
  text-decoration: underline;
}
#archives .description {
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 18px;
  font-style: italic;
  display: block;
  float: left;
  clear: both;
  padding-top: 2px;
}
#archives a.featured-story { display: block; margin-bottom: 30px; overflow: hidden; }
#archives a.featured-story h4 { font-size: 24px; line-height: 24px; }
#archives a.featured-story .description { font-size: 18px; line-height: 24px; margin-top: 4px; }
#archives .results-story-issue {
  display: none;
  font-size: 11.5px;
  line-height: 20px;
  height: 20px;
  float: left;
  clear: right;
  margin-bottom: 0;
}

/* General */
#archives img { margin-bottom: 10px; }
#archives ul { list-style-type: none; margin: 0; }
#archives ul li { margin-bottom: 20px; display: block; overflow: hidden; }
#archives ul li.featured-story { display: none; }
#archives hr { margin-top: 30px; margin-bottom: 30px; }
#archives .issue:last-child hr { display: none; }

/* Search results */
#archives .post-type-search-results { background: #f0f0f0; margin-bottom: 0; }
#archives .post-type-search-results > div,
#archives .post-type-search-results > p {
  /* Handle either results div or no results found <p> */
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
#archives .post-type-search-results > p { text-align: center; }
#archives .post-type-search-results > div:before,
#archives .post-type-search-results > p:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  left: 0;
  right: -20px; /* Account for .row margins */
  margin: auto;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 15px solid #f0f0f0;
}
#archives .post-type-search-results .results-story-issue { display: block; }
#archives .post-type-search-results ul { padding: 80px 0 30px 0; position: relative; overflow: auto; }
#archives .post-type-search-results ul:before {
  content: "Search Results";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}
#archives .post-type-search-results ul li {
  display: block;
  width: 45%;
  float: left;
  clear: left;
}
#archives .post-type-search-results ul li:nth-child(2n) { float: right; clear: right; }

#archives .post-type-search-message { padding: 20px; }
