// Subpages - General
.subpage {
  main {
    @include font-smoothing();
    color: #000;
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h1 {
    @include font-smoothing();
    color: #222;
    font-family: $font-family-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 25px;
    text-align: center;
  }
}


// Archives
#archives {
  h2,
  h3,
  h4,
  .post-type-search-results ul:before,
  .results-story-issue {
    @include font-smoothing();
    font-weight: normal;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  h2 {
    font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
  }

  h3,
  .post-type-search-results ul:before,
  .results-story-issue {
    color: #818181;
    font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  h4 {
    display: block;
    float: left;
    font-family: 'AleoBold', serif;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 2px;
    padding-right: 10px;
  }

  a {
    color: #222;

    &:hover h4,
    &:active h4 {
      text-decoration: underline;
    }

    &.featured-story {
      display: block;
      margin-bottom: 30px;
      overflow: hidden;

      h4 {
        font-size: 24px;
        line-height: 24px;
      }

      .description {
        @include font-smoothing();
        font-size: 18px;
        line-height: 24px;
        margin-top: 4px;
      }
    }
  }

  .description {
    @include no-font-smoothing();
    clear: both;
    display: block;
    float: left;
    font-family: $font-family-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    padding-top: 2px;
  }

  .post-type-search-term {
    margin-top: 50px;
  }

  .issue {
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 10px;
    }
  }

  .results-story-issue {
    clear: right;
    display: none;
    float: left;
    font-size: 11.5px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  img {
    margin-bottom: 10px;
  }

  ul {
    @include list-unstyled();
  }

  li {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;

    &.featured-story {
      display: none;
    }
  }

  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  // Search results
  .post-type-search-results {
    background: #f0f0f0;
    margin-bottom: 0;

    > div,
    > p {
      // Handle either results div or no results found <p>
      margin-bottom: 0;
      margin-top: 0;
      position: relative;

      &:before {
        border-bottom: 15px solid #f0f0f0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        content: '';
        display: block;
        height: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: -20px; // Account for .row margins
        top: -15px;
        width: 0;

        @media (max-width: $screen-xs-max) {
          right: 0;
        }
      }
    }

    > p {
      text-align: center;
    }

    .results-story-issue {
      display: block;
    }

    ul {
      margin-bottom: 0;
      overflow: auto;
      padding: 80px 0 30px;
      position: relative;

      &:before {
        content: 'Search Results';
        display: block;
        left: 0;
        position: absolute;
        text-align: center;
        top: 30px;
        width: 100%;
      }
    }

    li {
      clear: left;
      display: block;
      float: left;
      width: 45%;

      @media (max-width: $screen-xs-max) {
        clear: both;
        margin-bottom: 20px;
        margin-left: 20px;
        width: auto;
      }

      a {
        @media (max-width: $screen-xs-max) {
          display: block;
          padding-right: 20px;
        }
      }

      &:nth-child(2n) {
        clear: right;
        float: right;

        @media (max-width: $screen-xs-max) {
          clear: left;
          float: left;
        }
      }

      &.featured-story {
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }
    }
  }

  .post-type-search-message {
    padding: 20px;
  }
}


// Give page
#give {
  h1 + .lead {
    margin-top: -20px;
  }

  .give-callout {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      margin-top: 0;
    }

    h2,
    .h2 {
      margin-bottom: 15px;
    }
  }

  .lead:first-letter {
    display: inline;
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  .btn-give {
    border-bottom: 4px solid #eab700;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    font-size: 22px;
    padding: 20px;
    width: 80%;

    @media (max-width: 480px) {
      width: 100%;
    }
  }
}

