@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Domine:700);


#story-title { margin: 40px 0; }
#story-title h1 { text-indent: -9999px; display: block; height: 1px; }
#story-title h2 { font-family: Georgia, serif; color: #000; font-size: 14px; line-height: 24px; font-weight: normal; }

#masonry { margin-bottom: 60px; overflow: hidden; margin-left: -20px; }
#masonry .box { border-top: 2px dotted #000; padding-top: 15px; margin-bottom: 15px; }


/* Font styles - by effect */
.title-vertical { 
}
.title-circle { 
}
.title-circle-white { 
}
.title-circle-gold { 
}
.title-circle-blue { 
}
.title-blockstack { 
}
.title-pentagon { /* title-pentagon is always the same color/font style */
	background-color: #9b907a;
}

/* Font styles - by color */
.title-lightgray { color: #e0dcd5; }
.title-medgray { color: #cecdcb; }
.title-gold { color: #ffd400; }
.title-blue { color: #679399; }

/* Font styles - by font face */
.title-serif { font-family: Georgia, serif; font-size: 70px; line-height: 70px; }
.title-slab { font-family: 'Domine', serif; font-size: 70px; line-height: 70px; font-weight: normal; }
.title-sans { font-family: 'Open Sans', sans-serif; font-size: 60px; line-height: 60px; font-weight: normal; }


#masonry .box h4 { font-family: Georgia, serif; font-size: 24px; line-height: 28px; font-weight: normal; }

.carat-left { }
.carat-right { }
.carat-up { }

span.date { font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-size: 12px; line-height: 14px; padding-right: 5px; }

@media (max-width: 979px) {
	#masonry { margin-left: 0; }
	
	/* Force .span's to always use their 980px window widths, unless they exceed the current window width */
	
	#masonry .span12,
	#masonry .span11,
	#masonry .span10 { width: 95%; }
	
	#masonry .span9 {
		width: 700px;
	}
	#masonry .span8 {
		width: 620px;
	}
	#masonry .span7 {
		width: 540px;
	}
	#masonry .span6 {
		width: 460px;
	}
	#masonry .span5 {
		width: 380px;
	}
	#masonry .span4 {
		width: 300px;
	}
	#masonry .span3 {
		width: 220px;
	}
	#masonry .span2 {
		width: 140px;
	}
	#masonry .span1 {
		width: 60px;
	}
	#masonry [class*="span"] {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	#story-title { margin: 20px 0; }
	#story-title img { margin: 10px 0; }
	
	#masonry { margin-left: -20px; }
	
	#masonry .span9,
	#masonry .span8,
	#masonry .span7,
	#masonry .span6,
	#masonry .span5 { width: 95%; }
}

@media (max-width: 480px) {
	#masonry { width: 300px; }
	#masonry [class*="span"] {
		width: 300px !important;
	}
}