body,
#header,
#footer {background-color:#041124;}

#header {height: 50px;color:#FFF;position:relative;}
.ie7 #header { position: relative; z-index: 999; background-color: transparent; }
#header .title {position:static;}
#header .toggle_story_nav {display:none;}
#header .issue {display:none;}
#header .description {position:absolute;right:0;}
#header .row .span12 .row { position:relative; z-index:9999; }

#featured_story { position:relative; top:0; }
#featured_story a { display:block; }

#footer_stories { padding: 0 0 30px 0; }
#footer_stories h2 {color:#FFF;}



/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
	#header+.container {
		margin-bottom: -20px;
	}
	
	#body_content .container, #body_content .container.wide {
		width: 100%;	
	}
	#featured_story, #featured_story .span12 {
		width: 100%;
		margin-left: 0;
	}
	#featured_story .span12 img {
		margin-left: -1%;
		width: 101%;	
	}
	
	/* Header fixes */
	
	#header, #header .row, #header .span12, #header .span12 .row {
		width: 100%;
	}
	#header .title {
		margin-top: 12px;
	}
		
	/* Footer fixes */
	
	#footer_navigation, #footer_stories {
		width: 100%;	
	}
	#footer_navigation .span12, #footer_stories .span12 {
		width: 93%;	
	}
	#footer_navigation .row {
		margin-left: 0;	
	}
	
}
     

/* Portrait tablet to landscape and desktop */
@media only screen and
(min-width: 768px) 
and (max-width: 979px) {
	
	#body_content .container {
		width: 100%;	
	}
	
	/* Header fixes */
	
	#header, .row {
		width: 750px;
		margin: auto;	
	}
	#header .row, #header .span12, #header .span12 .row, #featured_story .span12 {
		width: 720px;
		margin: 0;	
	}
	#header .title {
		margin-top: 12px;
	}
		
	/* Footer fixes */
	#footer_stories {
		margin:auto;	
	}
		#footer_stories .span12, #footer_stories .firststory {
		}
}		

/* Landscape phones and down */
@media only screen and (max-width: 480px) {

}





/** RESPONSIVE STYLES: Header/Footer **/

@media (max-width: 979px) {
	/* Header */
	#header { }
	#header>.row { width: 750px; margin: auto; }
	#header .title { width: 162px; margin-right: 40px; }
	#header .description { display: none; }
	
	#footer > .container.wide > .row,
	.header_stories > .row { width: 767px !important; }
	.header_stories .span12, #footer .span12 { width: 724px; }
	.header_stories .span3, #footer .span3 { width: 166px; }
	.header_stories .span2, #footer .span2 { width: 104px; }
	
	#footer_stories>div, #footer_navigation>div { margin-left: 15px; }
	#footer_stories { padding-top: 10px; }
}

/* Portrait tablet to landscape and desktop */
@media only screen and
(min-width: 768px) 
and (max-width: 979px) {
	
	/* Header */
	#story_nav .span12 .row {
		width: 750px !important;
		margin-left: -20px;	
	}
	
	#header .row {
		width: 750px !important;	
	}
	#body_content .description {
		display: none;	
	}
	#story_nav .span3, #footer .span3 {
		width: 166px;	
	}

	/* Footer */
	#footer_navigation .span12 {
		width: 750px;
		margin-left: 0;
	}
	#footer_navigation .span12 .row {
		width: 750px;	
		margin-left: 0;
	}
	
	#footer_stories, #footer_navigation {
		width: 750px !important;	
	}
	
	#footer_stories .span12 {
		width: 720px;	
	}
	
	
	.header_stories .bottom li,
	.footer_stories.bottom li { height: 170px; }
	
	#footer_navigation ul li {margin-left:14px;}
	#footer_navigation ul li a {font-size:13px;}
	
		
}		

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
	/* Header */
	#story_nav .span12 .row {
		width: 100% !important;
		margin-left: -20px;
	}
	
	#story_nav .span3, #footer_stories .span3 {
		width: 128px;	
		margin-bottom: 20px;
		display: inline-block;
		float: none;
		margin-bottom: 20px;
		vertical-align: top;
	}
	
	#header .row {
		width: 100%;	
	}
	#header .span12 {
		width: 315px !important;	
		margin-left: 0;
	}
		body.subpage #header .span12 {
			margin-left: 20px !important;	
		}
	
	#header .title {
		width: 125px;
		background-size: 125px 19px;
		left: 45px;
	}
	#header .issue {
		width: 85px;
		font-size: 10px;
		letter-spacing: 1.1px;
		padding-top: 20px;
		margin-left: 45px;
	}
	#body_content .description {
		display: none;	
	}
	#header .toggle_story_nav {
		margin-left: 10px;
		left: 0;	
	}


	/* Header/Footer story thumbnails */
	.header_stories { margin-left: -20px; padding-right: 20px; }
	.header_stories>.row { margin-left: 20px !important; }
	.header_stories .thumbnails, .footer_stories .thumbnails { margin-left: -20px; }
	.header_stories .thumbnails { margin-bottom: 0; }
	.footer_stories { padding: 30px 0 0 0; }
	.footer_stories .span3, 
	.footer_stories .span2, 
	.header_stories .span3, 
	.header_stories .span2 { width: 130px !important; height: 200px !important; overflow: hidden; margin-bottom: 5px; }
	.header_stories .title, .footer_stories .title { margin-left: 0 !important; font-size: 13px !important; line-height: 15px !important; }
	.footer_stories a span.subtitle_text, .header_stories a span.subtitle_text { padding-top: 5px; }
	.header_stories .row a .subtitle_text, 
	.header_stories .row a .title_colon,
	.footer_stories a span.subtitle_text, 
	.footer_stories a span.title_colon { display: none; }

	.header_stories .span12, 
	#footer .span12 { width: 300px !important; }
	
	.header_stories > .row { width: 100% !important; }

	/* Footer */
	#footer { padding-right: 0; }
	#footer > .container { margin-left: -20px; padding-right: 0; }
	#footer > .container.wide > .row { margin-left: 20px; width: 300px !important; }

	#footer_navigation {
		width: 100% !important;	
	}
	.footer_stories { margin-left: 20px; width: 280px !important; }
	.footer_stories .span12, #footer_navigation .span12 {
		width: 93%;
	}
	#footer_navigation .span12 .row {
		width: 93%;	
	}
	#footer_navigation h2.widgettitle {
		margin-bottom: 5px !important;	
	}
	.widget, .textwidget {
		margin-bottom: 25px !important;	
	}
	
	#issue-carousel .item .issue-title { font-size: 18px; }
	#issue-carousel .carousel-control { font-size: 12px; }
	#issue-carousel .carousel-control, 
	#issue-carousel .carousel-control.left .arrow,
	#issue-carousel .carousel-control.right .arrow { line-height: 30px; }

	#issue-carousel .thumbnails { width: 300px !important; }
	
	#footer_navigation ul { padding-top: 10px; }
	#footer_navigation ul li { display: inline; width: 100%; margin-left: 0; }
	
	#footer_navigation .span9 { width: 92% !important; }
}

#footer #footer_hr { display: none; }