@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-LightItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-MediumItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
