/**
 * Custom admin styles go here.
 **/

 .i-am-a-fancy-admin h1 { margin: 20px 0 30px 0; }
.i-am-a-fancy-admin .updated{margin: 0 0 20px 0;}
.i-am-a-fancy-admin .container{margin: 0 19px 0 0; padding: 0;}
.i-am-a-fancy-admin .block{display: block;}
.i-am-a-fancy-admin .checkbox-list,
.i-am-a-fancy-admin .radio-list{padding: 0; margin: 0;}
.i-am-a-fancy-admin .checkbox-list li,
.i-am-a-fancy-admin .radio-list li{list-style-type: none; display: inline; margin-right: 20px;}
.i-am-a-fancy-admin .description em{font-family: monospace; font-weight: bold; color: #21759B;}
.i-am-a-fancy-admin .field li label{display: inherit;}
.i-am-a-fancy-admin textarea{width: 70%; height: 10em;}
.i-am-a-fancy-admin .updated{position: absolute; top: 40px; left: 50%; z-index: 100; text-align: center;}
.i-am-a-fancy-admin .fields{
	margin-left: 215px; 
	background-color: #fefefe; 
	padding: 50px 70px; 
	border: 1px solid #f0f0f0;
	box-shadow: rgba(160, 160, 160, .1) 0px 0px 12px;
	max-width: 700px;
}
.i-am-a-fancy-admin .fields .section h2{padding: 0 0 10px 0; margin: 0; color: #21759B; font-size: 30px; border-bottom: 1px solid #E1E5EB;}
.i-am-a-fancy-admin .fields .section h3 { font-size: 24px; margin: 0; padding: 50px 0 10px 0; }
.i-am-a-fancy-admin#theme-options .fields .section h3 { padding-top: 10px; }
.i-am-a-fancy-admin .fields .section h4 { font-size: 18.5px; margin: 0; padding: 30px 0 10px 0; }
.i-am-a-fancy-admin .fields .section h5 { font-size: 16px; margin: 0; padding: 20px 0 10px 0; }
.i-am-a-fancy-admin .fields .section h6 { font-size: 14px; margin: 0; padding: 20px 0 10px 0; }
.i-am-a-fancy-admin .fields .section p,
.i-am-a-fancy-admin .fields .section ul,
.i-am-a-fancy-admin .fields .section ol {
	font-size: 15px;
	line-height: 23px;
	margin: 10px 0;
}
.i-am-a-fancy-admin .fields .section ul,
.i-am-a-fancy-admin .fields .section ol {
	list-style-type: disc;
	margin-left: 25px;
}
.i-am-a-fancy-admin .fields .section hr {
	margin: 50px 0 0 0;
	color: #999;
}
.i-am-a-fancy-admin .fields .section img { max-width: 100%; margin: 10px auto; border: 1px solid #ccc; }
.i-am-a-fancy-admin .fields .section .caption { font-style: italic; text-align: center; margin-top: 0; margin-bottom: 40px; }
.i-am-a-fancy-admin .fields .section table{padding: 0; margin: 20px 0 20px 0; clear: none;}
.i-am-a-fancy-admin .fields .submit{text-align: right; margin: 0; padding: 0;}
.i-am-a-fancy-admin .sections{width: 200px; float: left;}
.i-am-a-fancy-admin .sections .section{margin: 0 0 8px 0;
	box-shadow: rgba(160, 160, 160, .1) 0px 0px 12px;
}
.i-am-a-fancy-admin .sections a{display: block; padding: 10px; color: #aaa; text-decoration: none; border: 1px solid #f0f0f0; background-color: #fafafa; font-size: 16px; font-weight: bold;}
.i-am-a-fancy-admin .sections a.active,
.i-am-a-fancy-admin .sections a:hover{background-color: #fff; border: 1px solid #f0f0f0; color: #21759B;}
.i-am-a-fancy-admin code{display: block; background-color: #fafafa; padding: 10px; border: 1px solid #ddd;}
.i-am-a-fancy-admin .fields .section .well {
	padding: 20px;
	margin: 20px 0;
	width: 100%;
	background: #efefef;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#shortcodes-metabox{}
#shortcodes-metabox form{}
#shortcodes-metabox .empty{dislpay: none;}
#shortcodes-metabox #shortcode-results{list-style-type: disc; padding: 0 0 0 32px; margin: 1em 0;}
#shortcodes-metabox #shortcode-results li a{text-decoration: none;}
#shortcodes-metabox #shortcode-results li a:focus{text-decoration: underline;}

#page-help{}
#page-help h2{}
#page-help .shortcode{background-color: #fcfcfc; border: 1px solid #e0e0e0;}
#page-help .name{font-size: 18px; margin: 0 0 1em 0; background-color: #eaeaea; padding: 10px; border-bottom: 1px solid #e0e0e0;}
#page-help .documentation{line-height: 1.5em; padding: 10px;}

body.login #nav{float: left; width: 50%;}
body.login #backtoblog{margin-left: 50%;}
body.login #nav,
body.login #backtoblog{padding: 0;}
body.login #nav a,
body.login #backtoblog a{color: #666 !important; font-size: 14px; text-decoration: none; padding: 10px;}
body.login #nav a:hover,
body.login #backtoblog a:hover{text-decoration: underline; color: #000 !important;}
body.login #lostpasswordform,
body.login #loginform{margin-bottom: 20px;}
body.login #login h1 a{background: transparent url('../img/login-logo.png') no-repeat 50% 0; text-indent: 0; text-align: center; text-decoration: none; padding-top: 92px; height: inherit; font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; color: #333;}
body.login #login h1 a:hover{color: #555;}
body.login #login h1 a .hide{display: block;}

.description code { background:none; font-weight:bold; color:#21759B; padding:0; }

#theme-help table {border-collapse:collapse;}
#theme-help table th, #theme-help table td {border:1px solid #333;padding:5px;}
#theme-help table th {background-color:#f1f1f1;}


li.custom_repeatable h3.hndle { margin-bottom: 16px !important; }
li.custom_repeatable table { margin-top: -16px; }
li.custom_repeatable.closed table { display: none; }
a.repeatable-remove { margin: 0 0 15px 10px; }
#ss_slides_all .custom_repeatable { padding-bottom: 15px; margin: 0 0 15px 0; }
#slider-slides { background: #fff; border-color: #fff; }
#slider-slides .inside { margin: 0; padding: 0; }
#slider-slides .handlediv, #slider-slides > h3.hndle { display: none;}


/* Hide blockquote tinymce button. Use [blockquote] shortcode instead. */
#content_blockquote { display: none; }

/* Fix font selector dropdown line heights */
#menu_content_content_fontsizeselect_menu_tbl .mceText { line-height: 1em; }

/* Shortcode modal */
.shortcode-section {
    display: none;
}
#select-shortcode-form-inner {}
#select-shortcode-form-inner p { padding: 0 !important; }
#select-shortcode-form-inner button.button-primary { margin-top: 15px; }
#select-shortcode-form-inner .cols { overflow: hidden; clear: both; border-bottom: 1px solid #f0f0f0; padding: 15px 0; }
#select-shortcode-form-inner .cols .col-left { width: 30%; float: left; }
#select-shortcode-form-inner .cols .col-right { width: 65%; float: right; }

#select-shortcode-form-inner #shortcode-descriptions { margin-top: 0; }
#select-shortcode-form-inner #shortcode-descriptions li { margin-top: 5px; }

#select-shortcode-form-inner #shortcode-editors { margin: 25px 0; }
#select-shortcode-form-inner #shortcode-editors li { border-bottom: 1px solid #f0f0f0; padding: 0 0 25px 0; }


/* Slideshows */
body.post-type-photo_essay .postarea.edit-form-section { display: none; }
#slide_modal_toggle { width: 100%; height: 45px; padding: 10px 0; font-size: 16px; text-align: center; margin: 20px 0;}
body.post-type-photo_essay input[id^="file_img_"] { display: none; }

/* Caption WYSIWYG - Toolbar */
div[id^="wysihtml5-toolbar"] {
	position: relative;
	width: 417px;
	background-color: #E5E5E5;
	background: linear-gradient(to top, #E5E5E5, #F4F4F4) repeat scroll 0 0 #EEEEEE;
	overflow: visible;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	padding: 3px;
}
/* Caption WYSIWYG - Buttons */
div[id^="wysihtml5-toolbar"] a {
	display: inline-block;
	vertical-align: top;
	width: 22px;
	height: 22px;
	margin: 1px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: transparent;
	background-image: url("../../../../../wp-includes/images/wpicons.png");
	border: 1px solid transparent;
	border-radius: 2px;
}
div[id^="wysihtml5-toolbar"] a:hover,
div[id^="wysihtml5-toolbar"] a:active {
	border-color: #bbb;
	background: linear-gradient(to top, #E5E5E5, #FFFFFF) repeat scroll 0 0 #EEEEEE;
	background-image: url("../../../../../wp-includes/images/wpicons.png");
}

div[id^="wysihtml5-toolbar"] a.wysihtml5-command-active,
div[id^="wysihtml5-toolbar"] a.wysihtml5-command-dialog-opened {
	border-color: #999999 #CCCCCC #CCCCCC #999999;
	background: linear-gradient(to top, #F6F6F6, #E3E3E3) repeat scroll 0 0 #EEEEEE;
	background-image: url("../../../../../wp-includes/images/wpicons.png");
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-dialog-action],
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-dialog-action]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-dialog-action]:active {
	background-image: none;
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="strong"] {
	background-position: 1px -19px;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="strong"]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="strong"]:active,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="strong"][class="wysihtml5-command-active"] {
	background-position: 1px 1px;
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="em"] {
	background-position: -19px -19px;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="em"]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="em"]:active,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command-value="em"][class="wysihtml5-command-active"] {
	background-position: -19px 1px;
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="underline"] {
	background-position: -279px -19px;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="underline"]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="underline"]:active,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="underline"][class="wysihtml5-command-active"] {
	background-position: -279px 1px;
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="createLink"] {
	background-position: -159px -19px;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="createLink"]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="createLink"]:active,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-command="createLink"][class="wysihtml5-command-dialog-opened"] {
	background-position: -159px 1px;
}

div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] {
	display: inline-block;
	vertical-align: top;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] label {
	padding-left: 8px;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] input {
	width: 180px;
	margin: 0;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] a {
	display: inline-block;
	position: relative;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] a:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-indent: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] a[data-wysihtml5-dialog-action="save"]:after {
	content: "✓";
	line-height: 26px;
	color: #3C763D;
}
div[id^="wysihtml5-toolbar"] div[data-wysihtml5-dialog="createLink"] a[data-wysihtml5-dialog-action="cancel"]:after {
	content: "×";
	font-size: 20px;
	color: #A94442;
}

div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"] {
	position: absolute;
	top: -26px;
	right: 8px;
	background-image: none;
	width: 85px;
	height: 26px;
	border: 0px solid transparent;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:hover,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:active {
	background: none;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:before,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:after {
	display: block;
	position: absolute;
	top: 0;
	text-indent: 0;
	text-align: center;
	line-height: 16px;
	color: #000;
	padding: 5px 5px 2px 5px;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #f4f4f4;
	background-color: #f4f4f4;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:before {
	content: "Visual";
	left: 0;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:after {
	content: "Text";
	right: 0;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
	color: #999;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:hover:after,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"]:active:after {
	color: #d54e21;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:before {
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
	color: #999;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:after {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #f4f4f4;
	background-color: #f4f4f4;
	color: #000;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:hover:before,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:active:before {
	color: #d54e21;
}
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:hover:after,
div[id^="wysihtml5-toolbar"] a[data-wysihtml5-action="change_view"].wysihtml5-action-active:active:after {
	color: #000;
}

.wysihtml5-sandbox,
textarea[id^="ss_slide_caption"] {
	margin: 0 !important;
	border-radius: 0 0 3px 3px !important;
	border-top: 0 !important;
	padding: 8px !important;
	width: 425px !important;
	height: 150px !important;
}
