
#header, #footer {background-color:#abd2c6;}
#footer {margin-top:80px;}
.intro {margin-top:55px;}
h2 {color:#fe7f00;text-transform:uppercase;font-family:"Arial Black",Arial,sans-serif;font-size:37px;}
.firstletter {font-size:40px !important;padding-right: 7px;line-height:.85em;color:#abd2c6;}
p.shoutout {color:#fe7f00;font-size:30px;margin-top:10px;margin-bottom:20px;}