// Contribute page
#contribute {

  .contribute-my-callout {
    .btn {
      width: 100%;
      letter-spacing: 0;
      font-size: 1.15rem;
      font-weight: bold;
      text-transform: none;
      border-bottom: 4px solid #e0b400;
    }
  }

  // TODO: Review these
  // form,
  // input,
  // textarea {
  //   font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', sans-serif !important;
  // }

  // .gform_title,
  // .gfield_label,
  // label {
  //   font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif !important;
  //   font-weight: bold;
  // }

  // h1 + .lead {
  //   margin-top: -20px;
  // }

  // .lead:first-letter {
  //   display: inline;
  //   float: none;
  //   font-size: inherit;
  //   line-height: inherit;
  //   margin: 0;
  // }

  // .contribute-callout {
  //   margin-top: -30px;

  //   .callout-inner {
  //     padding-bottom: 0;
  //     padding-top: 0;
  //   }

  //   .btn {
  //     margin-bottom: 4px;
  //     min-width: 25%;
  //   }
  // }

  // .btn-give {
  //   white-space: normal;
  //   width: 80%;

  //   @media (max-width: 480px) {
  //     width: 100%;
  //   }
  // }
}
