// Give page
#give {
  h1 + .lead {
    margin-top: -20px;
  }

  .give-callout {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      margin-top: 0;
    }

    h2,
    .h2 {
      margin-bottom: 15px;
    }
  }

  .lead:first-letter {
    display: inline;
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  .btn-give {
    white-space: normal;
    width: 80%;

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .well {
    background-color: rgba(255, 255, 255, .78);
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 transparent;
  }
}
