// Subpages - General
.subpage {
  main {
    margin: 3rem 0;
  }

  h1 {
    color: #222;
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center;
  }
}





