.container {
  // Disable responsiveness in IE8:
  // Force fixed width for containers
  @include body-prefix('.ie8') {
    max-width: none !important;
    width: $container-md;
  }
}


.container-wide {
  width: 100%;
}
