article.story {
    position: relative;

    .replay {
        display: none;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 10px;
        width: 85px;
        z-index: 200;

        .glyphicon-repeat {
            font-size: 14px;
            transition: all 1s ease;
        }

        a {
            color: #ccc;
            text-transform: uppercase;

            &:hover {
                color: #fff;

                .glyphicon-repeat {
                    transform: rotate(360deg);
                }
            }
        }
    }

	h1 {
        font-family: MontserratBold,sans-serif;
        font-weight: 400;
		font-size: 58px;
		margin-bottom: 5px;

		@media (max-width: 767px) {
			font-size: 50px;
		}
	}

    .story-header-image {
        background-color: #000;
        background-size: 0 0;
    }

    h2 {
        color: #d05439;
        font-size: 26px;
        font-weight: bold;
    }

    blockquote {
        margin-top: 10px;
    }
}