article.story {
    position: relative;

    .replay {
        display: none;
        position: absolute;
        right: 10%;
        top: 15px;
        z-index: 200;

        .glyphicon {
            font-size: 14px;
        }

        a {
            color: #fff;
            text-transform: uppercase;
        }
    }

	h1 {
		font-size: 60px;
		margin-bottom: 5px;

		@media (max-width: 767px) {
			font-size: 50px;
		}
	}

    .story-header-image {
        background-color: #000;
        background-size: 0 0;
    }

    h3 {
        color: #d05439;
        font-weight: bold;
    }

    blockquote {
        margin-top: 10px;
    }
}