/* Header/Footer Styles */

#header, #footer { background-color: #888f62; }


/* Story Styles */

#wildlife_body_top h1 { display: block; text-indent: -9999px; height: 1px; width: 1px; }
#wildlife_body_top #story_title { padding-top: 135px; padding-bottom: 60px; }
#wildlife_body_top h2 { font-size: 22px; line-height: 24px; color: #888f62;}
#wildlife_body_top .subheader_text { font-family: Georgia, serif; font-size: 20px; line-height: 25px; }

#wildlife_body_content { margin-top: -75px; padding-top: 75px; }
#wildlife_body_content h3 { font-size: 16px; line-height: 18px; color: #888f62; margin-bottom: -12px;}
#wildlife_body_content p { margin-bottom: 1em; }
#wildlife_body_content #body_leftcol { padding-bottom: 1350px; }
#wildlife_body_content #body_rightcol { margin-top: 840px; }

#body_content_bottom { margin-bottom: 100px; }
#body_content_bottom p.alt { font-size: 25px; line-height: 32px; color: #888f62; }
#body_content_bottom #habitat-thumb {  -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2); }
#habitat_modal { height: 550px !important; }
.modal-header { overflow: hidden !important; }
.modal-body { height: 460px !important; max-height: 460px !important; }


/* Responsive Styles */

@media (max-width: 979px) {
	#wildlife_body_top #firstp { color: #eee; }
}

@media (min-width: 768px) and (max-width: 979px) {
	#wildlife_body_top #story_title { padding-top: 80px; width: 400px; height: auto; }
	#wildlife_body_top > .row > .span8 { width: 724px !important; }
	
	#wildlife_body_content { margin-top: 0; padding-top: 0; }
	#wildlife_body_content #body_leftcol { padding-bottom: 1200px; background-size: contain; }
	#wildlife_body_content #body_rightcol { margin-top: 620px; }
}

@media (max-width: 767px) {
	#wildlife_body_top { margin-left: -20px; padding-right: 40px; }
	#wildlife_body_top #story_title { padding-top: 35px; padding-bottom: 0; }
	#wildlife_body_top #story_title, #wildlife_body_top .subheader_text { margin-left: 20px; }
	#wildlife_body_top #firstp { padding-bottom: 20px; }
	
	#wildlife_body_content, #body_leftcol { background-image: none !important; }
	
	#wildlife_body_content #body_leftcol { padding-bottom: 0; }
	#wildlife_body_content #body_rightcol { margin-top: 0; }
	#wildlife_body_content #body_rightcol img { float: right; }
}