main article.story h1 {
	letter-spacing: -.03em;
	font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-size: 72px;
}

@media (max-width:  768px) {
	main article.story h1 {
		font-size: 40px;
	}
}

main article.story #stop-slider {
	margin-bottom: 30px;
}

main article.story .stop-thumbnail {
	margin-right: 4px;
	display: inline-block;
	height: 100px;
	width: 100px;
}

main article.story .stop-thumbnail:first-child {
	margin-left: 4px;
}

main article.story .carousel-caption {
	position: absolute !important;
	background-color: rgba(0, 0, 0, 0.45);
	top: 15px;
	left: 15px;
	padding: 15px;
	right: auto;
	bottom:auto;
}

main article.story .carousel-caption h2 {
	color: #fff;
	margin-bottom: 0;
	font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
}

main article.story .stop-image {
	margin-bottom: 0;
	margin-top: 0;
}

main article.story .carousel {
	margin-bottom: 0 !important;
}

main article.story .stop-header-container {
	margin: 25px 0 0 25px;
	padding: 10px;
	color: #fff;
}

main article.story .stop-data {
	margin-top: 20px;
}

main article.story h2.stop-header {
	font-size: 28px;
	font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B", sans-serif;
}

main article.story h3.stop-subtitle {
	font-size: 26px;
	margin-bottom: 12px;
	font-weight: normal;
	font-style: italic;
	color: #445E2B;
}

main article.story .smaller-title {
	display: block;
	font-size: 22px;
}

main article.story #stop-content-container {
	background-color: #444;
}

main article.story #stop-content-description-container {
	padding: 20px 15px 15px 0;
}

main article.story #stop-subtitle {
	font-size: 26px;
	margin-bottom: 15px;
	font-weight: normal;
	font-style: italic;
	color: #bbc8af;
}

main article.story #stop-content {
	color: #fff;
	line-height: 1.7;
	font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-size: 14px;
	font-weight: 500;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: initial;

}

main article.story #stop-controls {
	padding: 12px 0;
	min-height: 30px;
}

main article.story .stop-control {
	min-height: 28px;
	min-width: 28px;
	border-radius: 25px;
	background-color: #f1b052;
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}

main article.story .stop-control.pull-left {
	margin-right: 12px;
}

main article.story .stop-control.pull-right {
	margin-left: 12px;
}

main article.story .stop-control i {
	margin-top: 1px;
	margin-left: 6px;
	vertical-align: middle;
}

main article.story .control-text {
	font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-size: 14px;
	font-weight: 800;
	vertical-align: middle;
}

main article.story .control-stop-title {
	font-family: Georgia, serif;
	font-size: 16px !important;
	font-style: italic !important;
}

#btn-previous,
#btn-next {
	color: #fff;
	font-size: 24px;
}

#btn-previous:hover,
#btn-previous:focus,
#btn-next:hover,
#btn-next:focus {
	text-decoration: none;
}

#btn-next {
	float: right;
}

#btn-previous {
	float: left;
}

/* Google Map overrides to work with bootstrap. */
.gm-style img {
	max-width: none;
}

main article.story .map-stop-content {
	font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-weight: 600;
}

main article.story .map-stop-content .smaller-title {
	font-size: 12px;
}

#map-canvas {
	height: 275px;
}