@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body p {
    margin-top: 0;
    margin-bottom: 0;
}

.affix {
    position: fixed;
}

.public-sections {
    margin-top: 35px;
}

.center {
    text-align: center;
}

.h-divider {
    margin-top: 35px;
    border-bottom: dotted 2px #aaa;
}

.right-v-divider {
    border-right: dotted 2px #aaa;
}

#public-content p {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 14px;
    line-height: 16px;
}

#public-header {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 143px;
    line-height: 123px;
    border-bottom: dotted 2px #aaa;
    margin-top: 40px;
}

#journey-start {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 24px;
    line-height: 26px;
    margin-top: 26px;
    color: #777;
}

.public-heading {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 20px;
    line-height: 22px;
}

.public-subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.public-section-heading {
    font-family: helvetica, sa;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2px;
    margin-top: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    color: #fff;
}

.cite {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-style: italic;
}

#types-table td {
    width: 50%;
}

#research-heading {
    background-color: #006cb7;
}

#public-welcome-img {
    text-align: center;
}

#num-reviewed [class*="fy-"] {
    padding-left: 15px;
    margin-bottom: 5px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    vertical-align: middle;
}

#num-reviewed [class*="fy-"] .count {
    margin-left: 10px;
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 24px;
    font-style: none;
}

#num-reviewed .fy-2010 {
    background-color: #60cdf6;
}

#num-reviewed .fy-2011 {
    background-color: #00AEEF;
}

#num-reviewed .fy-2012 {
    background-color: #006BB6;
}

#protect-heading {
    background-color: #00a85b;
}

#public-top-funding {
    text-align: right;
}

#promote-heading {
    background-color: #f7931d;
}

#public-know-wrapper {
    height: 275px;
}

#public-know {
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff1d1;
    position: relative;
}

#public-know-q {
    font-size: 60px;
    font-weight: bold;
    line-height: 44px;
    color: #ffca07;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    text-align: center;
}

#public-know-heading {
    text-align: center;
    padding-top: 30px;
}

#public-know-content {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

#public-tag {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: -20px;
    margin-left: 18px;
}

#public-tag-img {
    background-repeat: no-repeat;
    background-position-x: center;
}

#public-tag .num {
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    padding-top: 100px;
    color: #fff;
}

#public-tag .cite {
    margin-top: 50px;
    text-align: center;
}

#commercialize-heading {
    background-color: #d2252a;
}

#public-top5 .table {
    margin-bottom: 5px;
}

.donut-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
}

.donut-num {
    position: absolute;
    left: 85px;
    top: 90px;
    width: 80px;
    text-align: center;
}

.donut-sub {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 800;
}

.donut-sub-num {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 26px;
    line-height: 28px;
}

.donut-sub-sub {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
}

.donut {
    position: relative;
}

#public-license-ex {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

#public-license-ex .num {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200px;
    line-height: 200px;
    font-weight: 700;
    letter-spacing: -20px;
    color: #fac1b1;
}

#public-license-ex .public-subheading {
    position: absolute;
    top: 100px;
    left: 120px;
    width: 100px;
}

#royalty-distribution .donut-num {
    margin-top: 10px;
}

#license-executed-table {
    margin-bottom: 5px;
}

#public-success {
    background-color: #fac1b1;
    padding: 20px;
    margin-bottom: 30px;
}

#public-success .public-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
}

#public-success .public-heading.sub {
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 20px;
}

#public-success .public-subheading {
    font-size: 18px;
    line-height: 20px;
}

@media (min-width: 768px) and (max-width: 979px) {

    .donut {
        display: none;
    }

    .donut-wrapper {
        width: 200px;
        height: 200px;
        background-size: 200px 200px !important;
    }

    #patents-granted {
        background: url('http://webcom.dev.smca.ucf.edu/wp3/pegasus/wp-content/themes/pegasus/dev/2013/summer/going-public/img/patents-granted.png') center center no-repeat !important;
    }

    #license-spinout {
        background: url('http://webcom.dev.smca.ucf.edu/wp3/pegasus/wp-content/themes/pegasus/dev/2013/summer/going-public/img/patents-granted.png') center center no-repeat !important;
    }
}

@media (max-width: 767px) {

    .donut {
        display: none;
    }

    .donut-wrapper {
        width: 150px;
        height: 150px;
        background-size: 150px 150px !important;
    }

    #patents-granted {
        width: 150px;
        height: 150px;
        background: url('http://webcom.dev.smca.ucf.edu/wp3/pegasus/wp-content/themes/pegasus/dev/2013/summer/going-public/img/patents-granted.png') center center no-repeat !important;
        background-size: 150px 150px !important;
    }

    #license-spinout {
        width: 150px;
        height: 150px;
        background: url('http://webcom.dev.smca.ucf.edu/wp3/pegasus/wp-content/themes/pegasus/dev/2013/summer/going-public/img/patents-granted.png') center center no-repeat !important;
        background-size: 150px 150px !important;
    }
}