@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

/* Header/Footer styles */
#header { background-color: #eeedec; }
#header .toggle_story_nav a, 
#header .issue, 
#header .description a, 
#header .description a:hover,
#issue-carousel .item .issue-title,
.footer_stories .title,
#footer_logo,
#footer a,
#footer_navigation ul li a { color: #000; }
#footer { background-color: #eeedec; margin-top: 50px; }
#footer .icon-white {
    background-color: #000000;
    border-radius: 7px 7px 7px 7px;
}


body p {
    margin-top: 0;
    margin-bottom: 0;
}

.table { font-family: 'Montserrat', sans-serif; font-size: 12px; }

.affix {
    position: fixed;
}

.public-sections {
    margin-top: 35px;
}

.center {
    text-align: center;
}

.h-divider {
    margin-top: 35px;
    border-bottom: dotted 2px #aaa;
}

.right-v-divider {
    border-right: dotted 2px #aaa;
}

#public-content p, {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 14px;
    line-height: 20px;
}

#public-content ol,
#public-content ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 17px;
}
#public-content ul {
    list-style-type: none;
    margin-left: 0;
}
#public-content ol li,
#public-content ul li {
    padding: 4px;
}
#public-content ol li:nth-child(2n+1), 
#public-content ul li:nth-child(2n+1) {
    background-color: #F9F9F9;
}

#public-header {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 70px;
    line-height: 63px;
    border-bottom: dotted 2px #aaa;
    margin-top: 40px;
}

#journey-start {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 24px;
    line-height: 26px;
    margin-top: 18px;
    color: #777;
}

.public-heading {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 20px;
    line-height: 22px;
}

.public-subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}
.public-heading + .public-subheading { margin-top: 4px; }

.public-section-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.public-section-heading:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 16px solid;
    border-color: #fff transparent;
    position: absolute;
    top: 0;
    right: -16px;
}

.cite {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-style: italic;
    margin-top: 10px;
}

#types-table td {
    width: 50%;
    border-top: 0;
}
#types-table tr td + td { border-left: 3px solid #fff; }

#research-heading {
    background-color: #006cb7;
    background: -moz-linear-gradient(left,  #006cb7 0%, #60cdf6 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left,  #006cb7 0%,#60cdf6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #006cb7 0%,#60cdf6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #006cb7 0%,#60cdf6 100%); /* IE10+ */
    background: linear-gradient(to right,  #006cb7 0%,#60cdf6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006cb7', endColorstr='#60cdf6',GradientType=1 ); /* IE6-9 */
}

#public-welcome-img {
    text-align: center;
}

#num-reviewed .year {
    margin-bottom: 5px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    vertical-align: middle;
    position: relative;
}

#num-reviewed .year.unanimated {
    width: 0 !important;
}
#num-reviewed .year.animated {
    transition: width 1s;
    -webkit-transition: width 1s;
}

#num-reviewed .year .year-text {
    position: absolute;
    top: 5px;
    left: 12px;
}

#num-reviewed .year .count {
    margin-left: 10px;
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 24px;
    font-style: none;
    position: absolute;
    top: 0;
    right: 12px;
}

#num-reviewed .fy-2010 {
    background-color: #60cdf6;
    width: 75%;
}

#num-reviewed .fy-2011 {
    background-color: #00AEEF;
    width: 85%;
}

#num-reviewed .fy-2012 {
    background-color: #006BB6;
    width: 100%;
}

#protect-heading {
    background-color: #00a85b;
    background: -moz-linear-gradient(left,  #00a85b 0%, #abd037 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left,  #00a85b 0%,#abd037 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00a85b 0%,#abd037 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00a85b 0%,#abd037 100%); /* IE10+ */
    background: linear-gradient(to right,  #00a85b 0%,#abd037 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a85b', endColorstr='#abd037',GradientType=1 ); /* IE6-9 */
}

#public-top-funding {
    text-align: right;
}

#promote-heading {
    background: #f7931d;
    background: -moz-linear-gradient(left,  #f7931d 0%, #ffc90a 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left,  #f7931d 0%,#ffc90a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f7931d 0%,#ffc90a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f7931d 0%,#ffc90a 100%); /* IE10+ */
    background: linear-gradient(to right,  #f7931d 0%,#ffc90a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931d', endColorstr='#ffc90a',GradientType=1 ); /* IE6-9 */

}

#public-know-wrapper {
    height: 275px;
}

#public-know {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff1d1;
    position: relative;
}

#public-know-q {
    font-size: 60px;
    font-weight: bold;
    line-height: 44px;
    color: #ffca07;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    text-align: center;
}

#public-know-heading {
    text-align: center;
    padding-top: 30px;
}

#public-know-content {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

#public-tag {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: -23px;
    margin-left: 18px;
}

#public-tag-img {
    background-repeat: no-repeat;
    background-position-x: center;
    width: 173px;
}

#public-tag-img .public-subheading { display: block; }

#public-tag .num {
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    padding-top: 100px;
    color: #fff;
    display: block;
}

#public-tag .cite {
    margin-top: 50px;
    text-align: center;
}

#commercialize-heading {
    background: #d2252a;
    background: -moz-linear-gradient(left,  #d2252a 0%, #f79c89 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left,  #d2252a 0%,#f79c89 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #d2252a 0%,#f79c89 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #d2252a 0%,#f79c89 100%); /* IE10+ */
    background: linear-gradient(to right,  #d2252a 0%,#f79c89 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2252a', endColorstr='#f79c89',GradientType=1 ); /* IE6-9 */
}

#license-executed-table td {
    border-top: 0;
}

.donut-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.donut-num {
    position: absolute;
    left: 60px;
    top: 65px;
    width: 80px;
    text-align: center;
}

.donut-sub {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
}

.donut-sub-num {
    font-family: 'Theano Modern', Georgia, serif;
    font-size: 26px;
    line-height: 28px;
}

.donut-sub-sub {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
}

.donut {
    position: absolute;
    top: -25px;
    left: -25px;
}

#public-license-ex {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#public-license-ex .num {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200px;
    line-height: 200px;
    font-weight: 700;
    letter-spacing: -20px;
    color: #fac1b1;
}

#public-license-ex .public-subheading {
    position: absolute;
    top: 100px;
    left: 120px;
    width: 100px;
}

#royalty-distribution .donut-num {
    margin-top: 10px;
}
#royalty-distribution-1,
#royalty-distribution-2,
#royalty-distribution-3,
#royalty-distribution-4 { position: absolute; z-index: 2; width: 100px; text-align: center; }
#royalty-distribution-1 {
    top: 38px;
    right: -20px;
}
#royalty-distribution-2 {
    top: 144px;
    right: 11px;
}
#royalty-distribution-3 {
    top: 89px;
    left: -30px;
}
#royalty-distribution-4 {
    top: -6px;
    left: 11px;
}

#license-executed-table {
    margin-bottom: 5px;
}

#public-success {
    background-color: #fac1b1;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#public-success .public-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
}

#public-success .public-heading.sub {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
}

#public-success .public-subheading {
    font-size: 18px;
    line-height: 20px;
}

@media (min-width: 768px) and (max-width: 979px) {

    #public-know-wrapper { height: auto; }
    #public-know { width: 146px; font-size: 11px; line-height: 14px; }

    #public-license-ex { margin-top: 48px; }
    #public-license-ex .public-subheading { left: 84px; }

    #license-spinout { margin-top: 56px; }
    #license-spinout .donut-num { left: 60px; top: 65px; }

}

@media (max-width: 767px) {
    .public-sections { margin-top: 20px; }
    .public-heading { margin-top: 20px; }
    .span12.h-divider { display: none; }

    #public-header { font-size: 50px; line-height: 46px; }

    #tri-tech,
    #public-top-funding { margin: 20px 0; } /* add space around images that need them */

    #types-table tr,
    #license-executed-table tr {
        margin-top: 0;
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    #types-table tr td { float: left; width: 46.5%; border: 0; }

    #license-executed-table { overflow: hidden; }
    #license-executed-table tr td { width: 86.5%; float: left; }
    #license-executed-table tr td:first-child { width: 8%; }

    #num-reviewed .public-subheading { margin-top: 10px; }

    #num-reviewed,
    #protect-heading,
    #promote-heading { margin-bottom: -20px; } /* Pull up sections under these */

    #public-top5,
    #public-know-wrapper,
    #license-spinout,
    #royalty-distribution { margin-top: 20px; }

    #public-know-wrapper { border-right: 0; }
    #public-know { margin: auto; }

    #public-tag { margin-top: 10px; margin-left: auto; margin-right: auto; }
    #public-tag-img { margin: auto; }

    #public-license-ex .public-subheading { width: 100%; left: auto; }

    #public-success .public-heading { margin-top: 10px; }
}

@media (max-width: 420px) {
    #public-header { font-size: 36px; line-height: 34px; }
    #journey-start { font-size: 20px; line-height: 24px; }

    #types-table { overflow: hidden; }
    #types-table tbody tr:nth-child(2n+1) td, 
    #types-table tbody tr:nth-child(2n+1) th {
        background-color: #fff; /* Reset */
    }
    #types-table tr td { width: 100%; }
    #types-table tr td + td { border-left: 0; background-color: #f9f9f9 !important; }

    #license-executed-table tr td { width: 84%; float: left; display: table-cell; }
    #license-executed-table tr td:first-child { width: 8%; }

    #public-success .public-heading { font-size: 32px; line-height: 38px; }
    #public-success .public-heading.sub { font-size: 20px; line-height: 28px; }
}