@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);


/* Header/footer */
#header, #footer { background-color: #322d23; }

/* Story title */
#story-header { margin-bottom: 40px; }
#body_content h1 { display: block; text-indent: -9999px; height: 1px; }
#body_content h2 { 
	color: #6e7889; 
	font-weight: normal; 
	font-family: Georgia, serif; 
	font-size: 22px; 
	line-height: 28px; 
	margin-top: 85px; 
	padding-left: 20px;
	letter-spacing: 1px; 
}
#story-subheader p { font-size: 14px; line-height: 22px; padding-left: 20px; }


/* Circle Graph, circles and lines */
#circlegraph { height: 1040px; position: relative; }
.circle { 
	position: absolute; 
	opacity: 0.8; 
}
.circle-yellow { background-color: #FFEB30; }
.circle-orange { background-color: #FFAA00; }
.circle-green { background-color: #98E3AB; }
.circle-xsmall { width: 35px; height: 35px; border-radius: 35px; }
.circle-small { width: 40px; height: 40px; border-radius: 40px; }
.circle-medium { width: 70px; height: 70px; border-radius: 70px; }
.circle-large { width: 105px; height: 105px; border-radius: 105px; }
.circle-xlarge { width: 130px; height: 130px; border-radius: 130px; }

.line { position: absolute; z-index: 1; }

#circlegraph #center { 
	background-color: #000; 
	position: absolute; 
	top: 340px;
	left: 230px;
	z-index: 999; 
	border: 20px solid rgba(255,255,255,0.8); 
	width: 265px;
	height: 265px;
	border-radius: 265px;
}
.ie8 #circlegraph #center,
.ie7 #circlegraph #center {
	border: 20px solid #ccc;
}
#circlegraph #center p {
	text-align: center;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 40px;
	margin-top: 105px;
	opacity: 1;
	text-transform: uppercase;
	letter-spacing: 3px;
}


/* Right-hand column of Circle graph */
#partnerships { padding: 40px 33px 20px 0; position: relative; }
.ie8 #partnerships,
.ie7 #partnerships { padding-top: 30px !important; }
#partnerships h3 { 
	font-family: 'Yanone Kaffeesatz', sans-serif; 
	font-weight: 700; 
	text-transform: uppercase; 
	letter-spacing: 1.5px; 
	color: #939598;
	line-height: 22px;
	display: block;
	float: left;
	padding-left: 45px;
}
#partnerships h4 { 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 800; 
	font-style: normal;
	text-transform: uppercase; 
	display: block; 
	float: left;
	width: 145px;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 3px;
	padding-left: 45px;
}
.ie7 #partnerships h4 {
	margin-bottom: -7px;
}
.ie7 #partnerships h4#partnership-ie7fix { margin-top: -30px; } /* IE7 pushes this down for whatever reason */
#partnerships p { 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 400; 
	margin-top: 8px; 
	margin-bottom: 5px;
	font-size: 11px; 
	display: block;
	clear: both;
}
#partnerships .circle { position: absolute; z-index: 999; left: 0; }

#partnerships #college-of-medicine { top: 42px; }
.ie7 #partnerships #college-of-medicine { top: -30px; }

#partnerships #regional-campuses { top: 309px; }
.ie8 #partnerships #regional-campuses { top: 316px; }
.ie7 #partnerships #regional-campuses { top: 239px; }

#partnerships #rosen { top: 592px; }
.ie7 #partnerships #rosen { top: 525px; }

#partnerships #ist { top: 828px; }
.ie8 #partnerships #ist { top: 832px; }
.ie7 #partnerships #ist { top: 756px; }

.hr-dotted { width: 100%; height: 1px; margin: 5px 0; border-bottom: 1px dotted #939598; }


/* Article content below Circle Graph */
#story-below-graph { margin-top: 40px; margin-bottom: 90px; }
#story-below-graph h3 { font-family: 'Open Sans', sans-serif; line-height: 35px; font-weight: 800; }
#story-below-graph p { text-indent: 10px; margin: 4px 0 12px 0; }
#story-below-graph h3 + p { text-indent: 0; margin-top: 0; }
p.quote { 
	font-family: Georgia, serif; 
	color: #444;
	font-size: 28px; 
	line-height: 36px; 
	margin: 20px 0 !important;
	text-indent: 0 !important; 
	font-weight: normal;
	font-style: italic;
}


/* CSS3 Animations */
.floating-y {
	animation-name: FloatingY;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: FloatingY;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: FloatingY;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
.floating-x {
	animation-name: FloatingX;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: FloatingX;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: FloatingX;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
.speed-fast {
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
}
.speed-medium {
	animation-duration: 7s;
	-webkit-animation-duration: 7s;
	-moz-animation-duration: 7s;
}
.speed-slow {
	animation-duration: 9s;
	-webkit-animation-duration: 9s;
	-moz-animation-duration: 9s;
}

.grow {
	animation-name: Grow;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: Grow;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Grow;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}


@keyframes FloatingY {
	from {transform: translate(0, 0);}
    65% {transform: translate(0, 15px);}
    to {transform: translate(0, 0);}  
}
@-webkit-keyframes FloatingY {
    from {-webkit-transform: translate(0, 0);}
    65% {-webkit-transform: translate(0, 15px);}
    to {-webkit-transform: translate(0, 0);}    
}
@-moz-keyframes FloatingY {
    from {-moz-transform: translate(0, 0);}
    65% {-moz-transform: translate(0, 15px);}
    to {-moz-transform: translate(0, 0);}    
}
@keyframes FloatingX {
	from {transform: translate(0, 0);}
    65% {transform: translate(15px, 0);}
    to {transform: translate(0, 0);}  
}
@-webkit-keyframes FloatingX {
    from {-webkit-transform: translate(0, 0);}
    65% {-webkit-transform: translate(15px, 0);}
    to {-webkit-transform: translate(0, 0);}    
}
@-moz-keyframes FloatingX {
    from {-moz-transform: translate(0, 0);}
    65% {-moz-transform: translate(15px, 0);}
    to {-moz-transform: translate(0, 0);}    
}

@keyframes Grow{
	from {-webkit-transform: scale(0.05);}
	60% {-webkit-transform: scale(1.2);}
	to {-webkit-transform: scale(1);}    
}
@-webkit-keyframes Grow{
	from {-webkit-transform: scale(0.05);}
	60% {-webkit-transform: scale(1.2);}
	to {-webkit-transform: scale(1);}    
}
@-moz-keyframes Grow{
	from {-moz-transform: scale(0.05);}
	60% {-moz-transform: scale(1.2);}
	to {-moz-transform: scale(1);}    
}