/* Header/Footer */
.container.header_stories { position: relative; z-index: 999; }
#header { background-color: transparent; }
#footer { background-color: #66624a; }


/* Universal */
#body_content { width: 0; height: 0; margin: 0; }
.container-wide {
	background: top center no-repeat;
	width: 100%;
}

#story-title {
	position: relative;
	z-index: 2;
	background-repeat: repeat;
}
#story-title > .container > .row {
	background-position: -9px bottom;
	background-repeat: no-repeat;
}
#story-title h1 {
	display: block;
	width: 402px;
	height: 250px;
	text-indent: -9999px;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	float: right;
	margin-right: 140px;
	margin-bottom: 50px;
	z-index: 5;
}
#story-intro { position: relative; top: -75px; margin-bottom: -70px; }
#story-intro .subtitle {
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	margin: 30px 0 20px 0;
}
span.first-letter {
	font-family: 'AleoLight', serif;
	font-size: 36px;
	line-height: 36px;
	display: block;
	float: left;
	padding: 0 5px 5px 0;
	margin: 0;
}
#story-intro p { position: relative; z-index: 4; color: #fff; margin-top: 0; margin-bottom: 20px; }
#story-intro .indentfix { padding-left: 90px; }

#story-intro-small { display: none; }

.story-section { position: relative; top: -20px; padding: 30px 0 10px 0; }
.story-section p { margin: 0 0 15px 0; }
.story-section h2 {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #4b7f39;
}
.story-section blockquote { border-left: 0; padding-left: 0; }
.story-section blockquote p {
	font-size: 28px;
	line-height: 40px;
	font-style: italic;
	color: #68acaf;
}

.container-blue { background-color: #e1f1f2; }

#quote-filling-gaps { padding-top: 200px; }
#quote-trust-training { padding-top: 155px; }

.story-section .caption {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
}
.story-section .caption strong { font-family: Helvetica, sans-serif; }

.story-section .credit {
	font-family: Helvetica, sans-serif;
	color: #68acaf;
	font-size: 10px;
	line-height: 10px;
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 0;
}

#img-bryce { display: block; margin: 30px auto 0 auto; }

#img-help-high-def {
	margin: 0 auto -70px auto;
	z-index: 6;
	position: relative;
	height: 661px;
	background-position: center center;
	background-repeat: no-repeat;
}
#help-high-def { margin-bottom: 80px; }
#help-high-def h2 {
	font-family: 'AleoLight', serif;
	font-weight: normal;
	text-transform: none;
	font-size: 64px;
	line-height: 64px;
	color: #000;
	margin-top: -10px;
	display: block;
	width: 100%;
}


/* Responsive */
@media (max-width: 979px) {
	#story-title > .container > .row  {
		background-size: 500px 450px;
		background-position: 0 bottom;
	}
	#story-title h1 { margin-right: -10px; width: 350px; height: 218px; background-size: 100% 100%; }

	#story-intro { width: 310px; margin-bottom: 135px; margin-left: 430px; margin-top: 20px; } /* break .span */
	#story-intro .subtitle ~ p { display: none; }
	#story-intro-small { display: block; padding-top: 45px; }

	#img-help-high-def { height: 468px; background-size: 796px auto; margin-bottom: -38px; }
	#help-high-def h2 { font-size: 50px; line-height: 50px; }

}
@media (max-width: 767px) {
	.container-wide {
		margin-left: -20px;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	#story-title > .container > .row {
		background-position: center bottom;
		background-size: contain;
	}
	#story-title h1 {
		position: static;
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 20px;
	}
	#story-intro {
		position: static;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 95%;
		text-align: center;
	}

	#quote-filling-gaps { padding-top: 0; padding-bottom: 5px; }
	#quote-trust-training { padding-top: 20px; padding-bottom: 5px; }

	.container.story-section { padding-top: 0; }
	.story-section.container-blue { padding-top: 30px; }

	#img-bryce ~ p.caption { margin-bottom: 30px; }

	#help-high-def h2,
	#help-high-def p {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
}
@media (max-width: 480px) {
	#story-title h1 {
		width: 280px;
		height: 175px;
	}
	#img-help-high-def {
		height: 270px;
		background-size: 483px auto;
		margin-bottom: -25px;
	}
	#help-high-def h2 { font-size: 36px; line-height: 42px; }
}
@media (max-width: 320px) {
	#img-help-high-def {
		height: 155px;
		background-size: 303px auto;
		margin-bottom: -15px;
	}
}
