/* General */
p {
    margin: 0;
    padding: 0;
}

.ie8 main {
    margin-top: -20px; /* wat */
}

.sr-only { /* copied from bootstrap3 */
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

main article h1,
main article h2,
main article .h2 {
    font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: none;
    letter-spacing: -0.055em;
}
main article h3,
main article .h3,
main article h4,
main article .h4,
main article h5,
main article .h5,
main article h6,
main article .h6 {
    font-family: 'OpenSansCondensedBold', sans-serif;
    font-weight: normal;
}

main article.story a {
    font-weight: bold;
    color: #000;
}
main article.story a:hover,
main article.story a:active {
    text-decoration: underline;
}

main article.story .caps {
    text-transform: uppercase;
}

main article.story h2,
main article.story .h2 {
    font-size: 38px;
    line-height: 38px;
}

main article.story h3,
main article.story .h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 4px;
}
main article.story h3.caps,
main article.story .h3.caps {
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.045em;
}

main article.story h4,
main article.story .h4 {
    font-size: 16px;
    line-height: 1em;
}

main article.story blockquote small {
    font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
}
main article.story blockquote small:before {
    content: "";
}

main article.story p.credit {
    font-size: 11px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* Header */
main article.story .story-header-image {
    background-position: top;
    margin-bottom: 0;
    background-color: #161919;
}

#briefs-header-wrap {
    position: relative;
    height: 100%;
}

#briefs-header {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.ie8 #briefs-header {
    bottom: -20px;
}

#briefs-header h1 {
    color: #fff;
    font-size: 120px;
    line-height: 100px;
}

.social-wrap {
    padding-top: 60px;
}

.briefs-heading {
    border-bottom: solid #e6e6e6 1px;
    margin-top: 40px;
    margin-bottom: 30px;
}

main article.story .briefs-heading h2 {
    margin-bottom: 8px;
}

/* Story-specific */
#img-camp-chef-1 {
    margin-top: 5px;
}

#img-wu {
    margin-top: 0;
}

#img-jazz {
    margin-bottom: 0;
}

h3#us-news {
    margin-top: 40px;
}


/* ADDITIONSSSssssssssssssssss */
#airtime-wrap, #maya-wrap {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

#airtime-graph {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #8badc9 51%, #69afe5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(51%,#8badc9), color-stop(100%,#69afe5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#8badc9 51%,#69afe5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#8badc9 51%,#69afe5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#8badc9 51%,#69afe5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%,#8badc9 51%,#69afe5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#69afe5',GradientType=0 ); /* IE6-9 */
}

#airtime-wrap h3, #maya-wrap h3 {
  color: #fff;
}

#library {
  margin-top: 30px;
}

#library h3 {
  font-size: 22px;
}

#library img {
  margin-top: 0;
}

#terabits-wrap img {
  height: 240px;
}

#top-honor-wrap blockquote,
#top-honor-wrap blockquote p {
  font-size: 29px;
  line-height: 40px;
}

@media (max-width: 979px) {
  #terabits-wrap img {
    height: auto;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
    /* Header */
    .social-wrap {
        width: auto !important;
        margin-left: 82px;
        padding-top: 55px;
    }

    /* Story-specific */
}

@media (max-width: 767px) {
    /* General */
    main article {
        margin-top: 30px;
    }

    main article.story p {
       margin-bottom: 0;
    }

    .briefs-heading {
        margin-bottom: 0;
    }

    /* Header */
    .social-wrap {
        padding-top: 10px;
    }

    #briefs-header h1 {
        font-size: 50px;
        line-height: 1em;
    }

    /* Story-specific */
    #img-camp-chef-1 {
        margin-top: 15px;
    }

    #img-jazz {
        margin-bottom: 10px;
    }

    h3#us-news {
        margin-top: 0;
    }
}
