// Variables

$font-family-sans-serif:       'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$font-family-serif:            Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif-heading:   'League Spartan', Helvetica, Arial, sans-serif !default;

$screen-xs-max: 767px;
$screen-sm-max: 991px;

$mars: #f37153;
$mars-dark: #d03f2b;
$mustard: #f3c314;
$peach: #f8e1c9;
$gray: #56585b;
$white: #fff;
$line: #E2EDF3;

$border: 1px solid #000;

// Mixins
@import '../../../../versions/v3/static/scss/mixins';

#header-navigation {
	background: transparent;
}

.story {
	margin: 0 auto;
	max-width: 1700px;
	padding: 0 10%;
}

body {
	background: $mars;
}

body.withbg {
	background: $mars url('../one-giant-leap-ucf/img/mars-horizon.png');
	background-attachment: fixed;
	background-position: center bottom -200px;
	background-repeat: no-repeat;
	background-size: contain;
}

.story-header-inner {
	color: #fff;
	margin-top: 50px;
}

.header-intro {

}

.section-title,
#more-stories article .story-title,
.story-list .subtitle, .story-list-grid .subtitle {
	color: $white;
}


.story {
	&:before {
		background: url('../one-giant-leap-ucf/img/arrow-solid.svg') no-repeat;
		background-position: center center;
		clear: both;
		content: '';
		display: block;
		height: 10px;
		margin: 0 auto;
		margin-top: -41px;
		width: 30px;
	}
}

/* timeline  */

article.story {
	#space-timeline {
		margin-top: -55px;
		padding-bottom: 0;
		padding-top: 0;
		padding: 0;
		position: relative;

		&::before {
			/* this is the vertical line */
			background: $line;
			content: '';
			height: 100%;
			left: 18px;
			position: absolute;
			top: 0;
			width: 4px;
			z-index: -5;
		}

		@media (min-width: $screen-xs-max) {
			&::before {
				left: 50%;
				margin-left: -2px;
			}
		}
	}

	// .space-timeline-block.header-block {
	// 	margin-bottom: 130px;
	// }

	.space-timeline-block {
		clear: both;
		// overflow: auto;
		padding-bottom: 75px;

		.author {
			color: $peach;
			display: block;
			font-family: $font-family-sans-serif;
			font-size: 1.1em;
			font-style: normal;
			font-weight: 800;
			margin-top: 0;
			text-transform: uppercase;
		}

		&:after {
			content: '';
			background: url('../one-giant-leap-ucf/img/arrow-down.svg') no-repeat;
			background-position: center center;
			clear: both;
			display: block;
			margin: 0 auto;
			padding-bottom: 50px;
			padding-top: 80px;
			width: 30px;
			height: 10px;
		}
	}

	.space-timeline-header {
		color: $white;
		float: left;
		padding-bottom: 100px;
		padding-top: 130px;
		width: 45%;

		h1 {
			color: #fff;
			font-family: $font-family-sans-serif-heading;
			font-size: 3em;
			line-height: 1.2;
			max-width: 300px;
			text-transform: uppercase;
			}

		p {
			font-family: $font-family-serif;
			font-size: 1.45em;
			font-style: italic;
			line-height: 1.3em;
			margin-bottom: 20px;
		}

	}

	.space-timeline-content.intro {
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		color: $white;
		margin-top: 145px;
		padding: 0;
		position: relative;

		p {
			font-family: $font-family-serif;
			font-size: 1em;
			line-height: 1.5em;
			margin-bottom: 20px;
		}

	}

	.space-timeline-content {
		background: #fdfdfd;
		border-radius: 10px;
		box-shadow: 0 3px 0 rgba(208, 84, 57, 0.5);
		float: left;
		padding: 30px;
		position: relative;
		width: 45%;

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}

		h2 {
			color: $mustard;
			font-family: $font-family-sans-serif-heading;
			font-size: 3em;
			margin-bottom: 0;
			margin-top: 0;
		}

		h3 {
			border-bottom: solid 1px;
			color: $gray; //$peach;
			font-family: $font-family-sans-serif;
			font-size: 1.1em;
			font-weight: 800;
			margin-bottom: 30px;
			margin-top: 0;
			padding-bottom: 12px;
			padding-top: 9px;
			text-transform: uppercase;
		}

		p {
			font-family: $font-family-sans-serif;
			font-size: 14px;
			line-height: 22px;
		}
	}

	.space-timeline-media {
		float: right;
		width: 40%;
		position: relative;

		.caption {
			color: $mars-dark;
			font-family: $font-family-sans-serif;
			font-size: 14px;
			font-weight: 400;
			position: absolute;
			text-transform: uppercase;
			text-transform: uppercase;
		}

		&.left {
			float: left;
		}

		&.citronaut {
			width: 46%;

			.media {
				margin-top: -50px;
			}

			.caption {
				bottom: 25%;
				left: 2%;
			}
		}
	}
}

.pointing-line {
	display: block;
	margin: 0 auto;
	position: absolute;
	right: -58px;
	width: 83px;
	z-index: 20;
}


.right .pointing-line {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
	left: -58px;
	right: auto;
	transform: scaleX(-1);
	}