$font-sans-serif: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B", "Arial Black", "Arial Bold", Gadget, sans-serif;
$font-serif: 'Georgia', 'Times New Roman' , 'Times', serif;
$sm-max: '768px';

#wild-world-of-sports {
  #header-img {
    margin-top: 0;
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  .sub-heading {
    color: #898989;
    font-family: $font-sans-serif;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;

    @media (max-width: $sm-max) {
      font-size: 18px;
    }

  }

  .nav-tabs {
    border: 0;
    margin-top: 20px;

    > li {
      float: left;
      text-align: center;

      &.active {
        a,
        :hover {
          background-color: #a0dc16;
          color: #000;
        }
      }

      a {
        background-color: #f4f4f4;
        color: #666;
        font-family: $font-sans-serif;
        font-size: 12px;
        text-transform: uppercase;

        &:hover {
          background-color: darken(#f4f4f4, 10%);
        }
      }
    }
  }

  .tab-content {
    margin-bottom: 40px;

    dt {
      clear: left;
      float: left;
      font-family: $font-sans-serif;
      text-transform: uppercase;
      width: 180px;
    }

    dd {
      font-family: $font-serif;
      margin: 0 0 0 180px;
      padding: 0 0 1em;
    }
  }

  .panel-group {

    a {
      display: inline-block;
      font-size: 20px;
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    dl {
      margin-bottom: 0;
    }

    dt:not(:first-child) {
      margin: 20px 0 0;

      dd {
        padding: 0;
      }
    }
  }

  #unusual-sports {
    background-color: #a0dc16;
    padding: 40px 0;

    h2 {
      font-family: $font-sans-serif;
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 25px;

      @media (max-width: $sm-max) {
        font-size: 26px;
      }

    }

    h3 {
      font-family: $font-sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: $sm-max) {
        font-size: 18px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    p {
      font-family: $font-sans-serif;
      font-size: 14px;
    }

    a.carousel-control {
      filter: none !important;
    }

    .carousel-control {
      background-image: none !important;
    }
  }
}
