.sonar {
  border: solid 1px #000;
  border-radius: 50%;
  display: none;
  height: 21px;
  position: absolute;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  width: 21px;
  z-index: 10;
}

.sonar-anime {
  transition: 1s ease-in-out;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
}

main .story {
  .sonar {    
    border-color: #000;
    position: absolute;
  }
  .sonar1 {
    left: 10%;
  }
  .sonar2 {
    left: 20%;
  }
  .sonar3 {
    left: 30%;
  }
  .sonar4 {
    left: 40%;
  }
  .sonar5 {
    left: 50%;
  }
}