#header, #footer {background-color:#f3736c;}
#footer {margin-top:80px;}
#footer h2 {color:#FFF;}
h1 {color:#f3736c;font-size:35px;text-transform:uppercase;font-family:"Arial Black",Arial;}
#body_content {
	background-repeat:repeat;
	background-position: top left;
}
.intro {margin-top:80px;}
.content p {color:#FFF;font-family:"Helvetica Neue",Helvetica,sans-serif;}
.firstletter {font-size:40px !important;padding-right: 7px;line-height:.85em}