/* Variables */
// $font-sans-serif-black: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
// $font-sans-serif-bold: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
// $font-sans-serif-book: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
// $font-sans-serif-light: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
// $font-sans-serif-light: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$font-sans-serif: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
//$font-sans-serif-condensed: 'Whitney Cond A', 'Whitney Cond B', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$font-sans-serif-condensed: 'Yanone Kaffeesatz', 'Helvetica Condensed', 'Helvetica', 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B', 'Arial Black', 'Arial Bold', sans-serif;
$font-serif: 'Georgia', 'Times New Roman' , 'Times', serif;

/* General */
.ie8 main {
  margin-top: -20px;
}

main article {
  h1,
  h2,
  .h2 {
    font-family: $font-sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: none;
  }

  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: $font-sans-serif;
    font-weight: normal;
  }

  a {
    color: #000;
    font-weight: bold;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }

  .caps {
    text-transform: uppercase;
  }

  h2,
  .h2 {
    font-size: 38px;
    line-height: 38px;
  }

  h3,
  .h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 4px;
  }

  h2.caps,
  .h2.caps {
    font-size: 24px;
    letter-spacing: -.045em;
    line-height: 1em;
    margin-bottom: 6px;
  }

  h4,
  .h4 {
    font-size: 16px;
    line-height: 1em;
  }

  .source {
    font-family: $font-sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

main article #briefs-header h1 {
  margin-left: -10px;
}

main article.story,
main article.story p {
  font-size: 14px;
  line-height: 1.2;
}

main article.story h2 {
  line-height: 1;
}

main article > .container {
  margin-bottom: -160px;
}

/* Header */
main article {
  .story-header-image {
    background-color: #161919;
    background-position: top;
    margin-bottom: 0;
  }

  #briefs-header-img-wrap {
    background-position: 50% 60%;
  }

  #briefs-header-wrap {
    height: 100%;
    position: relative;
  }

  #briefs-header {
    bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .ie8 #briefs-header {
    bottom: -20px;
  }

  #briefs-header h1 {
    color: #fff;
    font-size: 120px;
    line-height: 100px;
  }

  .social-wrap {
    padding-top: 60px;
  }
}

/* Tivoli */
main article.story {
  #tivoli {
    margin-top: 18px;

    h2 {
      font-family: Georgia, serif;
      font-size: 30px;
      font-style: italic;
      font-weight: normal;
      line-height: normal;
    }

    h3 {
      font-family: $font-sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    li {
      font-size: 14px;
    }

    .source {
      font-size: 11px;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
}

/* Great Company */
main article.story {
  #great-company {
    h2 {
      background: #000;
      color: #fff;
      font-family: $font-sans-serif-condensed;
      font-size: 44px;
    }

    p {
      background: #000;
      color: #fff;
    }


    .content.inverse {
      color: #fff;
      background: #000;

      img {
        margin-bottom: 5px;
        margin-left: 0;
        margin-top: 0;
      }

      h2 {
        padding: 0 20px;
      }

      p {
        padding: 10px 20px 30px;
      }
    }
  }
}

/* Meet Justice */
main article.story {
  #meet-justice {
    h2 {
      font-family: $font-sans-serif-condensed;
      font-size: 44px;
    }

    .subheading {
      font-size: 28px;
      font-style: italic;
      line-height: 1;
      margin-top: -8px;
    }

    dl {
      dt {
        color: #00a2e3;
        font-family: $font-sans-serif;
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
      }

      dd {
        padding-bottom: 7px;
      }
    }
  }
}

/* Artistic Nature w/Egret */
main article.story {
  #stats {
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;

    p {
      font-family: $font-sans-serif;
      font-size: 19px;
      font-style: italic;
      font-weight: 200;
      padding-left: 0;
      padding-right: 30px;
    }

    hr {
      border: 1px solid #000;
      width: 760px;
      margin-top: 8px;
    }

    h2 {
        margin:0;
    }

    .bigtext {
      color: #0d7b88;
      font-family: $font-sans-serif;
      font-size: 95px;
      font-weight: 800;
      letter-spacing: -4px;
      line-height: .8;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: left;
      text-transform: uppercase;

      .larger {
        letter-spacing: -4px;
        margin-bottom: 20px;
      }

      .smaller {
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }

    .col-md-5 {
      padding: 0;
    }

    .col-md-offset-1 {
      border-right: solid 1px #000;
      margin-right: 25px;
      padding-right: 25px;

      p {
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 30px;
      }

      .bigtext {
        color: #ffc904;
        text-align: right;

        .smaller {
          letter-spacing: 4px;
        }
      }
    }
  }
}

/* Artistic Nature w/Egret */
main article.story {
  #artistic-nature {
    .content.inverse {
      background: #000;
      color: #fff;
      height: 430px;
      margin-left: -7px;
      margin-top: 0;
      padding: 5px 20px 20px;
      position: relative;
      width: 280px;

      p {
        width: 180px;
      }
    }

    h2 {
      color: #fff;
      font-family: $font-sans-serif-condensed;
      font-size: 53px;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 45px;
      width: 150px;
    }

    .row {
      height: 432px;
      padding-bottom: 0;
      padding-left: 20px;
    }

    img {
      left: -93px;
      position: absolute;
      top: -15px;
    }

    .source {
      font-size: 11px;
      font-weight: 600;
      left: 20px;
      position: absolute;
      top: 375px;
    }

    .col-md-4 {
      padding-left: 0;
    }
  }
}

/* Bottom Three articles */
main article.story {
  .bottom {
    h2 {
      font-family: $font-sans-serif-condensed;
      font-size: 71px;
      letter-spacing: 0;

      em {
        color: #e98f71;
        font-style: normal;
      }
    }

    blockquote p {
      font-size: 22px;
      line-height: 1.6;
    }

    .source {
      font-size: 12px;
      text-transform: capitalize;
    }

    .row {
      margin-left: 0;
    }
  }

    #data {
      h2 {
        font-size: 52px;
        line-height: 1;
      }
    }

    #fiea {
      border-bottom: 2px solid #000;
      padding-left: 0;
    }

    #new-leader {
      position: relative;
      top: -150px;

      p {
        margin-bottom: 3px;
      }

      h2 {
        font-family: $font-sans-serif-condensed;
        font-size: 25px;
      }

      h3 {
        font-family: $font-serif;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 0;
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
        }
      }

      .col-md-2 img {
        margin-left: -8px;
        margin-top: 25px;
      }

      .col-md-4 {
        padding-left: 10px;
      }
    }
}

/* Responsive */
@media (max-width: 991px) {
  main article {
    &.story #stats {
      hr {
        width: 100%;
      }

      .col-xs-12 {
        padding-right: 0;

        .bigtext {
          letter-spacing: 0;
          text-align: center;

          .smaller {
            letter-spacing: 0;
            text-align: center;
          }
        }

        p {
          padding-bottom: 30px;
          padding-left: 10px;
          padding-right: 0;
          text-align: center;
        }
      }

      .col-md-offset-1 {
        border-right: 0;
        margin-right: auto;
        padding-right: 0;
      }
    }
    &.story #artistic-nature h2 {
      width: auto;
    }
  }
}

@media (max-width: 767px) {
  main article {

    &> .container {
      margin-bottom: 0;
    }

    #briefs-header h1 {
      font-size: 50px;
      line-height: 1em;
    }

    .social-wrap {
      padding-top: 10px;
    }

    &.story #new-leader {
      top: 0;
      position: static;
    }

    &.story #artistic-nature {
      .row {
        height: auto;
        padding-left: 10px;
        padding-right: 0;
      }

      .content.inverse {
        height: auto;
        margin: 0;
        padding: 5px 15px;
        width: auto;

        p {
          width: 100%;
        }

        .source {
          left: auto;
          position: static;
          top: auto;
        }
      }

      img {
        left: auto;
        margin: 0;
        position: static;
        top: auto;
        width: 100%;
      }

      .col-md-5 {
        padding-left: 0;
      }
    }
  }
}