@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

main .story *, main .story p {
  font-family: 'Open Sans', sans-serif;
}

main .story h1 {
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

main .story h3, main .story h4 {
  font-family: 'OpenSansCondensedBold', sans-serif;
  font-weight: 400;
}

/*
 * lead
 */

main .story .container-wide.lead {
  background-color: #242421;
  margin-bottom: 0;
  text-align: center;
}

main .story .lead h1 {
  color: #fff;
  font-size: 70px;
  margin: 60px 0 45px;
}

main .story .lead p {
  color: #e0db86;
  font-family: 'OpenSansCondensedLight', sans-serif;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 40px;
}

main .story .social-container {
  display: inline-block;
  margin-bottom: 35px;
}

main .story .container-wide.content {
  background-color: #029294;
}

/*
 * nano wire graphic
 */

main .story .img-container {
  position: relative;
}

main .story .content .nano-wire-img p {
  color: #fff;
  font-size: 18px;
}

main .story .content .nano-wire-img p.caption {
  font-size: 14px;
  text-align: center;
  margin-top: -30px;
}

main .story .content .nano-wire-img p.intro {
  margin-top: 50px;
}

main .story .content h2 {
  color: #e0db86;
  font-size: 32px;
  margin-top: 40px;
}

/* tool tip triggers */

main .story .fade-in-tool-tip-trigger {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 100;
}

/* tool tip trigger init animation */

@-webkit-keyframes show {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}


@-moz-keyframes show {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}


@-o-keyframes show {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes show {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}


.show {
  -webkit-animation: show 0.8s ease-in;
  -moz-animation: show 0.8s ease-in;
  -o-animation: show 0.8s ease-in;
  animation: show 0.8s ease-in;
}

/* tool tip trigger positioning */

main .story .tool-tip-cover {
  left: 74%;
  top: 49%;
}

main .story .tool-tip-outer-electrode {
  left: 62%;
  top: 50%;
}

main .story .tool-tip-separator {
  left: 54%;
  top: 57%;
}

main .story .tool-tip-coating {
  left: 65%;
  top: 74%;
}

main .story .tool-tip-nanowhiskers {
  left: 51%;
  top: 74%;
}

main .story .tool-tip-wire-core {
  left: 34%;
  top: 75%;
}

/* Tool Tip */

main .story .fade-in-tool-tip {
  background: #fff;
  display: none;
  left: 10%;
  opacity: 0;
  position: absolute;
  width: 80%;
  z-index: 1000;
}

@media (max-width: 480px) {
  main .story .fade-in-tool-tip {
    left: 0;
    width: 100%;
  }
}

main .story .fade-in-tool-tip header {
  background-color: #ffcc00;
  padding: 10px 15px 3px;
}

main .story .fade-in-tool-tip header .close {
  padding-top: 1px;
}

main .story .fade-in-tool-tip h3 {
  color: #575757;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

main .story .fade-in-tool-tip .close {
  font-weight: normal;
}

main .story .fade-in-tool-tip .content {
  font-size: 14px;
  padding: 15px;
}

/* tool tip animation */

main .story .slide-in {
  transition: .5s ease-in-out;
  margin-top: 0 !important;
}

main .story .slide-out {
  transition: .5s ease-in-out;
  margin-top: -10px !important;
}

/* sonar animation */

main .story .sonar {
  border: solid 1px #fff;
  border-radius: 50%;
  display: none;
  height: 18px;
  position: absolute;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  width: 18px;
  z-index: 10;
}

main .story .sonar-anime {
  transition: 1s ease-in-out;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
}

/*
 * Batteries vs. Capacitors
 */

main .story .bat-vs-cap {
  background-color: #5ab8b9;
  margin-top: 25px;
}

@media (max-width: 768px) {
  main .story .bat-vs-cap {
    padding-left: 8%;
    padding-right: 8%;
  }
}

main .story .bat-vs-cap .caption {
  font-size: 12px;
}

main .story .bat-vs-cap .intro {
  margin-bottom: 8px;
  margin-top: 50px;
}

main .story .bat-vs-cap h3, main .story .bat-vs-cap h4 {
  color: #fff;
  text-transform: uppercase;
}

main .story .bat-vs-cap h4 {
  margin-bottom: 8px;
}

main .story .bat-vs-cap ul {
  font-size: 14px;
  margin-left: 18px;
}

main .story .separator .span10 {
  border-bottom: #000 dotted 1px;
  margin-top: 25px;
  margin-bottom: 40px;
}

main .story .why-nanowhiskers span {
  display: inline-block;
  margin-top: 8px;
}

main .story .nanowhiskers-size {
  margin-bottom: 40px;
}

/*
 * Endless Possibilities
 */

main .story .nano-wire-uses, main .story .nano-wire-uses h3 {
  color: white;
}

main .story .nano-wire-uses {
  padding-bottom: 60px;
}

main .story .nano-wire-uses h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

main .story .nano-wire-uses p {
  font-size: 12px;
}
