@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
	background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

.content-container {
	margin-top: 40px;
	overflow: hidden;
}

.side-bar {
	@include gradient-directional(#262c44, #5d687e, 180deg);
	margin-top: 25px;
	height: 1000px;

	.jumper-container {
		position: relative;

		@keyframes cloudAnime {
			0% {
				top: 2350px;
			}
			100% {
				top: -350px;
			}
		}

		.cloud {
			position: absolute;
			animation-name: cloudAnime;
			animation-duration: 13s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			top: 1900px;
		}

		.cloud-sm-left {
			animation-duration: 6s;
			left: -300px;
			top: 1900px;
		}

		.cloud-sm-right {
			animation-delay: 3s;
			animation-duration: 22s;
			right: -100px;
			top: 1900px;
		}

		.cloud-sm {
			position: absolute;
			animation-name: cloudAnime;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		.pegasus {
			position: absolute;
			left: 40%;
			top: 2000px;
			animation-name: cloudAnime;
			animation-delay: 180s;
			animation-duration: 2s;
			animation-timing-function: linear;
		}

		.jumper {
			position: fixed;
			text-align: center;
			top: 50%;

			.counter {
				color: #fff;
				display: inline-block;
				font-size: 30px;
				padding: 20px 0;
				white-space: nowrap;
			}
		}

		.jumper-fixed {
			position: fixed;
		}

		.jumper-absolute {
			position: absolute;
			top: 1700px;
		}

	}
}

.content {
	background-color: #fff;
	position: relative;
	z-index: 200;
}