@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
	background: $start-color;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
	background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

article.story {

	h1 {
		color: #2c314b;
		font-size: 60px;
		margin-bottom: 5px;
		margin-top: 0;

		@media (max-width: 767px) {
			font-size: 50px;
		}
	}

	.content-container {
		margin-top: 40px;
	}

	.side-bar {
		@include gradient-directional(#2c314b, #9aaabc, 180deg);
		height: 1000px;
		overflow: hidden;

		// Animation control

		.pause {
			color: #fff;
			cursor: pointer;
			position: absolute;
			right: 5px;
			top: 5px;
			z-index: 300;
		}

		.jumper-container {
			position: relative;

			// Clouds

			@keyframes cloudAnime {
				0% {
					top: 2350px;
				}
				100% {
					top: -350px;
				}
			}

			.cloud {
				position: absolute;
				animation-name: cloudAnime;
				animation-duration: 13s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				top: 1900px;
			}

			.cloud-sm-left {
				animation-duration: 6s;
				left: -300px;
				top: 1900px;
			}

			.cloud-sm-right {
				animation-delay: 3s;
				animation-duration: 22s;
				right: -100px;
				top: 1900px;
			}

			.cloud-sm {
				position: absolute;
				animation-name: cloudAnime;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			// Pegasus

			.pegasus {
				position: absolute;
				left: 40%;
				top: 2000px;
				animation-name: cloudAnime;
				animation-delay: 180s;
				animation-duration: 2s;
				animation-timing-function: linear;
			}

			// Jumper

			@keyframes jumperInitAnime {
				from {
					top: -300px;
				}
				to {
					top: 0;
				}
			}

			@keyframes jumperAnime {
				from {
					padding-right: 8px;
				}
				to {
					padding-left: 8px;
				}
			}

			.jumper {
				text-align: center;
				position: absolute;
				animation-name: jumperInitAnime;
				animation-duration: 2s;

				@media (min-width: 1199px) {
					left: 8%;
				}

				.space-man {
					animation-name: jumperAnime;
					animation-direction: alternate;
					animation-duration: 3s;
					animation-iteration-count: infinite;
				}

				.counter {
					color: #fff;
					display: inline-block;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 30px;
					font-weight: bold;
					padding: 20px 0;
					white-space: nowrap;
				}
			}

		}
	}
}