// Issue Cover - Default Template
#home {
  background-color: #e5e5e5;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 11px;

  .heading-wrap {
    h2 {
      @include font-smoothing();
      border-bottom: 1px solid #828282;
      color: #828282;
      display: block;
      font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -.03em;
      margin-bottom: 30px;
      margin-top: 10px;
      position: relative;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      span {
        background: #e5e5e5;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        position: relative;
        top: 10px;
        left: ($grid-gutter-width / 2) * -1;

        @media (max-width: $screen-xs-max) {
          display: block;
          padding-bottom: 5px;
          top: 0;
        }
      }
    }
  }


  // Story thumbnails
  .thumb-wrapper {
    @media (max-width: 480px) {
      width: 50%;
    }
  }

  .thumb {
    -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    &.featured {
      margin-bottom: 11px;
      width: 100%;
    }

    &:hover .description {
      top: 0;
    }

    a {
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
      text-indent: 200%;
      white-space: nowrap;
      width: 100%;
      z-index: 5;
    }

    h2,
    h3 {
      color: #fff;
      font-family: $font-family-sans-serif;
      font-weight: bold;

      @media (max-width: $screen-xs-max) {
        color: #222;
      }
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .description {
    background: #222;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    filter: alpha(opacity=85);
    height: 100%;
    line-height: 22px;
    position: absolute;
    top: 100%;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    width: 100%;
    z-index: 4;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    > * {
      margin: 0;
      padding: 15px;
    }

    h3 {
      line-height: 20px;
    }
  }

  .home-article-1 {
    margin-bottom: 20px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      -webkit-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      overflow: visible;
    }

    a {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
    }

    img {
      -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, .2);
      box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, .2);
    }

    .description {
      bottom: 0;
      color: #fff;
      padding: 10px;
      position: absolute;
      z-index: 4;

      @media (max-width: $screen-xs-max) {
        background-color: transparent;
        color: #000;
        display: block;
        margin-top: 6px;
        padding: 0;
        position: static;
      }
    }

    h2 {
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 1.25em;
        padding: 0;
      }
    }
  }

  .home-article-2 {
    @media (max-width: $screen-xs-max) {
      float: left;
    }
  }

  .home-article-3 {
    @media (max-width: $screen-xs-max) {
      float: right;
    }
  }

  .thumb .description h2,
  .home-article-h1 .description h2 {
    line-height: 28px;
  }


  // Past Issues
  .home-past-issues {
    .past-issue {
      margin-bottom: 25px;
    }

    .past-issue-thumb {
      height: auto;
      width: 100%;
    }

    .past-issue-title {
      color: #000;
      font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
      font-weight: 700;
    }

    .archives-link {
      margin-top: 8px;

      a {
        color: #000;
        font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}


// Thanks IE.  http://stackoverflow.com/a/15034224
.ie #home .thumb a,
#home .home-article-1 a {
  background: url('about:blank');
}
