// Tooltips
.tooltip-inner {
  border: 1px solid #666;
}


// Buttons
.btn {
  font-family: $font-family-sans-serif;
}


// Pegasus logos
.logo-large-white {
  @include sprite();
  background-position: 0 -40px;
  height: 31px;
  width: 193px;

  @media (max-width: $screen-sm-max) {
    background-position: 0 -16px;
    height: 23px;
    width: 147px;
  }
}


// iPad App button
.ipad-app-btn {
  @include sprite();
  background-position: 0 -72px;
  height: 39px;
  width: 135px;
}


// iPad Modal
#ipad {
  display: none;
  text-align: center;
}


// Social buttons
%btn-social {
  background-image: url('../img/social-share.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 31px;
  margin-right: 4px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 70px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/social-share-r.png');
    background-size: 212px 62px;
  }
}

.social .share-twitter {
  @extend %btn-social;
  background-position: -71px 0;

  &:hover {
    background-position: -71px -31px;
  }
}

.social .share-facebook {
  @extend %btn-social;
  background-position: 0 0;

  &:hover {
    background-position: 0 -31px;
  }
}

.social .share-googleplus {
  @extend %btn-social;
  background-position: -142px 0;
  margin-right: 0;

  &:hover {
    background-position: -142px -31px;
  }
}


// Post Type Search results
.search-form {
  margin-bottom: 20px;
  position: relative;

  &:before {
    @include font-smoothing();
    // Search field icon
    color: #d1d1d1;
    content: '\e605';
    display: block;
    font-family: 'icomoon';
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 3;
  }

  label {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  .search-field {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    text-indent: 15px;
    width: 100%;
    z-index: 2;
  }

  .search-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: block;
    font-size: 20px;
    height: 100%;
    position: absolute;
    right: -2px;
    top: 0;
    width: 100px;
    z-index: 4;
  }
}

.post-type-search-results {
  min-height: 0;
}

#search-results {
  .result-list {
    list-style-type: none;
    margin-left: 0;

    li {
      margin-bottom: 20px;
    }

    a {
      word-wrap: break-word;
    }
  }
}


// Slideshows (fullscreen and embeds)
.ss-photo-essay {
  height: 100%;
  width: 100%;
}

article.ss-photo-essay {
  background-color: #212121;
}

.ss-content {
  // calculate height w/jquery
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
}

.ss-slides-wrapper {
  position: relative;
  top: 0;
  white-space: nowrap;

  @media (max-width: $screen-sm-max) {
    height: 65%;
  }

  .ss-photo-essay & {
    height: 80%;

    @media (max-width: $screen-xs-max) {
      height: 50%;
    }

    @media (max-width: 320px) {
      height: 40%;
    }
  }

  .ss-embed & {
    height: 360px;

    @media (max-width: $screen-xs-max) {
      height: 280px;
    }

    @media (max-width: 320px) {
      height: 140px;
    }
  }
}

.ss-slide-wrapper {
  display: inline-block;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 5;
}

.ss-closing-overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  .ss-slide {
    color: #fff;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    margin-top: 100px;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      margin-top: 25px;
    }

    @media (max-width: 480px) {
      margin-top: 50px;
    }

    @media (max-width: 320px) {
      margin-top: 25px;
    }
  }

  > .ss-slide {
    width: 500px;

    @media (max-width: $screen-xs-max) {
      width: 80%;
    }

    .ss-title {
      font-size: 30px;
      line-height: 30px;
      margin-top: 20px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
      }
    }
  }
}

.ss-control {
  color: #fff;
  font-size: 16px;

  @media (max-width: $screen-xs-max) {
    font-size: 11px;
  }

  &:hover {
    color: #fff;
  }

  i {
    background-color: #000;
    background-image: none !important;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 20px;

    @media (max-width: $screen-xs-max) {
      background-color: #000;
      font-size: 30px;
      margin-bottom: 10px;
      padding: 10px;
    }

    &:hover {
      background-color: #900;
    }
  }

  &.ss-play i {
    line-height: 15px;

    @media (max-width: $screen-xs-max) {
      font-size: 35px;
      line-height: 13px;
      margin-bottom: 0;
      padding: 12px;
    }
  }

  &.ss-restart i {
    line-height: 50px;

    @media (max-width: $screen-xs-max) {
      line-height: 30px;
    }
  }
}

.ss-slide {
  // center vertically
  bottom: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
  height: 100%;
  left: 0;
  margin: auto;
  -khtml-opacity: .2;
  -moz-opacity: .2;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;

  &.ss-current {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }

  > img {
    height: 100%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    width: 100%;
  }

  .title-wrap {
    white-space: normal;
  }
}

.ss-nav-wrapper {
  height: 100%;
  width: 100%;
}

.ss-arrow-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 10;
}

.ss-arrow-wrapper-left,
.ss-arrow-prev {
  left: 0;
}

.ss-arrow-wrapper-right,
.ss-arrow-next {
  right: 0;
}

.ss-arrow {
  background-color: transparent;
  color: #bebebe;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  > div {
    height: 60px;
    min-width: 40px;
    position: absolute;
    top: 40%;

    @media (max-width: $screen-sm-max) {
      top: 20%;
    }

    .ss-arrow-wrapper-left & {
      left: 0;
      margin-left: 10px;
    }

    .ss-arrow-wrapper-right & {
      margin-right: 10px;
      right: 0;
    }

    .ss-embed & {
      top: 180px;

      @media (max-width: $screen-xs-max) {
        top: 140px;
      }

      @media (max-width: 320px) {
        top: 50px;
      }
    }

    .ss-photo-essay & {
      @media (max-width: 320px) {
        height: 60%;
      }
    }
  }

  .ss-arrow-wrapper & {
    background-image: url('../img/transparent.gif');
    background-repeat: repeat;
  }

  &.ss-last {
    > div,
    > div:hover {
      color: #bebebe;
      filter: alpha(opacity=20);
      opacity: .2;
    }
  }
}

.ss-captions-wrapper {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 20px;
  position: relative;
  width: 56%;

  @media (max-width: $screen-sm-max) {
    height: 30%;
  }

  .ss-embed & {
    height: 300px;
  }

  .ss-photo-essay & {
    bottom: 0;
    height: 20%;
    padding-top: 0;
    position: absolute;

    @media (max-width: $screen-xs-max) {
      height: 50%;
    }
  }
}

.ss-caption {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .wysiwyg-text-align-center {
    text-align: center;
  }

  > p {
    color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  &.ss-current {
    z-index: 11;

    > p {
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
}

iframe[name="google_conversion_frame"] {
  height: 0 !important;
  width: 0 !important;
}
