// Stories - General
article.story {
  h2 {
    font-size: 36px;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 26px;

    @media (max-width: $screen-xs-max) {
      font-size: 25px;
    }
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > span {
      // allow line-height to reset properly
      display: block;
      letter-spacing: initial;
    }
  }

  .story-header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto 10px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      height: 490px;
      // max-width: 980px;
    }

    @media (max-width: $screen-xs-max) {
      background-size: 100% auto;
      height: auto;
      margin-bottom: 5px;
    }

    img {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;

      @media (max-width: $screen-xs-max) {
        height: auto;
        margin: 0;
        position: static;
        visibility: hidden;
        width: 100%;
      }
    }

    + .container .title-wrap {
      margin-top: 0;
    }
  }

  .description {
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    white-space: normal;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 28px;
    }

    em,
    i {
      font-style: normal;
    }
  }
}


// Story - Default Template
article.story-default {
  .title-wrap {
    margin-bottom: 15px;
    margin-top: 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .description-wrap {
    margin-bottom: 45px;
    white-space: nowrap;

    @media (max-width: $screen-sm-max) {
      display: block;
      white-space: normal;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }
  }

  // Allows social btns to be bottom-right aligned
  .description-col {
    display: inline-block;
    float: none;
    vertical-align: bottom;

    @media (max-width: $screen-sm-max) {
      display: block;
      float: left;
    }
  }

  .description {
    display: block;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  .social {
    float: right;
    margin-bottom: 8px;

    @media (max-width: $screen-sm-max) {
      float: left;
      margin-bottom: 0;
    }
  }
}


// Story - Photo Essay Template
article.photo-essay {
  .photo-essay-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 440px;
    position: relative;

    &:after {
      background-color: rgba(0, 0, 0, .7);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  .photo-essay-header-inner {
    left: 0;
    position: absolute;
    right: 0;
    top: 35%;
    transform: translate(0, -35%);
    z-index: 2;
  }

  .photo-essay-title,
  .photo-essay-description {
    color: #fff;
    text-align: center;
  }

  .photo-essay-description {
    font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 30px;

    strong {
      font-family: "Gotham SSm 6r", "Gotham SSm A", "Gotham SSm B", sans-serif;
      font-weight: 600;
    }

    em {
      font-style: italic;
    }
  }

  .social {
    text-align: center;

    .share-twitter,
    .share-facebook,
    .share-googleplus {
      display: inline-block;
      float: none;
      margin-right: 0;
    }
  }

  .photo-essay-item {
    margin-bottom: 0;
    margin-top: $grid-gutter-width / 2;

    .img-col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .photo-essay-img {
    margin: 0;
    width: 100%;

    &.pull-right {
      margin-left: 0;
    }

    &.pull-left {
      margin-right: 0;
    }
  }

  .photo-essay-caption,
  .photo-essay-caption-alternate {
    @media (min-width: $screen-lg-min) {
      font-size: 1.29vw;
    }

    @media (min-width: 1600px) {
      font-size: 1vw;
    }
  }

  .photo-essay-item-landscape,
  .photo-essay-item-square {

    &.alternate {
      .photo-essay-caption {
        padding: 30px 8.333% 60px;

        @media (min-width: $screen-lg-min) {
          padding: 60px 30px 0 0;
        }
      }
    }

    .photo-essay-caption {
      padding: 30px 8.333% 60px;

      @media (min-width: $screen-lg-min) {
        padding: 60px 0 0 30px;
      }
    }
  }

  .photo-essay-item-portrait {

    &.alternate {
      .photo-essay-caption {
        padding: 60px 30px 0 0;

        @media (max-width: $screen-xs-max) {
          padding: 30px 8.333% 60px;
        }
      }
    }

    .photo-essay-caption {
      padding: 60px 0 0 30px;

      @media (max-width: $screen-xs-max) {
        padding: 30px 8.333% 60px;
      }
    }
  }
}
