//
// Stories - Default template
//

.story-default {
  font-size: 1.1rem;
  line-height: 1.6;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }

  .story-header-image {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    max-width: 100%;
  }

  .title-wrap {
    margin-bottom: 5px;
    margin-top: 5px;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }

  .description-wrap {
    margin-bottom: 30px;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 45px;
      white-space: normal;
    }
  }

  // Allows social btns to be bottom-right aligned
  .description-col {
    align-self: flex-end;
    display: inline-block;
    float: none;

    @include media-breakpoint-down(md) {
      display: block;
      float: left;
    }
  }

  .description {
    display: block;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    white-space: normal;

    @include media-breakpoint-up(md) {
      font-size: 22px;
      line-height: 1.45;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    em,
    i {
      font-style: normal;
    }
  }

  .social {
    float: right;
    margin-bottom: 8px;

    @include media-breakpoint-down(md) {
      float: left;
      margin-bottom: 0;
    }
  }

  .lead {
    margin-bottom: 30px;
  }

  .caption {
    margin-bottom: 20px;
  }

  .story-sidebar {
    font-size: .95rem;
    line-height: 1.4;
  }

  .related-stories {
    // The important declaration is necessary for some of these styles to override
    // the custom inline type stylesheet. See get_default_template_font_css().
    // sass-lint:disable-block no-important
    h2 {
      color: $gray-dark !important;
      font-family: $font-family-sans-serif !important;
      font-size: 1rem;
      font-weight: bold !important;
      letter-spacing: .1rem !important;
      text-transform: uppercase !important;
    }
  }
}
