.blockquote {
  font-size: 1.2em;
  font-style: normal;
  margin: 2.5rem 0;
  padding: 0;
  position: relative;

  p {
    padding-top: 1.75rem;

    &::before {
      border-top: 8px solid;
      content: "";
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
      width: 20%;
    }
  }
}
