// Buttons
.lg-border-btn {
  border-bottom: 3px solid #e0b400;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  letter-spacing: 0;
  text-transform: none;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}
