// Callouts
.callout {
  margin-bottom: 30px;
  margin-top: 30px;

  &.callout-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -31px;
    margin-top: -40px;
    min-height: 500px;

    @media (min-width: 1200px) {
      min-height: 550px;
    }

    h1,
    h1 > span {
      font-size: 36px !important;  // Necessary to override inline css

      @include media-breakpoint-down(sm) {
        font-size: 85%;
      }
    }

    > .container,
    > .container .row,
    .callout-inner {
      min-height: inherit;
    }

    .lead,
    .lead > span {
      @include media-breakpoint-down(sm) {
        font-size: 18px !important;  // Necessary to override inline css
      }
    }

    .well {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 80%;
      }
    }
  }
}

.callout-outer {
  margin-bottom: 30px;
  margin-top: 30px;
}

.callout-affix {
  position: relative;
  z-index: 999;

  &.affix {
    margin-bottom: 0;
    margin-top: 0;
    left: 0;
    position: fixed !important;  // Necessary to override position:static on affixed callouts
    right: 0;
    top: 0;
    z-index: 999;

    &.affix-cancel {
      margin-bottom: 30px;
      margin-top: 30px;
      position: static !important;
      z-index: 1;
    }
  }

  &.affix-top {
    top: 0 !important;
  }
}

.callout-inner {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  > div {
    // Force centering of wrapper divs by default
    margin-left: auto;
    margin-right: auto;
  }

  > p:empty {
    // kill_empty_p_tags won't work for these shortcodes :(
    display: none;
  }

  // will not work in IE8
  > *:last-child {
    margin-bottom: 0;
  }
}
