// Sidebars
.sidebar {
  margin-bottom: 20px;

  &.pull-left,
  &.pull-right {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    &.pull-left {
      padding-left: 0;
      padding-right: $grid-gutter-width;
    }

    &.pull-right {
      padding-left: $grid-gutter-width;
      padding-right: 0;
    }
  }
}

.sidebar-inner {
  padding: 10px 30px;

  blockquote {
    &.quote {
      padding-left: 0;

      &:before {
        display: block;
        float: left;
        font-size: 28px;
        left: -5px;
        line-height: 38px;
        position: relative;
        top: 0;

        @include media-breakpoint-down(sm) {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }

    &,
    p {
      font-size: 28px;
      line-height: 38px;

      @include media-breakpoint-down(sm) {
        font-size: 26px;
        line-height: 36px;
      }
    }

    small {
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
    }
  }
}
