// Social buttons
.btn-social {
  background-image: url('../img/social-share.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 31px;
  margin-right: 4px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 70px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/social-share-r.png');
    background-size: 212px 62px;
  }
}

.social .share-twitter {
  @extend %btn-social;
  background-position: -71px 0;

  &:hover {
    background-position: -71px -31px;
  }
}

.social .share-facebook {
  @extend %btn-social;
  background-position: 0 0;

  &:hover {
    background-position: 0 -31px;
  }
}

.social .share-googleplus {
  @extend %btn-social;
  background-position: -142px 0;
  margin-right: 0;

  &:hover {
    background-position: -142px -31px;
  }
}
