//
// Component for displaying a list of stories
// within an issue.
//

// Shared styles
.story-list,
.story-list-grid {
  article {
    .story-title {
      color: #333;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin-top: 0;
    }

    &:hover .story-title,
    &:active .story-title {
      text-decoration: underline;
    }
  }

  .subtitle {
    color: #222;
    font-family: $font-family-serif;
    font-size: 13px;
    line-height: 1.4;

    em,
    i {
      font-style: normal;
    }
  }
}

// Horizontally-scrolling list of stories
.story-list {
  @include list-unstyled();
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
  display: block;
  margin-bottom: 0;
  overflow-x: scroll;
  padding-bottom: 30px;
  white-space: nowrap;
  width: 100%;

  article {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 20px;
    vertical-align: top;
    white-space: normal;
    width: 140px;

    &:last-child {
      margin-right: 80px;

      @include media-breakpoint-down(sm) {
        margin-right: 20px;
      }
    }

    img {
      // Fixed width/height required for lazyload
      height: 120px;
      width: 188px;

      @include media-breakpoint-down(md) {
        height: 97px;
        width: 146px;
      }
    }

    .story-title,
    .subtitle {
      clear: both;
      display: block;
      float: left;
      width: 100%;
    }

    .story-title {
      margin-bottom: 4px;
      margin-top: 15px;
    }
  }

  // Pulldown controls
  + .controls {
    background: #fff;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    z-index: 6;

    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    a {
      background-image: none !important;
      color: #696969;
      display: block;
      font-size: 28px;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      text-indent: 100%;
      white-space: nowrap;
      width: auto;

      &:hover,
      &:active {
        color: #ffc904;
        text-decoration: none;
      }

      &:before {
        background-image: none;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 0;
        top: 0;
      }

      &.close {
        filter: alpha(opacity=100);
        font-size: 36px;
        opacity: 1;
        top: 10%;

        &:before {
          content: '×';
        }
      }

      &.backward {
        right: 2px;
        top: 38%;
      }

      &.forward {
        left: 4px;
        top: 60%;
      }
    }
  }
}

.story-list-grid {
  article {
    margin-bottom: 20px;

    img {
      // Fixed width/height required for lazyload
      height: 53px;
      width: 80px;
    }

    .story-title,
    .subtitle {
      padding-left: 100px;
    }
  }
}
