article.story .story h1 {
    color: #53813E;
    font-size: 60px;
    margin-bottom: 5px;
}
article.story .story .description {
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    white-space: normal;
}
article.story .story h3 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: 20px 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
article.story .state-florida h3 {
    font-size: 40px;
    margin-bottom: 5px;
}
article.story .state-florida h4 {
    color: #53813E;
    font-style: italic;
    font-size: 30px;
    margin: 0 0 30px 30px;
}
article.story .callout {
    background-color: #F3E3CA;
    color: #53813E;
}
article.story .map-container {
    position: relative;
}
article.story .map-container img {
    margin: 0 0 30px !important;
}
article.story .map-container .map-image {
    display: none;
    position: absolute;
}
article.story .map-container img:last-child {
    position: static;
}
article.story .legend-container {
    background-color: #F9F1E3;
    left: 15%;
    padding: 20px;
    position: absolute;
    top: 26%;
}
article.story .legend-container h3 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 0 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
article.story .legend {
    list-style: none;
}
article.story ul.legend {
    margin: 0 0 10px;
}
article.story .legend li {
    background-color: #F9F1E3;
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0 !important;
    padding: 10px;
    transition: all 0.8s ease;
}
article.story .legend li.highlight {
    background-color: #F3E3CA;
    color: #000;
}
article.story .legend span {
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    width: 15px;
}
.legend .urban span {
    background-color: #d8a85e;
}
article.story .legend .current span {
    background-color: #acb859;
}
article.story .legend .proposed span {
    background-color: #799636;
}
article.story .legend .dash {
    padding-left: 2px;
}
article.story .legend li:hover {
    background-color: #DFBE8A;
}
article.story .chart-container {
    left: 14%;
    position: absolute;
    top: 60%;
}
article.story .animal-images {
    margin-top: 50px;
}
article.story .state-stats {
    background-color: #F9F1E3;
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: center;
}
article.story .state-stats .number {
    visibility: hidden;
    font-size: 36px;
}
article.story .state-stats .stat {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
article.story .species-stats {
    border-bottom: solid 2px #d8a85e;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-bottom: 10px;
}
article.story .species-stats .number {
    color: #799636;
    font-size: 60px;
    line-height: 17px;
    margin-bottom: 20px;
}
article.story .species-stats .stat {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}
article.story .species-list,
article.story .species-list p,
article.story .species-list li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
article.story .species-list ol {
    margin-bottom: 0;
}
article.story .species-list li {
    color: #799636;
}
article.story .species-list li span {
    color: #000;
}
article.story .species-list h4,
article.story .animal-images h4 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
}
article.story .animal-images {
    text-align: center;
}
article.story .footnote {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    margin-top: 20px;
}
article.story a[href^="#footnote"] {
    color: #000;
}
article.story .bear-cub {
    margin-right: 20px;
    margin-top: 5px;
    width: 33%;
}
article.story .bear-cub img {
    margin: 0 0 15px;
}
@media (max-width: 767px) {
    article.story .bear-cub {
        width: 100%;
    }
}
article.story .controlled-burn {
    text-align: center;
}
article.story .caption {
    color: #666;
}