article.story .story h1 {
    color: #d8a85e;
    font-size: 60px;
    margin-bottom: 5px;
}
article.story .story .description {
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    white-space: normal;
}
article.story .story h3 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: 20px 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
article.story .state-florida h3 {
    color: #d8a85e;
    font-size: 60px;
    margin-bottom: 5px;
}
@media (max-width: 992px) {
    article.story .state-florida h3 {
        font-size: 55px;
    }
}
article.story .state-florida h4 {
    color: #53813E;
    font-style: italic;
    font-size: 30px;
    margin: 0 0 30px 30px;
}
article.story .callout {
    background-color: #f9f1e3;
}
article.story .map-container {
    position: relative;
}
article.story .map-container img {
    margin: 0 0 30px !important;
}
article.story .map-container .map-image {
    display: none;
    position: absolute;
}
article.story .map-container img:last-child {
    position: static;
}
article.story .legend-container {
    background-color: #F3E3CA;
    left: 9%;
    padding: 10px;
    position: absolute;
    top: 30%;
}
@media (max-width: 992px) {
    article.story .legend-container {
        left: 4%;
        top: 35%;
    }
}
article.story .legend-container h3 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0 5px 5px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
article.story .legend {
    list-style: none;
}
article.story ul.legend {
    margin: 0;
}
article.story .legend li {
    background-color: #F9F1E3;
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0 !important;
    padding: 5px;
    transition: all 0.8s ease;
}
article.story .legend li.highlight {
    background-color: #F3E3CA;
    color: #000;
}
article.story .legend span {
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    width: 15px;
}
.legend .urban span {
    background-color: #d8a85e;
}
article.story .legend .current span {
    background-color: #acb859;
}
article.story .legend .proposed span {
    background-color: #799636;
}
article.story .legend .dash {
    padding-left: 2px;
}
article.story .legend li:hover {
    background-color: #DFBE8A;
}
article.story .chart-container {
    left: -23px;
    position: absolute;
    top: 63%;
}
@media (max-width: 992px) {
    article.story .chart-container {
        left: -11%;
        top: 77%;
    }
}
article.story .chart-container #state-of-nature-chart {
    margin-top: 34px;
}
@media (max-width: 992px) {
    article.story .chart-legend {
        margin-left: 0px;
    }
}
article.story .chart-legend ul {
    list-style: none;
    margin-left: 3px;
}
article.story .chart-legend li {
    margin-bottom: 10px;
}
article.story .chart-legend .number {
    line-height: normal;
    font-size: 16px;
}
article.story .chart-legend .existing {
    color: #acb859;
}
article.story .chart-legend .proposed {
    color: #799636;
}
article.story .chart-legend .urban {
    color: #d8a85e;
}
article.story .chart-legend .other {
    color: #F3E3CA;
}
article.story .chart-legend .acres {
    color: #d8a85e;
    font-size: 12px;
    text-transform: uppercase;
}
article.story .chart-legend .areas {
    border-bottom: solid 2px #d8a85e;
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
article.story .animal-images {
    margin-top: 50px;
}
article.story .state-stats {
    background-color: #F3E3CA;
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: center;
}
article.story .state-stats .number {
    visibility: hidden;
    font-size: 36px;
}
@media (max-width: 992px) {
    article.story .state-stats .number {
        font-size: 30px;
    }
}
article.story .state-stats .stat {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    article.story .state-stats .stat {
        font-size: 12px;
        padding-left: 2px;
        margin-bottom: 32px;
    }
}
article.story .species-stats {
    background-color: #F3E3CA;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-bottom: 5px;
}
article.story .species-stats .stat {
    font-size: 20px;
    line-height: 42px;
    font-style: italic;
    margin-top: 6px;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    article.story .species-stats .stat {
        font-size: 16px;
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    article.story .species-stats .stat {
        font-size: 14px;
        padding-left: 0;
    }
}
@media (max-width: 650px) {
    article.story .species-stats .stat {
        width: auto;
        line-height: normal;
    }
}
article.story .species-stats .number {
    color: #799636;
    font-size: 40px;
    padding-left: 30px;
    line-height: 43px;
}
@media (max-width: 992px) {
    article.story .species-stats .number {
        width: 11%;
    }
}
@media (max-width: 768px) {
    article.story .species-stats .number {
        display: inline-block;
        width: auto;
    }
}
article.story .species-list,
article.story .species-list p,
article.story .species-list li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
article.story .species-list ol {
    margin-bottom: 40px;
    margin-left: 18px;
}
article.story .species-list ul {
    list-style: none;
    margin-left: 22px;
    margin-bottom: 15px;
}
article.story .species-list li {
    list-style-position: inside;
    text-indent: -23px;
}
article.story .species-list.plants li {
    color: #799636;
    margin-bottom: 10px;
}
article.story .species-list li span {
    color: #000;
}
article.story .species-list h4,
article.story .animal-images h4 {
    border-bottom: solid 2px #d8a85e;
    display: inline-block;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
article.story .animal-images {
    text-align: center;
}
article.story .footnote {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    margin-top: 20px;
}
article.story a[href^="#footnote"] {
    color: #000;
}
article.story .bear-cub {
    margin-right: 20px;
    margin-top: 5px;
    width: 55%;
}
article.story .bear-cub img {
    margin: 0 0 15px;
}
@media (max-width: 767px) {
    article.story .bear-cub {
        width: 100%;
    }
}
article.story blockquote {
    color: #d8a85e;
}
article.story .text-center {
    text-align: center;
}
article.story .caption {
    color: #666;
}